<template>
  <div>
      <div class="w-full flex flex-wrap">
            <div class="p-2 flex-1 text-center cursor-pointer font-semibold" :class="[type == 'Club' ? 'text-primary' : 'bg-primary text-white']" @click="type = 'Club'"> {{ $t('clubes.types.clubs') }} </div>
            <div class="p-2 flex-1 text-center cursor-pointer font-semibold" :class="[type == 'University' ? 'text-primary' : 'bg-primary text-white']" @click="type = 'University'"> {{ $t('clubes.types.universities') }} </div>
            <div class="p-2 flex-1 text-center cursor-pointer font-semibold" :class="[type == 'Sponsor' ? 'text-primary' : 'bg-primary text-white']" @click="type = 'Sponsor'"> {{ $t('clubes.types.sponsors') }} </div>
            <div class="p-2 flex-1 text-center cursor-pointer font-semibold" :class="[type == 'Company' ? 'text-primary' : 'bg-primary text-white']" @click="type = 'Company'"> {{ $t('clubes.types.companies') }} </div>
      </div>
      <div class="p-4">
          <scout-clubs v-if="type == 'Club'" class="w-full" :typeclub="type"></scout-clubs> 
          <scout-clubs v-if="type == 'University'" class="w-full" :typeclub="type"></scout-clubs>
          <scout-clubs v-if="type == 'Sponsor'" class="w-full" :typeclub="type"></scout-clubs>
          <scout-clubs v-if="type == 'Company'" class="w-full" :typeclub="type"></scout-clubs> 
      </div>
  </div>
</template>

<script>
export default {
    data() {
        return {
            type: 'Club'
        }
    }
}
</script>

<style>

</style>