<template>
<div>
      <div class="w-full px-6">

        <div class="card-p">

            <div class="flex justify-between items-center border-b pb-2 mb-2">
              <h4 id="card_title"> {{ $t('recruitments.showing-recruitment') }} </h4>
              <div class="float-right">
                <a href="/recruitments" class="btn btn-light btn-sm float-right">
                  <i class="fa fa-fw fa-mail-reply" aria-hidden="true"></i>
                  <span v-html="$t('recruitments.buttons.back-to-recruitments')"></span>
                </a>
              </div>
            </div>
          

          <div class="w-full">
              <div class="flex flex-wrap w-full">
                  <!-- INFO -->
                    <div class="mb-6 w-full flex justify-center">
                        <div class="w-auto border border-primary p-2 flex flex-wrap items-center justify-between">
                            <div class="w-full sm:w-1/2 lg:w-auto"> 
                                <span class="font-bold"> {{ $t('recruitments.forms.place') }} : </span>  
                                <span class="text-lg font-thin"> {{ r.place }} </span>
                            </div>
                            <div v-if="r.addressComplete" class="w-full sm:w-1/2 lg:w-auto lg:px-4"> 
                                <span class="font-bold"> {{ $t('recruitments.forms.address') }} : </span>  
                                <a :href="'http://maps.google.com/maps?q='+r.addressComplete" class="text-lg font-thin"> {{ r.addressComplete }} </a>
                            </div>
                            <div class="w-full sm:w-1/2 lg:w-auto lg:px-4"> 
                                <span class="font-bold"> {{ $t('recruitments.forms.day') }} : </span>  
                                <!-- <span class=""> {{ r.day }} - {{ r.hour }} </span> -->
                                <span class="text-base font-thin"> {{ r.day_start }} {{ r.day_end ? ' - '+ r.day_end : '' }}
                                    <span class="text-gray-700"> {{ r.hour }} </span>
                                </span>
                            </div> 
                            <div class="w-full sm:w-1/2 lg:w-auto">
                                    <span class="text-green-700 text-lg"> {{ r.users_invited.filter(u => u.assist == 'yes').length }} </span>
                                    <span class="text-lg"> / </span>
                                    <span class="text-lg"> {{ r.users_invited.length }} </span>
                                    {{ $t('recruitments.invitation.assist') }}
                            </div>
                        </div>
                    </div>

                  <!-- USER INVITED -->
                  <div v-if="r.users_invited" class="w-full px-2 sm:w-1/2 sm:border-r mb-4 sm:mb-0">
                        <div class="flex w-full pb-2 border-b"> 
                            <div class="w-3/5 font-semibold">{{ $t('recruitments.invitation.athletesInvited') }} </div>
                            <div class="w-3/12 font-semibold"> {{ $t('recruitments.invitation.goToEvent') }} </div>
                        </div>
                        <div v-if="r.users_invited.length > 0" class="w-full h-64 overflow-y-scroll">
                            <div class="flex justify-between items-center w-full pt-4 pb-2 border-b" v-for="(u,i) in r.users_invited" :key="i">
                                <div v-if="u.user.athlete" class="w-3/5">
                                    <div class="w-full flex">
                                        <user-photo class="mr-4 w-16 h-16" :user="u.user"></user-photo>
                                        <div>
                                            <user-card-information :link="true" :user="u.user"></user-card-information>
                                        </div>
                                    </div>

                                </div>
                                <div v-if="u.user.athlete" class="w-3/12">
                                    <div v-if="u.assist">
                                        <span v-if="u.assist == 'perhaps'" class="badge badge-info rounded-full px-2 py-1"> {{ $t('recruitments.invitation.perhaps') }} </span>
                                        <span v-if="u.assist == 'yes'" class="badge badge-success rounded-full px-2 py-1"> {{ $t('recruitments.invitation.yes') }} </span>
                                        <span v-if="u.assist == 'no'" class="badge badge-danger rounded-full px-2 py-1"> {{ $t('recruitments.invitation.no') }} </span>
                                    </div>
                                </div>
                                <div class="w-1/12">
                                    <button @click.prevent="userToDelete = u.user">
                                        <img class="w-4 h-4" src="/img/close-icon.png" alt="Remove invitation">
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="pt-4" v-if="r.users_invited.length == 0">
                            {{ $t('recruitments.invitation.noAthletesInvited') }}
                        </div>
                        
                  </div>

                 <!-- INVITE USERS -->
                  <div v-if="r" class="w-full border-t sm:border-t-0 pt-2 sm:pt-0 px-2 sm:w-1/2">
                  <div class="w-full flex justify-between items-center border-b pb-2">
                        <div class="font-semibold"> {{ $t('recruitments.invitation.title-2') }} </div>
                        <div class="w-auto">
                            <button :disabled="usersToAdd.length == 0" @click="sendInvitations" class="btn btn-info btn-sm rounded-full"> {{ $t('recruitments.invitation.send') }} </button>
                        </div>
                  </div>
                    <div class="flex w-full mx-auto text-center">
                        <span @click="filter = 'all'" :class="[filter == 'all' ? 'border border-primary bg-white text-primary': 'text-white bg-primary']" class="cursor-pointer font-semibold flex-1"> {{ $t('recruitments.invitation.all') }} </span>
                        <span @click="filter = 'followed'" :class="[filter == 'followed' ? 'border border-primary bg-white text-primary': 'text-white bg-primary']" class="cursor-pointer font-semibold flex-1"> {{ $t('recruitments.invitation.followed') }} </span>
                        <span @click="filter = 'favorites'" :class="[filter == 'favorites' ? 'border border-primary bg-white text-primary': 'text-white bg-primary']" class="cursor-pointer font-semibold flex-1"> {{ $t('recruitments.invitation.favorites') }} </span>
                        <span @click="filter = 'followers'" :class="[filter == 'followers' ? 'border border-primary bg-white text-primary': 'text-white bg-primary']" class="cursor-pointer font-semibold flex-1"> {{ $t('recruitments.invitation.followers') }} </span>
                    </div>
                    <div class="w-full h-64 overflow-y-scroll">
                        <div class="flex w-full items-center py-2 border-b" v-for="(u,i) in users_filtered" :key="i">
                                <div class="w-auto">
                                  <input v-model="usersToAdd" :value="u.id" class="cursor-pointer mr-2 form-checkbox" type="checkbox">  
                                </div>
                                <div>
                                    <user-card-information :link="true" :user="u"></user-card-information>
                                </div>
                        </div>
                    </div>
                        
                  </div>
              </div>
          </div>
        </div>
      </div>

    <!-- Modal Confirm Delete User From Recruitment -->
    <modal v-if="userToDelete" @close="userToDelete = null">
     
      <div slot="body">
          <div class="col-12 py-2">
              {{ $t('recruitments.invitation.messageDelete',{'name':  `${userToDelete.firstname} ${userToDelete.lastname}` }) }}
          </div>
      </div> 
      <div slot="footer">
          <div class="pull-right">
            <button class="btn" @click.prevent="userToDelete = null"> 
              <i class="fa fa-fw fa-close" aria-hidden="true"></i>
              {{ $t('forms.cancel') }}
            </button>
            <button class="btn btn-danger" @click.prevent="deleteUser"> 
              <i class="fa fa-fw fa-trash-o" aria-hidden="true"></i>
              {{ $t('recruitments.invitation.delete') }} 
            </button>
          </div>
      </div> 
    </modal>

</div>
</template>

<script>
export default {
    data() {
        return {
            r: null,
            usersToAdd: [],
            userToDelete: null,
            filter: 'all',
            followed: [],
            followers: [],
            favorites: []
        }
    },
    created() {
        this.r = this.recruitment;
        this.getUsersToSendInvitation();
    },
    props: {
        recruitment: {
            required: true,
            default: null
        }
    },
    computed: {
        users_filtered() {
            // console.log(this.favorites);
            let favorites = this.favorites.length > 0 ? this.favorites.map(u => u.favorite) : [];
            let followed = this.followed.length > 0 ? this.followed.map(u => u.following) : [];
            let followers = this.followers.length > 0 ? this.followers.map(u => u.user) : [];
            let arrayMerged = [];
            switch (this.filter) {
                case 'followed':
                    arrayMerged = followed;
                    break;
                case 'followers':
                    arrayMerged = followers;
                    break;
                case 'favorites':
                    arrayMerged = favorites;
                    break;
                default:
                    arrayMerged = [...favorites, ...followed,...followers];
                    arrayMerged = _.uniqBy(arrayMerged,'id');
                    break;
            }

            return arrayMerged.filter(u => u.athlete);
        }
    },
    methods: {
        getRecruitment() {
            axios.get(`/api/recruitments/${this.recruitment.id}`).then(res => {
                this.r = res.data.recruitment;
            })
        },
        getUsersToSendInvitation() {
            axios.get(`/api/recruitments/${this.recruitment.id}?withUsers=true`).then(res => {
                this.r = res.data.recruitment;
                this.favorites = res.data.favorites;
                this.followed = res.data.followed;
                this.followers = res.data.followers;
            })    
        },
        sendInvitations() {
            $('#edit-athlete-success').addClass('hidden');
            axios.post(`/api/recruitments/${this.recruitment.id}/invitations/send`,{idUsers: this.usersToAdd}).then(res => {
                $('#edit-athlete-success').removeClass('hidden');
                $('#edit-athlete-success #message').html(res.data.res);
                $("html, body").animate({ scrollTop: 0 }, "slow");
                this.usersToAdd = [];
                this.getUsersToSendInvitation();
            })
        },
        deleteUser() {
            $('#edit-athlete-success').addClass('hidden');
            axios.delete(`/api/recruitments/${this.recruitment.id}/user/${this.userToDelete.id}`).then(res => {
                $('#edit-athlete-success').removeClass('hidden');
                $('#edit-athlete-success #message').html(res.data.res);
                $("html, body").animate({ scrollTop: 0 }, "slow");
                this.getUsersToSendInvitation();
                this.userToDelete = null;
            })
        }
    }
}
</script>

<style>

</style>
