<template>
  <div class="mt-4 flex flex-wrap mb-4">
      <!-- <gallery :images="videos" :index="index" @close="index = null"></gallery> -->
      <div class="flex flex-wrap w-full mb-2 items-center">
          <h4 class="font-bold pr-2"> {{ $t('profile.videos') }} </h4>
          <div v-if="!loading && user.scout" class="w-auto">
              {{ $t('profile.videosAvailables') }}:
              <span class="bg-primary rounded-lg text-white px-2 py-1 font-semibold"> {{ videosAvailables }} </span>
          </div>
      </div>
    <div v-if="loading" class="flex w-full items-center h-24">    
            <spinner class="mx-auto"></spinner>
    </div>
    <div v-else id="list-images" style="max-height: 20rem;overflow-y: scroll;" class="w-full flex flex-wrap my-2">
      <div
        v-for="(img,i) in videosOrdered"
        :key="i"
        style="height: 130px;"
        class="relative pr-2 mb-2 overflow-hidden rounded-lg w-1/2 md:1/3 lg:w-1/4"
      >
        <span @click.prevent="videoDelete = img" class="delete-media close-icon">
          <img class="w-full" src="/img/profile/delete.png" alt="Delete Image">
        </span>
        <!-- Video -->
        <!-- <lazy-component class="h-full w-full" v-if="img.fullUrl" tag="div">
          <video @click.prevent="video = i" class="cursor-pointer w-full h-full object-cover rounded-lg">
              <source :src="img.fullUrl" :type="img.mime_type">
          </video>
        </lazy-component> -->
        <lazy-component class="h-full w-full" tag="div">
          <div @click.prevent="video = i" class="cursor-pointer w-full h-full object-cover rounded-lg">
            <iframe style="pointer-events:none;height: 130px;" @click.prevent="video = i" class="w-full object-cover rounded-lg" :src="img.url" frameborder="0"></iframe>
          </div>
        </lazy-component>
      </div>
    

    <div v-if="videosOrdered.length < this.user.videosToUpload" class="self-end mx-2 my-2 w-auto">
      <button @click="modalImageVisible = true" class="btn btn-gray-outline rounded-full"> {{ $t('profile.athlete.uploadVideoFromUrl') }} </button>
    </div>
    </div>
    
    

    <!-- Modal Videos -->
    <modal-media :type="'video'" 
      :media="videosOrdered[video]" 
      :countMedia="videosOrdered.length" 
      :indexMedia="video" 
      @previous="video = video-1" 
      @next="video = video+1" 
      v-if="video != null" 
      @close="video = null">
    </modal-media>

    <!-- Modal To Delete -->
    <modal v-if="videoDelete" @close="videoDelete = null">
      
      <div slot="body">
          <div class="col-12 pyy-2">
            {{ $t('profile.athlete.deleteVideo') }}
          </div>
      </div> 
      <div slot="footer">
          <div class="pull-right">
            <button class="btn" @click.prevent="videoDelete = null"> 
              <i class="fa fa-fw fa-close" aria-hidden="true"></i>
              {{ $t('forms.cancel') }} 
            </button>
            <button class="btn btn-danger" @click.prevent="deleteMedia"> 
              <i class="fa fa-fw fa-trash-o" aria-hidden="true"></i>
              {{ $t('profile.athlete.delete') }} 
              </button>
          </div>
      </div> 
    </modal> 

    <!-- Modal to add image from URL -->
    <modal v-if="modalImageVisible" @close="modalImageVisible = false">
      
      <div slot="body">
          <div class="col-12 py-2">
            <label for=""> {{ $t('profile.athlete.urlVideo') }} </label>
            <input type="text" v-model="urlVideo" class="form-control">
            <div class="text-danger pt-2" v-if="error"> {{ error }} </div>
          </div>
      </div> 
      <div slot="footer">
          <div class="pull-right">
            <button class="btn" @click.prevent="modalImageVisible = false"> 
              <i class="fa fa-fw fa-close" aria-hidden="true"></i>
              {{ $t('forms.cancel') }}
            </button>
            <button class="btn btn-success" @click.prevent="addMediaFromUrl"> 
              <i class="fa fa-fw fa-upload" aria-hidden="true"></i>
              {{ $t('profile.athlete.upload') }} 
            </button>
          </div>
      </div> 
    </modal> 

  </div>
</template>

<script>
// import vue2Dropzone from "vue2-dropzone";
// import "vue2-dropzone/dist/vue2Dropzone.min.css";
import { mapState, mapActions } from "vuex";

export default {
  data: function() {
    return {
      loading: false,
      media: [],
      urls: [],
      indexGallery: null,
      visibleGallery: false,
      baseurl: window.document.head.querySelector('meta[name="api-base-url"]').content,
      error: null,
      video: null,
      videoDelete: null,
      urlVideo: '',
      modalImageVisible: false
    };
  },
  computed: {
    videosAvailables() {
      if(this.user.videosToUpload == 'Unlimited') return 'Unlimited';
      return (this.user.videosToUpload - this.videosOrdered.length) >= 0 ? (this.user.videosToUpload - this.videosOrdered.length) : 0;
    },
    videosOrdered() {
      // let result = [...this.media, ...this.urls];
      let result = this.urls;
      result = result.sort(function(a,b){
        // Turn your strings into dates, and then subtract them
        // to get a value that is either negative, positive, or zero.
        return -(new Date(b.updated_at) - new Date(a.updated_at));
      });
      return result;
    }
  },
  // components: {
  //   vueDropzone: vue2Dropzone
  // },
  created() {
    let _this = this;
    setTimeout(function() {
      _this.getMedia();
    }, 1000);
  },
  props: {
    user: {
      required: true,
      default: null
    }
  },
  methods: {
    ...mapActions(["set_user"]),
    getMedia() {
      this.loading = true;
      axios.get("api/user/media?type=videos").then(res => {
        this.media = res.data.images;
        this.urls = res.data.urls;
        this.loading = false;
      });
    },
    deleteMedia() {
      let query = !this.videoDelete.mime_type ? '?isUrl=url' : '';
      axios.delete(`api/user/media/delete/${this.videoDelete.id}${query}`).then(res => {
        this.media = [];
        this.getMedia();
        this.videoDelete = null;
        this.error = '';
      });
    },
    addMediaFromUrl() {
      this.error = null;
      if(this.urlVideo != '') {
        axios.post(`${this.baseurl}/api/user/videos/upload`,{url: this.urlVideo}).then(res => {
            this.getMedia();
            this.modalImageVisible = false;
            this.urlVideo = '';
        },
        err => {
          console.log(err);
          this.error = err.response.data.msg ? err.response.data.msg : err.response.data.errors.url[0];
        });
      }
    }
  }
};
</script>

<style>
</style>
