<template>
  <div>
    <div class="pb-6">
      <div class="col-12 px-0">
        <h5 class="font-bold">{{ $t('titles.sportScout') }}</h5>
      </div>
      <div class="mt-2 col-12 px-0 col-sm-8 col-md-6">
        <select class="form-control" v-model="sportSelected">
          <option :value="null">{{ $t('titles.sport') }}</option>
          <option v-for="(s,i) in sports" :key="i" :value="s.id">{{ $t('sportfields.titles.' + s.name) }}</option>
        </select>
      </div>
    </div>

    <div class="px-0 col-12">
      <button @click="save" type="button" class="btn btn-success rounded-full">
        <i aria-hidden="true" class="fa fa-fw fa-save"></i>
        {{ $t('profile.submitProfileButton') }}
      </button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      scout: null,  
      sports: [],
      sportSelected: null
    };
  },
  props: {
    user: {
      required: true,
      default: null
    }
  },
  async created() {
    await this.getSports();
    this.sportSelected = this.user.scout.sport_id;
  },
  methods: {
    getSports() {
      axios.get("/api/sports").then(res => {
        this.sports = res.data.sports;
      });
    },
    // getScout() {
    //   axios.get(`/api/athlete/${this.user.athlete.id}`).then(res => {
    //     this.athlete = res.data.scout;
    //   });
    // },
    save() {
      let data = { sport: this.sportSelected };
      axios.post(`/api/scout/${this.user.scout.id}/sports`, data)
        .then(
          res => {
            console.log(res);
            $('#edit-athlete-success').removeClass('hidden');
            $('#edit-athlete-success #message').html(res.data.msg);
            $("html, body").animate({ scrollTop: 0 }, "slow");
            $('.nav-pills a[href=".clubs-tab"]').tab('show')
            // window.location.href = res.data.url;
          },
          error => {
            console.log(error);
          }
        );
    }
  }
};
</script>

<style>
</style>
