<template>
  <div class="p-2 sm:p-4 bg-white rounded-lg shadow-lg">
    <!-- <h4 class="mb-4">{{ $t('dashboard.articles.title') }}</h4> -->

    <div class="w-full">
      <swiper-carousel
        @selectArticle="selectCurrentArticle"
        :breakpoints="breakpointsCarousel"
        :slidesPerView="articles.length > 2 ? 2 : articles.length"
        :nameCarousel="'carousel-articles'"
        :isLoop="true"
        v-if="articles.length > 0"
      >
        <!-- <slot> -->
        <div class="swiper-slide" v-for="(a,i) in articles" :key="i">
          <div class="flex flex-wrap sm:flex-no-wrap h-full lg:border-r px-2">
            <div class="w-full sm:w-1/3">
              <img class="rounded-lg w-full h-full object-cover" :src="a.image" alt />
            </div>
            <div class=" w-full sm:w-2/3">
              <div class="px-1 flex flex-col justify-between h-full">
                <div>
                  <div class="text-base font-semibold text-title">{{  a.title }}</div>
                  <div class="text-xs text-gray-700">{{ a.timeAgo }}</div>
                </div>
                <div class="text-prev mt-2 text-gray-700 text-sm w-full">{{ a.body }}</div>
                <div class="flex justify-between text-xs text-gray-600">
                  <div></div>
                  <div>
                    <button @click="currentArticle = a" :data-id="a.id" class="text-sm text-primary hover:underline">{{ $t('dashboard.articles.readmore') }}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- </slot> -->
      </swiper-carousel>
    </div>
    <div v-if="loading" class="flex items-center h-24">
      <spinner class="mx-auto"></spinner>
    </div>
    <div
      v-if="!loading && articles.length == 0"
      class="w-full"
    >{{ $t('dashboard.articles.noResults') }}</div>
    <!-- More Info -->
    <!-- <div class="flex justify-center">
        <button class="hover:underline" @click="getArticles" v-if="isMoreInfo"> {{ $t('dashboard.articles.moreResults') }} </button>
    </div>-->

    <!-- Modal Article -->
    <modal class="modal-article" v-if="currentArticle" @close="currentArticle = null">
      <div class="pt-2" slot="body">
        <div class="mb-2 flex justify-between">
          <h3 class="w-full text-lg sm:text-2xl">{{ currentArticle.title }}</h3>
          <button class="pl-4 close-icon" @click="currentArticle = null"></button>
        </div>

        <div class="w-full my-2 text-gray-600 text-base" v-if="currentArticle.resume">{{ currentArticle.resume }}</div>

        <div class="w-full mt-2" v-if="currentArticle.hasImage">
          <img class="rounded object-contain" :src="currentArticle.image" :alt="currentArticle.title"/>
        </div>
        <div class="mt-4 w-full">
          <div class="text-gray-600 text-sm">{{ currentArticle.timeAgo }}</div>
          <div class="pt-2">{{ currentArticle.body }}</div>
        </div>

        <!-- Other articles -->
        <div class="w-full border-t-2 pt-2 mt-2">
          <div class="w-full py-1 border-b last:border-b-0" v-for="(a,i) in articles.filter(a => a.id != currentArticle.id)" :key="i">
            <div class="flex flex-wrap sm:flex-no-wrap h-auto sm:h-24 px-2">
              <div class="w-full sm:w-1/3">
                <img class="rounded-lg w-full h-full object-cover" :src="a.image" alt />
              </div>
              <div class=" w-full sm:w-2/3">
                <div class="px-1 flex flex-col justify-between h-full">
                  <div>
                    <div class="text-base text-title">{{ a.title }}</div>
                    <div class="text-xs text-gray-700">{{ a.timeAgo }}</div>
                  </div>
                  <div class="text-prev mt-2 text-gray-700 text-sm w-full">{{ a.body }}</div>
                  <div class="flex justify-between text-xs text-gray-600">
                    <div></div>
                    <div>
                      <button @click="changeCurrentArticleModal(a)" class="text-sm text-primary hover:underline"
                      >{{ $t('dashboard.articles.readmore') }}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Other articles -->
      </div>
      <div slot="footer"></div>
    </modal>
  </div>
</template>

<script>
import SwiperCarousel from "@/utils/SwiperCarousel";
import { cutText } from "@/utils/functions.js";
export default {
  data() {
    return {
      loading: false,
      data: [],
      currentArticle: null,
      articles: [],
      next_page: 1,
      breakpointsCarousel: {
        1023: {
          slidesPerView: 1,
          spaceBetween: 0
        }
      }
    };
  },
  components: {
    SwiperCarousel
  },
  created() {
    this.getArticles();
  },
  computed: {
    isMoreInfo() {
      if (!this.data.current_page) return true;
      if (
        this.articles.length > 0 &&
        this.data.current_page != this.data.last_page
      )
        return true;
      return false;
    }
  },
  methods: {
    getArticles() {
      this.loading = true;
      axios.get(`/api/articles?size=4&page=${this.next_page}`).then(res => {
        this.data = res.data.articles;
        this.articles = [...this.articles, ...res.data.articles.data];
        this.mapArticlesCurrentLang();
        this.next_page += 1;
        this.loading = false;
      });
    },
    mapArticlesCurrentLang() {
      let lang = window.lang; 
      this.articles = this.articles.map(article => {
        return {
          id: article.id,
          timeAgo: article.timeAgo,
          hasImage: article.hasImage,
          image: article.image,
          title: lang == 'en' ? article.title.en : article.title.es,
          resume: lang == 'en' ? article.resume.en : article.resume.es,
          body: lang == 'en' ? article.body.en : article.body.es 
        }
      })
    },
    changeCurrentArticleModal(article) {
      this.currentArticle = article;
      $('.modal-article .modal-container').animate({ scrollTop: 0 });
    },
    cutText(text, cant) {
      return cutText(text, cant);
    },
    selectCurrentArticle(id) {
      this.articles.forEach(a => {
        if(a.id == id) this.currentArticle = a;
      }); 
    }
  }
};
</script>
    
<style style="scss" scoped>
.swiper-slide-next > div {
  border-right: none;
}

.text-prev {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.3rem;
  max-height: 2.6rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.3rem;
  max-height: 1.3rem;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media(min-width: 640px) {
  .swiper-slide {
    height: 8rem !important;
  }
}
</style>
