<template>
  <input @change="emitValue" v-model="inputValue" />
</template>
<script>
export default {
  data() {
    return {};
  },
  props: {
    value: {
      required: true
    }
  },
  model: {
    prop: "",
    event: "update"
  },
  created() {
    this.inputValue = this.value;
  },
  mounted: function() {
    let _this = this;
    let lang = $('html').attr('lang');
    console.log(lang);
    $(this.$el).datepicker({
      language: lang,
      autoClose: true,
    //   timepicker: true,
      dateFormat: 'dd/mm/yyyy',
      onSelect: function (fd, d, picker) {
          _this.$emit("update:value", fd);
      }
    });
  },
  methods: {
    emitValue() {
      this.$emit("update:value", this.inputValue);
    }
  }
};
</script>