<template>
  <transition name="modal">
    <!-- <div class="z-10 background-black"></div> -->
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div @click="$emit('close')" class="close-icon"></div>
        <!-- <div  class="previous-icon"></div> -->
        <!-- <div class="next-icon"></div> -->
        
        <button v-if="countMedia && countMedia > 0" :disabled="indexMedia == 0" @click="$emit('previous')" class="btn__prev">
          <svg aria-hidden="true" class="vel-icon icon">
            <use xlink:href="#icon-prev">
              <svg id="icon-prev" viewBox="0 0 1024 1024">
                <path d="M784.652701 955.6957 346.601985 517.644983c-2.822492-2.822492-2.822492-7.902977 0-11.289967l439.179713-439.179713c6.77398-6.77398 10.725469-16.370452 10.725469-25.966924L796.507166 36.692393c0-20.32194-16.370452-36.692393-36.692393-36.692393l-4.515987 0c-9.596472 0-19.192944 3.951488-25.966924 10.725469L250.072767 489.420066c-12.418964 12.418964-12.418964 32.740904 0 45.159868l477.565601 477.565601c7.338479 7.338479 17.499449 11.854465 28.224917 11.854465l0 0c22.015436 0 40.079383-18.063947 40.079383-40.079383l0 0C796.507166 973.759647 791.99118 963.598677 784.652701 955.6957z"/>
              </svg>
            </use>
          </svg>
        </button>
        <button v-if="countMedia && countMedia > 0" :disabled="countMedia-1 == indexMedia" @click="$emit('next')" class="btn__next">
          <svg aria-hidden="true" class="vel-icon icon">
            <use xlink:href="#icon-next">
              <svg id="icon-next" viewBox="0 0 1024 1024">
                <path d="M246.121279 955.6957l438.050717-438.050717c2.822492-2.822492 2.822492-7.902977 0-11.289967L244.992282 67.175303c-6.77398-6.77398-10.725469-16.370452-10.725469-25.966924L234.266814 36.692393C234.266814 16.370452 250.637266 0 270.959206 0l4.515987 0c9.596472 0 19.192944 3.951488 25.966924 10.725469l478.694598 478.694598c12.418964 12.418964 12.418964 32.740904 0 45.159868l-477.565601 477.565601c-7.338479 7.338479-17.499449 11.854465-28.224917 11.854465l0 0c-22.015436 0-40.079383-18.063947-40.079383-40.079383l0 0C234.266814 973.759647 238.7828 963.598677 246.121279 955.6957z"/>
              </svg>
            </use>
          </svg>
        </button>
        <div class="modal-container">
          <!-- <div class="modal-header"> -->
          <!-- <slot name="header"></slot> -->
          <!-- </div> -->
          <!-- <button class="btn close-icon" @click="$emit('close')"></button> -->
          <div class="modal-body">
            <slot name="body">
              <div v-if="type == 'video'">
                <!------------ TABLE Media and MediaUrl  ---------->

                <video v-if="media.fullUrl" class="w-full rounded" controls preload="auto" autoplay allowfullscreen>
                  <source :src="media.fullUrl" :type="media.mime_type" />
                </video>
                <iframe
                  v-else-if="media.url && media.type=='videos'"
                  class="w-full rounded"
                  :src="media.url+'?autoplay=1&mute=1&enablejsapi=1'"
                  height="400"
                  autoplay="1"
                  allowfullscreen
                  frameborder="0"
                ></iframe>

                <!------------ TABLE Updates  ------------>
                <!-- Video -->
                <video v-else-if="!media.url && media.url_video" class="w-full rounded" controls autoplay allowfullscreen>
                  <source :src="media.url_video" :type="media.mime_type" />
                </video>

                <!-- URL VIDEO -->
                <div v-else-if="media.url && media.url_video">
                  <iframe
                    class="w-full rounded"
                    :src="media.url_video+'?autoplay=1&mute=1&enablejsapi=1'"
                    height="400"
                    autoplay="1"
                    allowfullscreen
                    frameborder="0"
                  ></iframe>
                </div>
              </div>
              <div v-else-if="type == 'image'">
                <!-- Table Media -->
                <img
                  v-if="media.fullUrl"
                  style="max-width: 100%;max-height: 100vh;"
                  class="object-contain mx-auto"
                  :src="media.fullUrl"
                  :alt="media.name"
                />

                <!-- Table Updates -->
                <img
                  v-else-if="media.url_image"
                  style="max-width: 100%;max-height: 100vh;"
                  class="object-contain mx-auto"
                  :src="media.url_image"
                  :alt="'Image'"
                />
              </div>
            </slot>
          </div>

          <!-- <div class="modal-footer">
            <slot name="footer">
              default footer
              <button class="modal-default-button" @click="$emit('close')">OK</button>
            </slot>
          </div>-->
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
export default {
  data() {
    return {};
  },
  props: {
    media: {
      required: true,
      type: Object
    },
    type: {
      required: true,
      type: String
    },
    indexMedia: {
      type: Number,
      required: false
    },
    countMedia: {
      type: Number,
      required: false
    }
  }
};
</script>

<style lang="scss" scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  bottom: initial;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.65);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  max-width: 700px;
  margin: 0px auto;
  padding: 0px;
  background-color: transparent;
  position: relative;
  border-radius: 10px;
  box-shadow: none;
  transition: all 0.3s ease;
  font-family: Helvetica, Arial, sans-serif;
  @media (max-width: 400px) {
    width: 300px;
  }
}

.modal-header {
  padding: 0.5rem 0rem;
  border-bottom: none;
}
.modal-header h3 {
  margin-top: 0;
}

.modal-body {
  margin: 0px;
  padding: 0rem;
}

.modal-default-button {
  float: right;
}

.modal-footer {
  padding: 0.5rem 0rem;
  border-top: none;
}
/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.close-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background: transparent;
}

.close-icon:before,
.close-icon:after {
  position: absolute;
  left: 12px;
  content: " ";
  height: 54px;
  width: 3px;
  background-color: #fff;
}
.close-icon:before {
  transform: rotate(45deg);
}
.close-icon:after {
  transform: rotate(-45deg);
}

.btn__next {
  top: 50%;
  right: 20px;
  font-size: 40px;
  @media(max-width: 550px) {
    right: 10px;  
  }
}

.btn__prev {
  top: 50%;
  left: 20px;
  font-size: 40px;
  @media(max-width: 550px) {
    left: 10px;  
  }
}

.btn__next,
.btn__prev {
  cursor: pointer;
  position: absolute;
  font-size: 60px;
  color: #fff;
  opacity: 0.6;
  transition: 0.15s linear;
  z-index: 90;
  &[disabled] {
    pointer-events: none;
    color: #ffffff7d
  }
  .vel-icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    @media(max-width: 550px) {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}
</style>
