<template>
  <div class="editor">
    <!-- <input type="text" v-model="editor.extensions.options.placeholder.emptyNodeText"> -->
    <editor-content class="editor__content" :editor="editor" />
  </div>
</template>

<script>
import { Editor, EditorContent } from "tiptap";
import { Placeholder } from 'tiptap-extensions'
export default {
  props: {
      value: {
          default: ''
      },
      placeholder: {
          type: String,
          default: ''
      }
  },
  data() {
    return {
      editor: null
    };
  },
  components: {
    Editor,
    EditorContent
  },
  mounted() {
    this.editor = new Editor({
      extensions: [
          new Placeholder({
            emptyEditorClass: 'is-editor-empty',
            emptyNodeClass: 'is-empty',
            emptyNodeText: this.placeholder,
            showOnlyWhenEditable: true,
            showOnlyCurrent: true,
          }),
      ],
      content: this.value,
      onUpdate: ({ getHTML }) => {
        this.$emit("input", getHTML());
      }
    });
    this.editor.setContent(this.value);
  },
  beforeDestroy() {
    if (this.editor) {
      this.editor.destroy();
    }
  },
  watch: {
    value(val) {
      // so cursor doesn't jump to start on typing
      if (this.editor && val !== this.value) {
        this.editor.setContent(val, true);
      }
    }
  }
};
</script>

<style lang="scss">
.editor__content div {
  min-height: 80px;
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  width: 100%;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
  &:focus,
  &.ProseMirror-focused {
    outline: none;
  }
}

.editor p.is-editor-empty:first-child::before {
  content: attr(data-empty-text);
  float: left;
  color: #aaa;
  pointer-events: none;
  height: 0;
}
</style>