<template>
  <div class="relative px-6">
    <div
      :id="nameCarousel"
      class="swiper-container"
      :class="nameCarousel"
      ref="swiper"
    >
      <div class="swiper-wrapper">
        <!-- <div class="swiper-slide" v-for="(slide,k) in slides" :key="k"> -->
        <slot></slot>
        <!-- <img :src="slide" /> -->
        <!-- </div> -->
      </div>
      <!-- Add Pagination -->
      <!-- <div class="swiper-pagination"></div> -->
      <!-- Add Arrows -->
    </div>
    <div :class="nameCarousel" class="swiper-button-next">
      <!-- <i class="fa fa-2x fa-chevron-right" aria-hidden="true"></i> -->
      <span class="arrow-right"></span>
    </div>
    <div :class="nameCarousel" class="swiper-button-prev">
      <span class="arrow-left"></span>
    </div>
  </div>
</template>

<script>
import Swiper from "swiper";

export default {
  name: "SwiperCarousel",
  data() {
    return {
      swiper: null
    }
  },
  props: {
    slides: {
      required: false,
      type: Array
    },
    slidesPerView: {
      required: true
    },
    breakpoints: {
      required: true,
      type: Object
    },
    nameCarousel: {
      required: true,
      type: String
    },
    hasAutoPlay: {
      required: false,
      default: false,
      type: Boolean
    },
    isLoop: {
      required: false,
      default: false,
      type: Boolean
    }
  },
  mounted() {
    this.swiper = new Swiper(`.swiper-container.${this.nameCarousel}`, {
      autoplay: {
        delay: 7000
      },
      loop: this.isLoop,
      slidesPerView: this.slidesPerView,
      spaceBetween: 0,
      breakpoints: this.breakpoints,
      // pagination: {
      //   el: ".swiper-pagination",
      //   clickable: true
      // },
      navigation: {
        nextEl: `.${this.nameCarousel}.swiper-button-next`,
        prevEl: `.${this.nameCarousel}.swiper-button-prev`
      },
      // on: {
      //   click: function(event) {
      //     console.log(event);
      //     console.log(this.swiper.realIndex)
      //   }
      // }
    });

    let _this = this; 
    this.swiper.on('click', function (event) {
      // console.log(event);
      if(_this.nameCarousel == 'carousel-articles' && event.srcElement.localName == 'button') {
         let id = event.srcElement.dataset.id;
        //  console.log(id);
         _this.$emit('selectArticle',id);
      }
    });
  },
  methods: {
    slideClicked(index) {
      console.log(swiper.activeIndex.slide.link);
    }
  }
};
</script>
<style lang="css" scoped>
@import "~swiper/dist/css/swiper.css";
.swiper-container {
  /* margin: 0 2rem; */
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 65%;
  transform: translateY(-50%);
  width: 22px;
  height: 28px;
  margin-top: -22px;
  background-image: none;
}
.swiper-button-next:focus,
.swiper-button-prev:focus {
  outline: none;
}

.swiper-button-next {
  right: 0px;
}

.swiper-button-prev {
  left: 0px;
}

.arrow-left {
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  border-style: solid;
  border-width: 10px 25px 10px 0;
  border-color: transparent #1c1d1f transparent transparent;
}

.arrow-right {
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  border-style: solid;
  border-width: 10px 0 10px 25px;
  border-color: transparent transparent transparent #1c1d1f;
}
</style>