<template>
  <div class="relative w-auto">
    <a :href="'/p/profile/'+getLinkToUser(user.fullName,user.uuid)">
      <img :class="[size ? size : 'profile-sm']" class="object-cover rounded-full border border-gray-500" :src="user.avatar" :alt="user.fullName"/>
    </a>
    <img v-if="user.avatarSport" class="sport-sm" :src="user.avatarSport" :alt="user.sportName" />
  </div>
</template>
<script>
import linkToShowUserMixin from '@/mixins/linkToShowUserMixin.js';
export default {
  mixins: [linkToShowUserMixin],
  props: {
    user: {
      required: true,
      type: Object
    },
    size: {
      required: false,
      type: String
    }
  }
};
</script>