<template>
<div>
    <a v-if="link" class="text-sm leading-tight pr-2" :href="'/p/profile/'+getLinkToUser(user.fullName,user.uuid)"> {{ user.fullName }} </a>
    <div v-else class="text-sm leading-tight pr-2">{{ user.fullName }}</div>
    <!-- Nationality -->
    <div class="leading-none" v-if="user.profile.nationality">
        <span class="text-xs">{{ $t('profile.athlete.nationality') }}</span>: 
        <span class="text-xs text-gray-700"> {{ user.profile.nationality.name }} </span>
    </div>
    <!-- Sport -->
    <div class="leading-none" v-if="user.profile.sport">
        <span class="text-xs">{{ $t('profile.athlete.sport') }}</span>: 
        <span class="text-xs text-gray-700"> {{ $t('sportfields.titles.'+ user.profile.sport.name) }} </span>
    </div>
    <!-- Secondary Sport -->
    <div class="leading-none" v-if="user.profile.sport_secondary">
        <span class="text-xs">{{ $t('profile.athlete.secondarySport') }}</span>: 
        <span class="text-xs text-gray-700"> {{ $t('sportfields.titles.'+ user.profile.sport_secondary.name) }} </span>
    </div>
    
    <!-- Current Entity -->
    <div class="leading-none" v-if="user.profile.current_entity && user.profile.current_entity.length > 0">    
        <span v-if="user.profile.current_entity[0].entity.type" class="text-xs">
                {{ $t('fields.entitiesType.'+ user.profile.current_entity[0].entity.type.name) }}:
        </span> 
        <span v-else class="text-xs">
            {{ $t('fields.entitiesType.Club') }}:
        </span>
        <span class="text-xs text-gray-700"> {{ user.profile.current_entity[0].entity.name }} </span>
    </div>

</div>
</template>

<script>
import linkToShowUserMixin from '@/mixins/linkToShowUserMixin.js';
export default {
  mixins: [linkToShowUserMixin],
  props: {
    user: {
      required: true,
      default: null
    },
    link: {
      default: false
    }
  }
};
</script>

<style>
</style>