<template>
  <div>
      <div class="w-full flex flex-wrap">
            <div class="p-2 flex-1 text-center cursor-pointer font-semibold" :class="[type == 'Club' ? 'text-primary' : 'bg-primary text-white']" @click="type = 'Club'"> {{ $t('clubes.types.clubs') }} </div>
            <div class="p-2 flex-1 text-center cursor-pointer font-semibold" :class="[type == 'University' ? 'text-primary' : 'bg-primary text-white']" @click="type = 'University'"> {{ $t('clubes.types.universities') }} </div>
            <div class="p-2 flex-1 text-center cursor-pointer font-semibold" :class="[type == 'Sponsor' ? 'text-primary' : 'bg-primary text-white']" @click="type = 'Sponsor'"> {{ $t('clubes.types.sponsors') }} </div>
            <div class="p-2 flex-1 text-center cursor-pointer font-semibold" :class="[type == 'Company' ? 'text-primary' : 'bg-primary text-white']" @click="type = 'Company'"> {{ $t('clubes.types.companies') }} </div>
      </div>
      <div class="p-4">
          <admin-scout-clubs :userId="userId" v-if="type == 'Club'" class="w-full" :typeclub="type"></admin-scout-clubs> 
          <admin-scout-clubs :userId="userId" v-if="type == 'University'" class="w-full" :typeclub="type"></admin-scout-clubs>
          <admin-scout-clubs :userId="userId" v-if="type == 'Sponsor'" class="w-full" :typeclub="type"></admin-scout-clubs>
          <admin-scout-clubs :userId="userId" v-if="type == 'Company'" class="w-full" :typeclub="type"></admin-scout-clubs> 
      </div>
  </div>
</template>

<script>
import ScoutClubs from './ScoutClubs';
export default {
    data() {
        return {
            type: 'Club'
        }
    },
    props: {
        userId: {
            required: true,
            type: Number
        }
    },
    components: {
        'admin-scout-clubs': ScoutClubs
    }
}
</script>

<style>

</style>