<template>
  <div class="w-full mt-2 px-1">
    <div class="w-full p-4">
      <div class="w-full border-b pb-1 flex justify-between items-center">
        <div class>
          <h5 v-if="typeUser == 'Athlete'" class="pr-4">{{ $t('titles.athletes') }}</h5>
          <h5 v-if="typeUser == 'Scout'" class="pr-4">{{ $t('titles.scouts') }}</h5>
        </div>
        <div>
          <button @click.prevent="nuevaPregunta" class="btn btn-sm btn-gray rounded-full">
            <i class="fa fa-plus fa-fw" aria-hidden="true"></i>
            {{ $t('faqs.newQuestion') }}
          </button>
        </div>
      </div>

      <div v-if="faqs && faqs.length > 0" class="flex my-2 border-b">
        <div
          class="px-2 py-1 cursor-pointer"
          :class="{'bg-black text-white': language == 'en'}"
          @click="language = 'en'"
        >EN</div>
        <div
          class="px-2 py-1 cursor-pointer"
          :class="{'bg-black text-white': language == 'es'}"
          @click="language = 'es'"
        >ES</div>
      </div>
      <div class="w-full">
        <div class="flex items-center w-full border-b pt-1" v-for="(p,i) in faqs" :key="i">
          <div class="w-3/4">
            <div v-if="language == 'es'">
              <div style="overflow-wrap: break-word;" :title="p.question.es" class="font-semibold">{{ cutText(p.question.es,170) }}</div>
              <div style="overflow-wrap: break-word;" :title="p.answer.es" class="text-gray-600">{{ cutText(p.answer.es,170) }}</div>
            </div>
            <div v-if="language == 'en'">
              <div style="overflow-wrap: break-word;" :title="p.question.en" class="font-semibold">{{ cutText(p.question.en,170) }}</div>
              <div style="overflow-wrap: break-word;" :title="p.answer.en" class="text-gray-600">{{ cutText(p.answer.en,170) }}</div>
            </div>
          </div>
          <div class="flex">
            <div>
              <button
                class="btn btn-sm btn-info mr-1"
                @click.prevent="editar(p)"
                v-html="$t('faqs.form.edit')"
              ></button>
            </div>
            <div>
              <button
                class="btn btn-sm btn-danger"
                @click.prevent="eliminar(p)"
                v-html="$t('faqs.form.delete')"
              ></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Nueva Pregunta -->
    <div v-if="newVisible" class="w-full p-4">
      <div class="w-full flex justify-between items-center border-t pt-2">
        <div>
          <h5 v-if="!editVisible" class="font-light">{{ $t('faqs.newQuestion') }}</h5>
          <h5 v-else class="font-light">{{ $t('faqs.editQuestion') }}</h5>
        </div>
      </div>
      <!-- ERRORS -->
        <div id="faqs-error" v-if="errors.length > 0" class="mt-2 w-full alert alert-danger" role="alert">
            <a href="#" @click.prevent="errors = []" class="close" aria-label="close">&times;</a>
            <h5> <i class="icon fa fa-warning fa-fw" aria-hidden="true"></i> {{ $t('auth.someProblems') }} </h5>
            <ul class="pl-8 text-sm">
              <li v-for="(e,j) in errors" :key="j"> {{ e }} </li>
            </ul>
        </div>
      <div class="flex my-2 border-b">
        <div
          class="px-2 py-1 cursor-pointer"
          :class="{'bg-black text-white': languageForm == 'en'}"
          @click="languageForm = 'en'"
        >EN</div>
        <div
          class="px-2 py-1 cursor-pointer"
          :class="{'bg-black text-white': languageForm == 'es'}"
          @click="languageForm = 'es'"
        >ES</div>
      </div>
      <div v-if="languageForm == 'en'">
        <div class="w-full form-group">
          <input
            v-model="form.pregunta_en"
            type="text"
            class="form-control w-full"
            :placeholder="$t('faqs.form.question')"
          />
        </div>
        <div class="w-full form-group">
          <textarea
            v-model="form.respuesta_en"
            class="form-control w-full"
            cols="30"
            rows="5"
            :placeholder="$t('faqs.form.answer')"
          ></textarea>
        </div>
      </div>
      <div v-else-if="languageForm == 'es'">
        <div class="w-full form-group">
          <input
            v-model="form.pregunta_es"
            type="text"
            class="form-control w-full"
            :placeholder="$t('faqs.form.question_es')"
          />
        </div>
        <div class="w-full form-group">
          <textarea
            v-model="form.respuesta_es"
            class="form-control w-full"
            cols="30"
            rows="5"
            :placeholder="$t('faqs.form.answer_es')"
          ></textarea>
        </div>
      </div>
      <div class="flex justify-end w-full">
        <a
          v-if="!editVisible"
          @click.prevent="store"
          class="btn cursor-pointer btn-success rounded-full"
        >{{ $t('faqs.form.save') }}</a>
        <a
          v-else
          @click.prevent="update"
          class="btn cursor-pointer btn-success rounded-full"
        >{{ $t('faqs.form.update') }}</a>

        <a
          @click.prevent="cancelar"
          class="btn cursor-pointer btn-link"
        >{{ $t('faqs.form.cancel') }}</a>
      </div>
    </div>
  </div>
</template>

<script>
import { cutText } from "@/utils/functions.js";
export default {
  data() {
    return {
      faqs: [],
      newVisible: false,
      editVisible: false,
      preguntaEdit: null,
      language: "en",
      languageForm: "en",
      errors: [],
      form: {
        pregunta_en: "",
        respuesta_en: "",
        pregunta_es: "",
        respuesta_es: ""
      }
    };
  },
  props: {
    typeUser: {
      required: true,
      default: null
    }
  },
  created() {
    this.getPf();
  },
  methods: {
    getPf() {
      axios.get(`/admin/faqsByType?type=${this.typeUser}`).then(res => {
        this.faqs = res.data.faqs;
      });
    },
    store() {
      if (this.form.pregunta_en != "" && this.form.respuesta_en != "") {
        this.errors = [];
        let data = Object.assign(this.form, { type: this.typeUser });
        axios.post(`/faqs`, data).then(
          res => {
            //   console.log(res);
            this.resetFields();
            this.newVisible = false;
            this.getPf();
          },
          error => {
            this.errors = error.response.data.errors;
          }
        );
      }
    },
    eliminar(c) {
      axios.delete(`/faqs/${c.id}`).then(res => {
        this.resetFields();
        this.newVisible = this.editVisible = false;
        this.preguntaEdit = null;
        this.getPf();
      });
    },
    editar(p) {
      this.newVisible = this.editVisible = true;
      this.form.pregunta_en = p.question.en;
      this.form.pregunta_es = p.question.es;
      this.form.respuesta_en = p.answer.en;
      this.form.respuesta_es = p.answer.es;
      //   this.form.respuesta = p.respuesta;
      this.preguntaEdit = p;
    },
    update() {
      if (this.form.pregunta_en != "" && this.form.respuesta_en != "") {
        // $('#faqs-success').addClass('hidden');
        // $("#faqs-error").addClass("hidden");
        // $("#faqs-error ul").html("");
        this.errors = [];
        axios.put(`/faqs/${this.preguntaEdit.id}`, this.form).then(
          res => {
            console.log(res);
            this.resetFields();
            this.newVisible = this.editVisible = false;
            this.preguntaEdit = null;
            this.getPf();
          },
          error => {
            this.errors = error.response.data.errors;
            // console.log(errors);
          }
        );
      }
    },
    cancelar() {
      this.newVisible = this.editVisible = false;
      this.preguntaEdit = null;
    },
    resetFields() {
      this.form.pregunta_en = this.form.pregunta_es = this.form.respuesta_en = this.form.respuesta_es =
        "";
      this.languageForm = "en";
    },
    nuevaPregunta() {
      this.newVisible = true;
      this.editVisible = false;
      this.preguntaEdit = null;
      this.resetFields();
    },
    cutText(text, cant) {
      return cutText(text, cant);
    },
  }
};
</script>

<style lang="scss" scoped>
</style>
