<template>
  <div :class="{'md:border-r' : typeUser == 'Scout' }" class="w-full mt-2 px-1">
    <div class="flex items-center pb-1">
      <h5 v-if="typeUser == 'Athlete'" class="pr-4">{{ $t('dashboard.popularAthletes') }}</h5>
      <h5 v-if="typeUser == 'Scout'" class="pr-4">{{ $t('dashboard.popularScouts') }}</h5>
    </div>
    <div class="w-full mt-2">
      <multiselect
        v-model="currentUser"
        track-by="fullName"
        :customLabel="getLabelUsers"
        :placeholder="$t('profile.filters.search')"
        :options="usersFiltered"
        @select="saveUserPopular"
        :reset-after="true"
        open-direction="bottom"
        :searchable="true"
        :show-no-results="false"
        :show-labels="false"
      >
        <span slot="noResult">{{ $t('messages.noResults') }}</span>
        <span slot="noOptions">{{ $t('messages.noResults') }}</span>
      </multiselect>
    </div>

    <div class="w-full">
      <div v-for="(user,i) in usersSelected" :key="i" class="relative w-full flex items-center sm:justify-between px-1 py-2 border-b last:border-b-0">

         <button class="close-icon" @click.prevent="deleteUser(user,i)">
            <img class="w-auto" src="/img/close-icon.png" alt="Remove User">
        </button>    
        <div class="pr-2 w-auto">
          <user-photo class="mr-4 w-12" :user="user"></user-photo>
        </div>
        <div class="w-3/5 sm:w-2/5 flex flex-wrap flex-1 items-center">
          <div class="w-auto">
            <user-card-information :user="user"></user-card-information>
            <!-- <div class="text-sm leading-tight pr-2">{{ user.fullName }}</div> -->
          </div>
        </div>
        <div class="pt-4 sm:pt-1 sm:pl-1">
          <div class="flex items-center flex-row sm:flex-col text-center flex-wrap">
            <div class="pl-2 sm:pl-0 sm:mt-1">
              <a class="btn btn-sm text-info bg-white border border-info hover:bg-info hover:text-white rounded-lg"
                :href="'/p/profile/'+ getLinkToUser(user.fullName,user.uuid)">
                <i class="fa fa-eye fa-fw" aria-hidden="true"></i>
                {{ $t('profile.viewProfile') }}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="pt-2 w-full flex justify-end items-center">
        <button @click="saveUsers" type="button" class="btn btn-success rounded-full">
            <i aria-hidden="true" class="fa fa-fw fa-save"></i>
            {{ $t('profile.submitProfileButton') }}
        </button>
    </div>

  </div>
</template>

<script>
import linkToShowUserMixin from '@/mixins/linkToShowUserMixin.js';
import Multiselect from "vue-multiselect";
export default {
  data() {
    return {
      users: [],
      usersSelected: [],
      currentUser: null
    };
  },
  props: {
    typeUser: {
      required: true,
      default: null
    },
    popularUsers: {
      required: true,
      default: []
    }
  },
  computed: {
      usersFiltered() {
        let idsUsersSelected = this.usersSelected.map(u => u.id);
        return this.users.filter(u => !idsUsersSelected.includes(u.id))
      }
  },
  components: { Multiselect },
  created() {
    this.usersSelected = this.popularUsers;
    this.getTypeUsers();
  },
  mixins: [linkToShowUserMixin],
  methods: {
    getTypeUsers(typeUser) {
      axios.get(`/api/users?typeUser=${this.typeUser}`).then(res => {
        this.users = res.data.users;
      });
    },
    getLabelUsers(user) {
      return `${user.fullName} - ${user.profileText}`;
    },
    saveUserPopular(user) {
      this.usersSelected.push(user);
      this.currentUser = null;
    },
    saveUsers() {
      $('#edit-athlete-success').addClass('hidden');
      $('#edit-athlete-success ul').html('');
      let ids = this.usersSelected.map(u => u.id);
      let data = ids.join(",");
      axios.post("/popularUsers", { usersId: data, typeUser: this.typeUser }).then(res => {
        $('#edit-athlete-success').removeClass('hidden');
        $('#edit-athlete-success #message').html(res.data.msg);
        $("html, body").animate({ scrollTop: 0 }, "slow");
      });
    },
    deleteUser(user,index) {
        this.usersSelected.splice(index,1);
    }
  }
};
</script>

<style lang="scss" scoped>
button.close-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    width: .8rem;
    height: .8rem;
}
</style>