<template>
  <div>
      <div style="height: 150px;" class="rounded-lg w-full relative" v-if="publicityLocal && publicityLocal.image">
            <span @click.prevent="imagenDelete = publicityLocal.image" class="z-30 delete-media flex items-center justify-center close-icon">
                <img class="w-auto" src="/img/profile/delete.png" alt="Delete Image">
            </span>
            <img @click="$emit('showImage',publicityLocal.media[0])" style="height: 150px;" class="h-full w-full object-cover rounded-lg cursor-pointer" :src="publicity.image" :alt="publicity.image">
        </div>
        <vue-dropzone 
          v-else
          ref="myDropzone"
          style="height: 110px;"
          class="rounded-lg flex justify-center w-full"
          @vdropzone-success="resetDropzone"
          @vdropzone-error="errorUploadFile"
          @vdropzone-sending="addParameters"
          id="dropzonePublicidad"
          :options="dropzoneOptions"
          :use-custom-dropzone-options="true"
          :useCustomSlot="true"
        >
          <div class="dropzone-custom-content">
            <div class="text-xs dropzone-custom-title"> {{ $t('config.dropzoneLabel') }} </div>
          </div>
        </vue-dropzone>

        <!-- Link -->
        <div class="mt-1 w-full">
            <input class="form-control" placeholder="Link" type="text" v-model="link">
            <div class="flex pt-1">
                <button class="btn btn-sm btn-success" @click.prevent="saveLink"> {{ $t('config.save') }} </button>
                <button v-if="publicity" class="ml-1 btn btn-sm btn-danger" @click.prevent="publicityDelete = true"> {{ $t('profile.publicities.deletePublicity') }} </button>
            </div>
        </div>

        <!-- Modal To Delete Image -->
        <modal v-if="imagenDelete" @close="imagenDelete = null">
            <div slot="body">
                <div class="col-12 py-2">
                    {{ $t('profile.athlete.deleteImage') }}
                </div>
            </div> 
            <div slot="footer">
                <div class="pull-right">
                    <button class="btn" @click.prevent="imagenDelete = null"> 
                    <i class="fa fa-fw fa-close" aria-hidden="true"></i>
                    {{ $t('forms.cancel') }}
                    </button>
                    <button class="btn btn-danger" @click.prevent="deleteMedia"> 
                    <i class="fa fa-fw fa-trash-o" aria-hidden="true"></i>
                    {{ $t('profile.athlete.delete') }} 
                    </button>
                </div>
            </div> 
        </modal>

        <!-- Modal To Delete Publicity -->
        <modal v-if="publicityDelete" @close="publicityDelete = false">
            <div slot="body">
                <div class="col-12 py-2">
                    {{ $t('profile.publicities.deletePublicityModal') }}
                </div>
            </div> 
            <div slot="footer">
                <div class="pull-right">
                    <button class="btn" @click.prevent="publicityDelete = false"> 
                    <i class="fa fa-fw fa-close" aria-hidden="true"></i>
                    {{ $t('forms.cancel') }}
                    </button>
                    <button class="btn btn-danger" @click.prevent="destroyPublicity"> 
                    <i class="fa fa-fw fa-trash-o" aria-hidden="true"></i>
                    {{ $t('profile.athlete.delete') }} 
                    </button>
                </div>
            </div> 
        </modal>

  </div>
</template>

<script>
import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";
export default {
    data() {
        return {
            error: null,
            imagenDelete: null,
            publicityDelete: false,
            publicityLocal: {
                id: null
            },
            link: '',
            types: ['png','jpeg','jpg'],
            baseurl: window.document.head.querySelector('meta[name="api-base-url"]').content
        }
    },
    created() {
        this.publicityLocal = this.publicity;
        if(this.publicity) this.link = this.publicity.link; 
        // if(!this.publicity) this.publicityLocal.id = null; 
    },
    watch: {
        publicity: function(newValue,value) {
            this.publicityLocal = newValue;
        }
    },
    computed: {
        dropzoneOptions() {
            if (!this.baseurl) return {};
            return {
                dictDefaultMessage: "Drop files here",
                dictRemoveFile: "Remove file",
                url: `${this.baseurl}/api/publicidad?position=${this.position}`,
                headers: { "X-CSRF-TOKEN": document.head.querySelector('meta[name="csrf-token"]').content },
                thumbnailWidth: 150,
                maxFilesize: 40,
                maxFiles: 1,
                addRemoveLinks: true,
                acceptedFiles: ".png,.jpeg,.jpg",
            };
        }
    },
    components: {
        vueDropzone: vue2Dropzone,
    },
    props: {
        publicity: {
            required: false,
            type: Object
        },
        position: {
            required: true,
            type: String
        }
    },
    methods: {
        deleteMedia() {
            this.$emit('deleteImage',this.publicity.id);
            this.imagenDelete = null;
        },
        resetDropzone(file, response) {
            console.log("Archivo Subido");
            // window.location.reload();
            this.$emit('getMedia',true);
            if(this.$refs.myDropzone) this.$refs.myDropzone.removeAllFiles();
        },
        errorUploadFile(file, message, xhr) {
            this.error = message;
        },
        addParameters(file, xhr, formData) {
            formData.append('link', this.link);
            if(this.publicity) formData.append('id', this.publicity.id);
        },
        saveLink() {
            $('#edit-athlete-success').addClass('hidden');
            $('#edit-athlete-error').addClass('hidden');
            $('#edit-athlete-error ul').html('');
            let data = {id: this.publicityLocal.id, link: this.link};
            axios.post(`/api/publicidad?position=${this.position}`,data).then(res => {
                $('#edit-athlete-success').removeClass('hidden');
                $('#edit-athlete-success #message').html(res.data.msg);
                $("html, body").animate({ scrollTop: 0 }, "slow");
            });
        },
        destroyPublicity() {
            this.$emit('deletePublicity',this.publicity)
            this.publicityDelete = false;
        }
    }
}
</script>

<style>

</style>