<template>
  <div class="flex flex-wrap">
      <div class="card-p w-full">
        <h4 class="font-bold mb-2 pb-2 border-b"> {{ $t('titles.publicities') }} </h4>
        <div v-if="loading" class="flex w-full items-center h-24">    
            <spinner class="mx-auto"></spinner>
        </div>
    <div v-else id="list-images" class="w-full flex flex-wrap my-2">

        <!-- PUBLICIDAD ARRIBA -->
        <div class="w-full mb-2">
            <h5> {{ $t('config.publicityAbove') }} </h5>
        </div>
        <Publicidad 
          class="w-full"
          :publicity="publicityAbove" 
          :position="'above'"
          @getMedia="getMedia" 
          @deleteImage="deleteMedia"
          @deletePublicity="deletePublicity" 
          @showImage="showImagePublicity"/>

        <!-- PUBLICIDADES DE ABAJO -->
        <div class="w-full mt-4 mb-2">
            <h5> {{ $t('config.publicityBelow') }} </h5>
        </div>

      <div v-for="(p,i) in publicitiesBelow" :key="i" class="relative pr-2 mb-2 overflow-hidden w-1/2 md:w-1/4">
          <Publicidad 
          :publicity="p" 
          :position="'below'"
          @getMedia="getMedia" 
          @deleteImage="deleteMedia" 
          @deletePublicity="deletePublicity"
          @showImage="showImagePublicity"/>
      </div>
      <div v-if="publicitiesBelow.length < 4" class="rounded-lg w-1/2 md:w-1/4">
        <Publicidad 
          :position="'below'"
          @getMedia="getMedia" 
          @deleteImage="deleteMedia" 
          @deletePublicity="deletePublicity"
          @showImage="showImagePublicity"/>
      </div>
    
    </div>

    <!-- Modal Videos -->
    <modal-media :type="'image'" :media="imagen" v-if="imagen" @close="imagen = null"></modal-media>

  </div>
  </div>
</template>

<script>
import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";
import { mapState, mapActions } from "vuex";
import Publicidad from '@/components/admin/Publicidad';

export default {
  data: function() {
    return {
      loading: false,
      publicitiesBelow: [],
      publicityAbove: null,
      imagen: null,
    };
  },
  components: {
    Publicidad
  },
  created() {
    let _this = this;
    _this.getMedia();
    
  },
  methods: {
    ...mapActions(["set_user"]),
    getMedia() {
      this.loading = this.publicityAbove || this.publicitiesBelow.length > 0 ? false : true;
      axios.get("/api/publicidad").then(res => {
        this.publicityAbove = res.data.imageAbove;
        this.publicitiesBelow = res.data.imagesBelow;
        this.loading = false;
      });
    },
    deleteMedia(publicityId) {
      axios.delete(`api/publicidad/${publicityId}/image`).then(res => {
        this.getMedia();
      });
    },
    deletePublicity(publicity) {
      axios.delete(`api/publicidad/${publicity.id}`).then(res => {
        this.getMedia();
      });
    },
    showImagePublicity(image) {
      this.imagen = image;
    },
    errorUploadFile(file, message, xhr) {
      this.error = message;
    }
  }
};
</script>

<style>
</style>