<template>
  <div class="card-p">
    <div class="flex items-center pb-1 border-b">
        <h5 class="pr-4">{{ $t('dashboard.publications.adminTitle') }}</h5>
    </div>
    
    <div class="w-full h-96 overflow-y-scroll">
    
    <div class="w-full border-b py-1 pr-2" v-for="(u,i) in publications" :key="i">
        <div v-if="!u.post" class="flex w-full items-center">
          <user-photo :size="'profile-xs'" class="mr-4" :user="u.user"></user-photo>
          <div class="w-full">
              <div v-if="u.type == 'followed'">
                <a class="capitalize font-semibold" :href="'/p/profile/'+getLinkToUser(u.user.fullName,u.user.uuid)">{{ u.user.fullName }}</a>
                <span v-html="getTexto(u)"></span>
                <!-- <span>{{ u.body.username_user_followed }}</span> -->
                <a class="capitalize font-normal" :href="'/p/profile/'+getLinkToUser(u.body.username_user_followed,u.body.uuid_user_followed)">{{ u.body.username_user_followed }}</a>.
              </div>
              <div v-else-if="u.type == 'registered'">
                <a class="capitalize font-semibold" :href="'/p/profile/'+getLinkToUser(u.user.fullName,u.user.uuid)">{{ u.user.fullName }}</a>
                <span v-html="getTexto(u)"></span>
                <span> {{ $t('titles.app') }}. </span>
              </div>
              <div v-else>
                <a class="capitalize font-semibold" :href="'/p/profile/'+getLinkToUser(u.user.fullName,u.user.uuid)">{{ u.user.fullName }}</a>
                <span v-html="getTexto(u)"></span>
              </div>
              <div class="text-xs text-gray-600">{{ u.timeAgo }}</div>
            </div>
          <!-- <div class="w-full"> -->
                <!-- <div>
                  <a v-if="user && u.user.uuid != user.uuid" class="font-semibold inline-flex capitalize" :href="'/p/profile/'+u.user.uuid">{{ u.user.fullName }}</a>
                  <span v-else class="font-semibold inline-flex capitalize"> {{ $t('dashboard.you') }} </span>
                  <span class="pl-1" v-html="getTexto(u)"></span>
                </div>
                <div class="text-xs text-gray-600">
                    {{ u.timeAgo }}
                </div> -->
          <!-- </div> -->
          <!-- <div class="w-1/2">
            <div v-if="u.body && (u.body.url_video || u.body.url_image)">
              <mediamini-p @select="selectMedia" :media="u.body"></mediamini-p>
            </div>
          </div> -->
      </div>
      <!-- Si es un post lo mostramos -->
      <div v-else class="flex justify-between items-center">
            <div class="flex items-center w-full relative">
                <user-photo :size="'profile-xs'" class="mr-4" :user="u.post.user"></user-photo>
                <div class="w-full">
                    <!-- <div class="flex flex-wrap">  -->
                      <span>
                        <a v-if="user && u.post.user.uuid != user.uuid" class="font-semibold inline-flex capitalize" :href="'/p/profile/'+getLinkToUser(u.post.user.fullName,u.post.user.uuid)">{{ u.post.user.fullName }}</a>
                        <span v-else class="font-semibold inline-flex capitalize"> {{ $t('dashboard.you') }} </span>
                        <span> 
                            <span class="font-semibold"> {{ $t("dashboard.favorites.newPostShowing") }}: </span> 
                            <span @click="getPost(u.post.id)" class="text-gray-800 cursor-pointer" v-html="cutHtmlString(u.post.body, 50)"> </span> 
                        </span>
                        <!-- <span @click="getPost(u.id)" class="cursor-pointer text-prev text-gray-800"> {{ u.body }} </span> -->
                      </span>
                    <!-- </div> -->
                    <!-- <a class="ml-1 cursor-pointer" @click="getPost(u.id)"> post </a> -->
                    <div class="text-xs text-gray-600">
                        {{ u.post.timeAgo }}
                    </div>  

                </div>
              
              
              <!-- EDIT - SHOW - DELETE -->
              <!-- <div class="ml-auto block text-center">
                  <a v-if="user && u.post.user.uuid == user.uuid" class="btn btn-sm btn-outline-info rounded-full" title="Edit" :href="'posts/' + u.post.id + '/edit'" v-html="$t('posts.buttons.edit')"></a>
                  <button class="my-1 btn btn-sm btn-outline-success btn-block rounded-full" title="Show" @click="getPost(u.post.id)" v-html="$t('posts.buttons.show')"></button>
                  <button v-if="user && u.post.user.uuid == user.uuid" class="btn btn-sm btn-outline-danger rounded-full" title="Delete" @click="deletePost = u.post" v-html="$t('posts.buttons.delete')"></button>
              </div> -->

            </div>
        
      </div>

      
    </div>
    <div v-if="loading" class="flex items-center h-24">
      <spinner class="mx-auto"></spinner>
    </div>

    <div class="flex py-2 justify-center" v-if="nextPageFollowedUsers">
      <button class="hover:underline" @click="loadMoreInfo"> {{ $t('dashboard.followed.loadMore') }} </button>
    </div>
    <div v-if="!loading && publications.length == 0" class="w-full">{{ $t('dashboard.followed.noResults') }}</div>
  </div>

    <!-- Modal IMAGES AND VIDEOS -->
    <modal-media :type="currentMedia.id_video ? 'video' : 'image'" :media="currentMedia" v-if="currentMedia" @close="currentMedia = null"></modal-media>

    <!-- Modal POST -->
    <p-modal-post :post="currentPost" v-if="currentPost" @close="currentPost = null">
    </p-modal-post>

  </div>
</template>

<script>
import textActivityUser from '@/mixins/textActivityUser.js';
import linkToShowUserMixin from '@/mixins/linkToShowUserMixin.js';
import { mapState, mapActions } from 'vuex';
import { cutText, cutHtmlString } from '@/utils/functions.js';
export default {
  data() {
    return {
      loading: false,
      currentPost: null,
      currentMedia: null,
      currentPage: 1,
      newComment: "",
      animated: false,
      deletePost: null,
      // publications: [],
      // typesUpdates: ['newPhotos','newVideos','newPost','updateSports','updateClubs']
    };
  },
  created() {
    if(this.user == null) this.set_user();
    this.getUpdatesFollowedUsers();
  },
  mixins: [textActivityUser,linkToShowUserMixin],
  computed: {
      ...mapState(['user','posts','updatesFollowedUsers','nextPageFollowedUsers']),
      publications() {
        return _.orderBy(this.updatesFollowedUsers,'created_at','desc');
        // return this.updatesFollowedUsers;
      }
  },
  methods: {
    ...mapActions(['set_user','set_my_posts','updates_from_followed_users']),
    getUpdatesFollowedUsers() {
      this.loading = true;
      // this.loading = this.updatesFollowedUsers.length > 0 ? false : true;
      this.updates_from_followed_users().then(res => {
        this.loading = false;
        this.currentPage += 1;
        this.$forceUpdate();
      });
    },
    loadMoreInfo() {
        this.loading = true;
        this.updates_from_followed_users(this.currentPage).then(res => {
          this.currentPage += 1;
          this.loading = false;
        });
    },
    getPost(id) {
      axios.get(`/api/post/${id}`).then(res => {
        this.currentPost = res.data.post;
      })
    },
    selectMedia(e) {
      this.currentMedia = e;
    },
    cutText(text,cant) {
      return cutText(text,cant);
    }
  }
};
</script>
<style lang="scss" scoped>

.text-prev {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.3rem;
  max-height: 1.3rem;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
</style>