.user-avatar {
    width: 140px;
    height: 140px;
    margin: 1em auto;
    display: block;
    object-fit: cover;
    cursor: pointer !important;
    @include vendor(border-radius, 50%);
    @include draggless();
}
.user-avatar-nav {
    margin-top: -3px;
    margin-right: 1em;
    float: left;
    width: 30px;
    height: 30px;
    @include vendor(border-radius, 50%);
    @include draggless();
}

#avatar_container {

    height: auto;
    max-width: 250px;
    min-width: 190px;
    .dz-preview{
        display: none;
    }
    .dropzone {
        border: none;
        background: rgba($white, .05);
        height: 190px;
        padding: 0;
        @include vendor(border-radius, $standard-radius);
    }
    .dz-message {
        margin-top: -20px 1em 0;
        padding: 0;
        text-align: center;

        &.dz-default {
            margin: 0rem;
            padding: .25rem 12px .25rem 29px;
            font-size: .875rem;
            border: 1px solid theme('colors.blue.500');
            border-radius: 15rem;
            position: relative;
            color: theme('colors.blue.500');
            &::before {
                content: '';
                background: url('../img/profile/camara.png');
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                left: 6px;
                top: 60%;
                transform: translateY(-50%);
                width: 20px;
                height: 20px;
            }
        }
    }
}


#club-logo-container {
    .dz-message.dz-default {
        margin-top: -20px 1em 0;
        padding: 0;
        text-align: center;
        cursor: pointer;
        padding: .25rem 12px .25rem 29px;
        font-size: .875rem;
        border: 1px solid theme('colors.blue.500');
        border-radius: 15rem;
        position: relative;
        color: theme('colors.blue.500');
        &::before {
            content: '';
            background: url('../img/profile/camara.png');
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            left: 6px;
            top: 60%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
        }
        
    }   
}
.user-image {
  width: 100px;
  height: 100px;
  border:2px solid $brand-info;
}

/********************* PROFILES IMAGES *********************/

@responsive { 
    .profile-lg {
        min-width: 110px;
        width: 110px;
        height: 110px;
    }

    .profile-md {
        min-width: 90px;
        width: 90px;
        height: 90px;
    }

    .profile-sm {
        min-width: 70px;
        width: 70px;
        height: 70px;
    }

    .profile-xs {
        min-width: 50px;
        width: 50px;
        height: 50px;
    }

    .sport-sm {
        position: absolute;
        right: 0;
        bottom: -6px;
        width: 29px;
    }
    .sport-md {
        position: absolute;
        right: 6px;
        bottom: 4px;
    }
}