.btn {
    @include transitions();
}


a,
.btn {
    font-weight: 600;
    &:hover {
        text-decoration: none;
        // color: inherit;
    }
}


.btn-light {
    background: white;
    color: black;
    border: none;
    &:hover { 
        color: black;
        background: white;
        border: none;
    }
}

.btn-gray, 
.btn-secondary {
    background: theme('colors.gray.700');
    color: white;
    &:hover { 
        color: white;
    }
}

.btn-gray-outline, 
.btn-secondary-outline {
    color: theme('colors.gray.700');
    border: 1px solid theme('colors.gray.700');
    background: transparent;
    &:hover { 
        color: white;
        background: theme('colors.gray.700');
    }
}



// .btn-youtube {
// 	@include btn-social(#e52d27);
// }

// .btn-twitch {
// 	@include btn-social(#6441A4);
// }

[data-toggle="buttons"] >div .btn input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
}

@media(min-width: $mq-tiny) {
	.col-xs-6 {
		&.left-btn-container {
			padding-left: 0;
			.btn {
				@include vendor(border-radius, 0 $standard-radius $standard-radius 0);
			}
		}
		&.right-btn-container {
			padding-right: 0;
			.btn {
				@include vendor(border-radius, $standard-radius 0 0 $standard-radius);
			}
		}
	}
}

.nav-pills > li.active.bg-primary > a,
.nav-pills > li.active.bg-primary > a:hover,
.nav-pills > li.active.bg-primary > a:focus {
    color: $white;
    background-color: $brand-primary;
}

.nav-pills > li.active.bg-info > a,
.nav-pills > li.active.bg-info > a:hover,
.nav-pills > li.active.bg-info > a:focus {
    color: $white;
    background-color: $brand-info;
}

.nav-pills > li.active.bg-success > a,
.nav-pills > li.active.bg-success > a:hover,
.nav-pills > li.active.bg-success > a:focus {
    color: $white;
    background-color: $brand-success;
}

.nav-pills > li.active.bg-warning > a,
.nav-pills > li.active.bg-warning > a:hover,
.nav-pills > li.active.bg-warning > a:focus {
    color: $white;
    background-color: $brand-warning;
}

.nav-pills > li.active.bg-danger > a,
.nav-pills > li.active.bg-danger > a:hover,
.nav-pills > li.active.bg-danger > a:focus {
    color: $white;
    background-color: $brand-danger;
}

.warning-pill-trigger {
    &.active {
        background: $warning !important;
    }
}
.danger-pill-trigger {
    &.active {
        background: $danger !important;
    }
}


// ARROWS
a, button {
    .arrow {
        transition: .5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .arrow-right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    
    .arrow-left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
    
    &.arrow-up {
        transition: .5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
        &:after {
            content: '';
            display: inline-block;
            margin-top: 0.2rem;
            margin-left: 0.2rem;
            width: 0.6rem;
            height: 0.6rem;
            border-top: 1px solid #333;
            border-right: 1px solid #333;
            -moz-transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg) translateX(-2px);
        }
    }
    
    &.arrow-down {
        transition: .5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
        &:after {
            content: '';
            display: inline-block;
            margin-top: 0.2rem;
            margin-left: 0.5rem;
            width: 0.6rem;
            height: 0.6rem;
            border-top: 1px solid #333;
            border-right: 1px solid #333;
            -moz-transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg) translateX(1px);
            transition: .5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
        &.active {
            &:after {
                -moz-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg) translate(-5px,4px);
            }
        }
    }
}


// SVG ICONS
.svg-icon {
    width: 1em;
    height: 1em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #1c1c1d;
  }
  
  .svg-icon circle {
    stroke: #1c1c1d;
    stroke-width: 1;
  }

  button.arrow-font {
      &.collapsed {
        i {
            @extend .fa;
            &:before {
            content: $fa-var-chevron-down;
            }
        }
      }
      i {
        @extend .fa;
        &:before {
        content: $fa-var-chevron-up;
        }
    }
  }

// BUTTONS FILTERS
.filters-buttons {
    button {
        padding: 0.2rem 0.5rem;
        cursor: pointer; 
        background-color: theme('colors.gray.500'); 
        color: black; 
        border-radius: $border-radius-lg; 
        &.active {
            background-color: theme('colors.primary');
            color: white;
        }
    }
}


table {
    tbody {
        td.buttons-actions {
            min-width: 245px;
            @media(max-width: 991px) {
                min-width: 170px;
            }
        }
    }
}


// DROPDOWN ITEMS

.dropdown-item.dropdown-item-primary {
    &:hover {
        background-color: theme('colors.primary');
        color: white;
    }
}

// LOADING BUTTONS
.btn-loading {
    position: relative;
    transition: all .3s;
    padding: 0.5em 1em;
    transition-timing-function: ease-in;
    .lds-ring {
        position: absolute;
        opacity: 0;
        height: 20px;
        width: 20px;
        left: 9px;
        top: 50%;
        transform: translateY(-50%);
        div {
            height: 20px;
            width: 20px;
        }
    }
    &.running {
        padding-left: 2.5em!important;
        .lds-ring {
            opacity: 1;
            z-index: auto;
            visibility: visible;   
        }
    }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}