.no-padding {
    padding: 0;
}

.start-hidden {
    display: none;
}

.rounded-xl {
    border-radius: 1rem;
}

.text-danger { color: #c22433; }

.h-max-48 { max-height: 12rem; }
.h-max-64 { max-height: 16rem; }
.h-max-96 { max-height: 24rem; }



.no-shadow {
    @include vendor(box-shadow, none !important);
    @include vendor(outline, none !important);
    -webkit-appearance: none !important;
}

@media(max-width: $mq-tiny) {
    .hidden-xxxs {
        display: none;
    }
}

@media(max-width: $phone) {
    .hidden-xxs {
        display: none;
    }
}


.dropdown-menu {
    right: 0px;
    left: auto;
}

// SCROLLBAR STYLE

::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(105, 104, 104); 
  }