.wrapper-content {
    // width: calc(100% - 350px);
    // margin-left: 0%;
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;
    transition: 0.6s all cubic-bezier(0.4, 0, 1, 1);
    &.large {
        // left: 250px;
        .navbar {
            .btn-collapse-sidebar {
                &:after {
                    content: '';
                    position: absolute;
                    left: 55%;
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(270deg);
                }
            }
             
        }
    }
    @screen md {
        width: 81%;
        left: 19%;
        // .navbar {
        //     .btn-collapse-sidebar {
        //         display: inline-flex;
        //     }
        // }
        &.large {
            width: calc(100% - 140px);
            left: 140px;
        // margin-left: 25%;
    }
    }
}

.title-section {
    font-weight: 600;
}

.media-files-tab {
    .dropzone {
        padding: 0;
        display: flex;
        align-items: center;
        min-height: 130px;
        background: #e6e6e6;
        color: #252525;
        border-color: #d3d3d3;    
        .dz-message {
            margin: 0em .5rem;
        }
        .dz-preview.dz-image-preview {
            background: #e6e6e6; 
        }
        .dz-image, .dz-details, .dz-success-mark {
            display: none !important;
        }
        .dz-preview.dz-error .dz-error-message {
            // display: block;
            font-size: 11px;
            top: 100px;
        }
        .dz-preview:hover .dz-remove {
            opacity: 0;
        }
    }

    .close-icon {
        position: absolute;
        right: 10px;
        top: 6px;
        img {
            height: 15px;
            width: 12px;
            margin: 0 auto;
            margin-top: 3px;
        }
        svg {
            max-width: 20px;
            max-height: 20px;
            background: rgba(255, 255, 255, 0.774);
            border-radius: 50%;
            border: 1px solid theme('colors.gray.500');
            cursor: pointer;
            transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);
            &:hover {
                background: white;   
            }
        }
    }
}

.sidebar {
    // width: 350px;
    // position: absolute;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -250px;
    width: 250px;
    z-index: 200;
    // display: none;
    background-color: white;
    transition: 0.4s all ease-in-out;
    // overflow-y: scroll;
    // width: 0;
    .sidebar-close-icon {
        position: absolute;
        top: 12px;
        left: 210px;
        cursor: pointer;
        img {
            max-width: 25px;
        }
    }
    &.small {
        left: 0;
        background-color: white; 
        width: 250px; 
        display: block;
        .sidebar-out {
            transition: 1s all cubic-bezier(0.4, 0, 1, 1);
            position: fixed;
            top: 0;
            bottom: 0;
            width: calc(100% - 250px);
            right: 0;
            background-color: rgba(0, 0, 0, 0.5);    
        }
    }
    .btn-collapse-sidebar {
        position: absolute;
        top: 10px;
        right: -17px;
        width: 35px;
        height: 35px;
        transition: .5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
        // &:after {
        //     content: '';
        //     transition: .5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
        //     position: absolute;
        //     left: 45%;
        //     top: 50%;
        //     transform: translate(-50%, -50%) rotate(90deg);
        //     width: 0;
        //     height: 0;
        //     border-left: 8px solid transparent;
        //     border-right: 8px solid transparent;
        //     border-top: 15px solid #fff;
        // }
    }
    @screen md {
        .sidebar-close-icon {
            display: none;
        }
        display: block;
        width: 19%;
        left: 0;
        &.small {
            background-color: theme('colors.primary'); 
            width: 140px;
            div.logo {
                // transform: translateX(-100%);
                max-width: 120px;
                min-width: 100px;
                background-image: url('../img/logo-sm.png');
                // display: none;
            }
            .btn-collapse-sidebar {
                position: absolute;
                top: 10px;
                right: -17px;
                width: 35px;
                height: 35px;
                transition: .5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
                &:after {
                    content: '';
                    position: absolute;
                    left: 55%;
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(270deg);
                }
            }
            .menu {
                li {
                    a { 
                        span.item-title {
                            display: none;
                        }
                    }
                }
            }

            .user-avatar-photo {
                width: 100px;
                height: 100px;
            }
        }
    }
    div.logo {
        max-width: 200px;
        min-width: 150px;
        height: 80px;
        background-image: url('../img/logo.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; 
        transition: 0.6s all cubic-bezier(0.4, 0, 1, 1);
    }
    .menu {
        li {
            a,button {
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 1.5rem;
                padding-right: 1.5rem; 
                font-size: .9rem;
                position: relative;
                text-transform: capitalize;
                font-weight: 400;
                transition: 0.4s all ease-in-out;
                color: theme('colors.gray.700'); 
                // @include transitions();
                img {
                    max-width: 23px;
                    height: auto;
                }
                @screen md {
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
                @screen lg {
                    padding-left: 2rem;
                    padding-right: 2rem;
                }
            }
        }
    }

    .user-avatar-photo {
        width: 115px;
        height: 115px;
        object-fit: cover;
        margin: 5px auto;
        border-radius: 50%;
        border: 1px solid theme('colors.gray.200');

    }
}


/*================== NAVBAR ==================*/
.navbar {
    #navbarSupportedContent {
        #search-button {
            height: 40px;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
            border-bottom-right-radius: .5rem;
            border-top-right-radius: .5rem;
            padding: 0 5px;
            img {
                width: 30px;
            }
        }
        #filters {
            height: 40px;
        }

        #input-navbar {
            height: 40px;
            border: 1px solid theme('colors.red.700');
            border-left: 1px solid theme('colors.red.700');
            border-right: none;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
            border-bottom-left-radius: .5rem;
            border-top-left-radius: .5rem;
            &:focus {
                outline: none;
            }
        }

        .filters-panel-athlete {
            #input-navbar-entities,
            #input-navbar-specialities-scout {
                height: 40px;
                border: 1px solid theme('colors.red.700');
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
                border-radius: .5rem;
                // overflow: hidden;
                &:focus {
                    outline: none;
                }
            }

            // #input-navbar-specialities-scout {
            //     height: 40px;
            //     border: 1px solid theme('colors.red.700');
            //     box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
            //     border-radius: .5rem;
            //     // overflow: hidden;
            //     &:focus {
            //         outline: none;
            //     }
            // }
            
            #input-navbar-entities + .chosen-container,
            #input-navbar-specialities-scout + .chosen-container {
                a.chosen-single {
                    height: 40px;
                    border: 1px solid theme('colors.red.700');
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
                    border-radius: .5rem;
                    padding: 0.4rem 0.75rem;
                    div {
                        top: 3px;
                    }
                }
                &.chosen-container-active.chosen-with-drop {
                    a.chosen-single {
                        background-image: none;
                    }
                    div.chosen-drop {
                        border: 1px solid theme('colors.red.700');
                        border-top: none;
                        top: 88%;
                        // margin: -1px;
                        // width: 101%;
                    }
                }
            }
        }

        #collapseFilters {
            #input-navbar-entities + .chosen-container, // Filter Entity to Scout User
            #input-navbar-specialities-scout + .chosen-container { // Filter Speciality to Scout User
                margin-top: 0.5rem;
                a.chosen-single {
                    min-height: calc(1.5em + 0.5rem + 2px);
                    height: calc(1.5em + 0.5rem + 2px);
                    padding: 0.25rem 0.5rem;
                    font-size: 0.7875rem;
                    line-height: 1.5;
                    border-radius: 0.2rem;
                    div {
                        top: -2px;
                    }
                }
                &.chosen-container-active.chosen-with-drop {
                    a.chosen-single {
                        background-image: none;
                    }
                    div.chosen-drop {
                        border-top: none;
                        top: 88%;
                        // margin: -1px;
                        // width: 101%;
                    }
                }
            }
        }
    }
    .filters-navbar {
        // position: absolute;
        // top: 40px;
        // border: 1px solid theme('colors.gray.300');
        // width: 100%;
        input[type="radio"] {
            border-color: #c53030;
        }
        border: 1px solid theme('colors.red.700');
        border-radius: .5rem;
        padding: 5px 7px;
        z-index: 50;
        background: white;
        #collapseFilters {
                position: fixed;
                background: white;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: none;
                overflow-y: scroll;
                padding: 0px 5px 10px;
                .close-filters-mobile {
                    position: absolute;
                    right: 15px;
                    top: 10px;
                    width: 20px;
                    display: block;
                }
        }
        @screen md {
            #collapseFilters {
                position: relative;
                background: transparent;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: block;
                overflow-y: inherit;
                padding: 0px;
                .close-filters-mobile {
                    display: none;
                }
            }
        }
        
    }
    .btn-collapse-sidebar {
        position: relative; 
        width: 47px;
        border-radius: 5px;
        padding: 4px 5px;
        height: 40px;
        transition: .5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
        // &:after {
        //     content: '';
        //     transition: .5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
        //     position: absolute;
        //     left: 45%;
        //     top: 50%;
        //     transform: translate(-50%, -50%) rotate(90deg);
        //     width: 0;
        //     height: 0;
        //     border-left: 8px solid transparent;
        //     border-right: 8px solid transparent;
        //     border-top: 15px solid #fff;
        // }
    }

    .btn-logout {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        @screen md {
            width: auto;
        }
    }
}

/*========== BUTTON CLOSE IN MODAL =============*/
.close-icon-modal {
    position: absolute;
    right: 5px;
    top: 5px;
    max-width: 20px;
    z-index: 20;
}

/*========== DELETE LOGO EDITING CLUB =============*/
.delete-media.close-icon {
    position: absolute;
    right: 10px;
    top: 4px;
    height: 20px;
    width: 20px;
    z-index: 40;
    background: white;
    border-radius: 50%;
    // border: 1px solid theme('colors.gray.500');
    cursor: pointer;
    transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover {
        background: white;   
    }
    i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}


.nav-outline-primary {
    a {
        font-weight: 600;
    }
    a.active {
        background: transparent;
        color: theme('colors.primary');
        border-bottom: 1px solid theme('colors.primary');
    }
}


/************ RECRUITMENTS *************/
.btnResponseRecruitment {
    &.responseYes {
        border: 1px solid theme('colors.gray.800');
        margin-top: 2px;
        font-size: .8rem;
        &:hover,&.active {
            background: theme('colors.success');
            border: 1px solid theme('colors.success');
            color: white;
        }
    }
    &.responseNo {
        border: 1px solid theme('colors.gray.800');
        margin-top: 2px;
        font-size: .8rem;
        &:hover,&.active {
            background: theme('colors.primary');
            border: 1px solid theme('colors.primary');
            color: white;
        }
    }
    
    &.responsePerhaps {
        border: 1px solid theme('colors.gray.800');
        margin-top: 2px;
        font-size: .8rem;
        &:hover,&.active {
            background: theme('colors.orange.500');
            border: 1px solid theme('colors.orange.500');
            color: white;
        }
    }
}

.btnRequestRecruitment { 
    border: 1px solid theme('colors.gray.800');
    margin-top: 2px;
    font-size: .8rem;
    &:hover,&.active {
        background: theme('colors.gray.800');
        border: 1px solid theme('colors.gray.800');
        color: white;
    }
}

/************ CAROUSEL *************/
.carousel-updates {
    .swiper-button-next,
    .swiper-button-prev {
        transform: none !important;
    }
}


/******** MODAL ARTICLE ********/
.modal-article {
     .modal-header {
         padding: 0;
     }
     .modal-container { 
         max-width: 700px;
     }
}

.card-p {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 1rem;
    border-radius: 0.5rem;
    background: white;
}


// ICONS SIDEBAR
.sidebar {
    
    div.statics {
        padding: 0 2rem;
    }
    div.name-user {
        color: theme('colors.gray.700');
    }
    div.count-statics {
        color: theme('colors.primary');
    }
    .img-sidebar {
        width: 21px;
        height: 20px;
        min-width: 21px;
        min-height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; 
    }

    .count-notifications,
    .count-messages {
        color: theme('colors.primary');
    }
    .img-notifications {
        background-image: url('../img/icons/notifications.png');
    }
    .img-myposts {
        background-image: url('../img/icons/my-posts.png');
    }
    .img-myprofile {
        background-image: url('../img/icons/my-profile.png');
    }
    .img-messages {
        background-image: url('../img/icons/messages.png');
    }
    .img-dashboard {
        background-image: url('../img/icons/dashboard.png');
    }
    .img-followed {
        background-image: url('../img/icons/followed.png');
    }
    .img-favorites {
        background-image: url('../img/icons/favorites.svg');
    }
    .img-recruitments {
        background-image: url('../img/icons/recruitments.png');
    }
    .img-config {
        background-image: url('../img/icons/admin/config.png');
    }
    .img-users {
        background-image: url('../img/icons/admin/users.png');
    }
    .img-clubes {
        background-image: url('../img/icons/admin/clubs.png');
    }
    .img-sports {
        background-image: url('../img/icons/admin/sports.png');
    }
    .img-articles {
        background-image: url('../img/icons/admin/articles.png');
    }
    .img-publicities {
        background-image: url('../img/icons/admin/publicities.png');
    }
    .img-plans {
        background-image: url('../img/icons/admin/plans.png');
    }
    .img-coupons {
        background-image: url('../img/icons/admin/coupons.png');
    }
    .img-subscriptions {
        background-image: url('../img/icons/admin/subscriptions.png');
    }
    .img-showcase {
        background-image: url('../img/icons/admin/showcase.png');
    }
    .img-faqs {
        background-image: url('../img/icons/admin/faqs.png');
    }
    .menu li a.active,
    .menu li a:hover, 
    .menu li button:hover {
        background: theme('colors.primary');
        .item-title,
        .count-notifications,
        .count-messages {
            color: white;
        }
        .img-notifications {
            background-image: url('../img/icons/admin/notifications_bn.png');
        }
        .img-myposts {
            background-image: url('../img/icons/my-posts-blanco.png');
        }
        .img-myprofile {
            background-image: url('../img/icons/my-profile-blanco.png');
        }
        .img-messages {
            background-image: url('../img/icons/admin/messages_bn.png');
        }
        .img-dashboard {
            background-image: url('../img/icons/admin/dashboard_bn.png');
        }
        .img-followed {
            background-image: url('../img/icons/followed-blanco.png');
        }
        .img-favorites {
            background-image: url('../img/icons/admin/favorites_bn.png');
        }
        .img-recruitments {
            background-image: url('../img/icons/admin/recruitments_bn.png');
        }
        .img-publicities {
            background-image: url('../img/icons/admin/publicities_bn.png');
        }
        .img-plans {
            background-image: url('../img/icons/admin/plans_bn.png');
        }
        .img-config {
            background-image: url('../img/icons/admin/config_bn.png');
        }
        .img-users {
            background-image: url('../img/icons/admin/users_bn.png');
        }
        .img-clubes {
            background-image: url('../img/icons/admin/clubs_bn.png');
        }
        .img-sports {
            background-image: url('../img/icons/admin/sports_bn.png');
        }
        .img-articles {
            background-image: url('../img/icons/admin/articles_bn.png');
        }
        .img-coupons {
            background-image: url('../img/icons/admin/coupons_bn.png');
        }
        .img-subscriptions {
            background-image: url('../img/icons/admin/subscriptions_bn.png');
        }
        .img-faqs {
            background-image: url('../img/icons/admin/faqs_bn.png');
        }
    }
    
    @screen md {
        &.small {

            div.statics {
                padding: 0 0.5rem;
            }

            div.name-user {
                color: white;
            }

            div.title-statics,
            div.count-statics {
                color: white;
            }

            .count-notifications,
            .count-messages {
                color: white;
                padding-left: 10px;  
                &:hover{
                    color: white;
                }
            }

            .img-notifications {
                background-image: url('../img/icons/notifications-blanco.png');
            }
            .img-myposts {
                background-image: url('../img/icons/my-posts-blanco.png');
            }
            .img-myprofile {
                background-image: url('../img/icons/my-profile-blanco.png');
            }
            .img-messages {
                background-image: url('../img/icons/messages-blanco.png');
            }
            .img-dashboard {
                background-image: url('../img/icons/dashboard-blanco.png');
            }
            .img-followed {
                background-image: url('../img/icons/followed-blanco.png');
            }
            .img-favorites {
                background-image: url('../img/icons/favorites-blanco.png');
            }
            .img-recruitments {
                background-image: url('../img/icons/recruitments-blanco.png');
            }
            .img-config {
                background-image: url('../img/icons/config-blanco.png');
            }
            
        }   
    }
}


/****************  DROPZONE PUBLICITIES  *******************/
#dropzonePublicidad,
#dropzonePublicidadesAbajo {
    &.dropzone {
        padding: 0;
        display: flex;
        align-items: center;
        background: #e6e6e6;
        color: #252525;
        border-color: #d3d3d3;
        .dz-preview.dz-image-preview {
            background: #e6e6e6; 
        }
        .dz-image, .dz-details, .dz-success-mark {
            display: none !important;
        }
        .dz-preview.dz-error .dz-error-message {
            // display: block;
            font-size: 11px;
            top: 100px;
        }
        .dz-preview:hover .dz-remove {
            opacity: 0;
        }

        // .dz-preview {
        //     display: none !important;
        // }

        .dz-message {
            // display: flex;
            // align-items: center;
            margin: 0em .5rem;
        }
    }
}


// HAMBURGUER NAVBAR

.animated-hamburguer {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    }
    
    .animated-hamburguer span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    background: white;
    }
    
    
    .animated-hamburguer span:nth-child(1) {
        top: 0px;
    }
    
    .animated-hamburguer span:nth-child(2) {
        top: 10px;
    }
    
    .animated-hamburguer span:nth-child(3) {
        top: 20px;
    }
    
    .animated-hamburguer.open span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    
    .animated-hamburguer.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }
    
    .animated-hamburguer.open span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
    