.modal {
    .modal-header {
        border-top-left-radius: 3px;
        -moz-border-radius-top-left: 3px;
        -webkit-border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        -moz-border-radius-top-right: 3px;
        -webkit-border-top-right-radius: 3px;
    }
    &.modal-success {
        .modal-header {
            color: $white;
            background-color: $brand-success;
        }
    }
    &.modal-warning {
        .modal-header {
            color: $white;
            background-color: $brand-warning;
        }
    }
    &.modal-danger {
        .modal-header {
            color: $white;
            background-color: $brand-danger;
        }
    }
    &.modal-info {
        .modal-header {
            color: $white;
            background-color: $brand-info;
        }
    }
    &.modal-primary {
        .modal-header {
            color: $white;
            background-color: $brand-primary;
        }
    }
    .modal-footer {
        padding: 0.5rem 1rem;
    }

    .close-icon {
        position: relative;
        // right: 10px;
        // top: 15px;
        width: 25px;
        height: 25px;
        padding: 0;
        cursor: pointer;
        z-index: 30;
        background: transparent;
      }
      
      .close-icon:before,
      .close-icon:after {
        position: absolute;
        top: 0px;
        content: " ";
        height: 25px;
        width: 2px;
        z-index: 30;
        background-color: #000;
      }
      .close-icon:before {
        transform: rotate(45deg);
      }
      .close-icon:after {
        transform: rotate(-45deg);
      }

    }

.modal-mask {
    .close-icon {
        position: relative;
        // right: 10px;
        // top: 15px;
        width: 25px;
        height: 25px;
        padding: 0;
        cursor: pointer;
        z-index: 30;
        background: transparent;
    }
    
    .close-icon:before,
    .close-icon:after {
        position: absolute;
        top: 0px;
        content: " ";
        height: 25px;
        width: 2px;
        z-index: 30;
        background-color: #000;
    }
    .close-icon:before {
        transform: rotate(45deg);
    }
    .close-icon:after {
        transform: rotate(-45deg);
    }
}
