table.primary {
    thead {
        border: 1px solid theme('colors.primary');
    }
    th {
        border: none;
    }
    tr:first-child {
        td {
            border-top: none;
        }
    }
}

table.vertical-middle {
    tr {
        td {
            vertical-align: middle;
        }
    }
}