.profile-sidebar {
    padding: 0 !important;
    .nav-pills {
        border-radius: .5rem;
        overflow: hidden;
        @media(max-width: theme('screens.md')) {
            flex-wrap: wrap;
        }
        background: white;
        border: 1px solid theme('colors.primary');
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        a {
            color: theme('colors.gray.700');
            text-align: center;
            width: 100%;
            position: relative;
            padding: 0.5rem 1.2rem;
            span.number {
                position: absolute;
                bottom: 5px;
                right: 10%;
                font-size: 1rem;
                color: theme('colors.primary');
            }
            @media(max-width: theme('screens.md')) {
                width: auto;
                flex-grow: 1;
                padding: .5rem;
                span.text {
                    font-size: .8rem;
                }
                span.number {
                    right: 8%;
                    bottom: auto;
                    top: 10px;
                }
            }
            @media(max-width: theme('screens.sm')) {
                width: 33.33%;
                flex-grow: initial;
            } 
            img {
                max-width: 4rem;
                margin: 0 auto;
            }
            &::after {
                @media(max-width: theme('screens.md')) {
                    content: none;
                }
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                background: theme('colors.gray.400');
                height: 1px;
                width: 75%;
                transform: translate(-50%);

            }
            &.active {
                background: theme('colors.primary');
                &::after {
                    content: none;
                }
                span.number {
                    color: theme('colors.white');
                }
            }
            &:last-child {
                &::after {
                    content: none;
                }
            }
        }
    }
    .nav-pills-admin {
        a {
            @media(max-width: theme('screens.sm')) {
                width: auto;
                flex-grow: 1;
            } 
        }
    }
}

.nav-pills-profile-sports {
    a {
        color: white;
        background-color: theme('colors.primary');
        border-radius: 0rem;
        display: block;
        padding: 0.5rem 1rem;
        &.active {
            background-color: white;
            color: theme('colors.primary');
        }   
    }
}

.account-admin-subnav {
    li {
        &:first-child {
            border-radius: 2px 0 0 2px;
        }
        &:last-child {
            border-radius: 0 2px 2px 0;
        }
    }
}


.vue-tabs {
    .vue-tablist {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #9e9e9e;
        margin-bottom: .8rem;
        .vue-tab {
            color: white;
            background-color: theme('colors.primary');
            border-radius: 0rem;
            display: block;
            padding: 0.5rem 1rem;
            font-weight: 600;
            cursor: pointer;
        }
        .vue-tab[aria-selected="true"] {
            background-color: white;
            color: theme('colors.primary');
        }
    }
}