// Body
$white: #ffffff;
$body-bg: #f5f8fa;

// Social Media
$facebook: #4863ae;
$twitter: #46c0fb;
$google: #DD4B39;
$github: #4183C4;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #be1f2e;
$text-color: #636b6f;

// Typography
$font-family-sans-serif: "Nunito Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Transitions
$transitionSpeed: 0.35s;

// Radius'
$standard-radius: 3px;

// MQ's
$mq-tiny: 320px;
$phone: 480px;
$bs4-phone: 576px;
$tablet: 767px;
$desktop: 992px;
$lg-desktop: 1200px;

// Margins and Padding
$num-of-classes: 5;
$directions: ('top', 'bottom', 'left', 'right');
$types: ('margin', 'padding');
$queries: (
    $mq-tiny: 'xxs',
    $phone: 'xs',
    $tablet: 'sm',
    $desktop: 'md',
    $lg-desktop: 'lg'
);

// // Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels / Cards
$panel-default-heading-bg: $white;
