nav.nav-welcome {
    li {
        a.btn-login,
        a.btn-register {
            background: white;
            color: $primary;
            font-size: .8rem;
            &:hover {
                box-shadow: 0px 7px 6px 0px #0000004a;
                text-decoration: none;
            }
        }
    }

    .navbar-brand {
        img {
            max-width: 138px;
        }
        @media(max-width: 1023px) { 
            img {
                max-width: 118px;
            }
        }

    }

}

img.img-main {
    transition: .5s all ease-out;
    &:hover {
        transform: rotate(1deg) scale(1.01);
    }    
}

.title-home {
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        width: 80%;
        left: 10%;
        height: 4px;
        background: #be1f2e;
    }
}

.title-clubusers {
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        width: 80%;
        left: 10%;
        height: 4px;
        background: #be1f2e;
    }
}

.title-home-main {
    color: black;
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        width: 80%;
        left: 0%;
        height: 4px;
        background: #be1f2e;
    }
}

#welcomeSports,
#ahletesClub,
#scoutsClub {
    .swiper-button-next,
    .swiper-button-prev {
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    width: 22px;
    height: 28px;
    margin-top: -22px;
    background-image: none;
    }
    .swiper-button-next:focus,
    .swiper-button-prev:focus {
        outline: none;
    }

    .swiper-button-next {
    right: 0px;
    }

    .swiper-button-prev {
    left: 0px;
    }

    .arrow-left {
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    border-style: solid;
    border-width: 10px 25px 10px 0;
    border-color: transparent #1c1d1f transparent transparent;
    }

    .arrow-right {
    position: absolute;  
    width: 0;
    height: 0;
    right: 0;
    border-style: solid;
    border-width: 10px 0 10px 25px;
    border-color: transparent transparent transparent #1c1d1f;
    }
}

#formSearchNavbarHome{
    #input-navbar {
        height: 36px;
        border: none;
        border-bottom-left-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        outline: 0;
    } 

    #search-button {
        height: 36px;
        border-bottom-right-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        padding: 0 5px;
    }
}

#navWelcome {
    @media(max-width: 1023px) {
        .nav-item {
            justify-content: center;
            display: flex;
        }
        // .nav-item-lang > div {
        //     right: 15%;
        // }
    }
    .nav-item-lang {
        // padding: 9px 0 0 0;
        a {
            // width: 100%;
            display: flex;
            align-items: center;
            margin-top: 3px;
            img {
                margin-right: 5px;
                // max-width: 25px;
                // padding-bottom: 5px;
            }
        }
    }
    .link-navbar {
        display: flex;
        align-items: center;
        @media(max-width: 1023px) {
            justify-content: center;
            border-bottom: 1px solid white;    
            &.active {
                background-color: white;
                color: theme('colors.primary');
            }
        }
        &.active {
            button,a {
                background-color: white;
                color: theme('colors.primary');
            }
        }
        button,a {
            background: transparent;
            font-size: 0.8rem;
            text-transform: uppercase;
            padding: 0.375rem 0.6rem;
            color: white;
            white-space: nowrap;
            font-weight: 600;
        }
    }
}


#faqsPage {
    .card-header {
        background-color: theme('colors.primary');
        padding: 0.4rem 1rem;
        button {
            color: white;
            text-transform: uppercase;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    .card {
        .card-body {
            background-color: theme('colors.gray.300');
        }
    }
}

#planes {
    .plan {
        transition: all 0.3s ease-out;
        height: 100%;
        position: relative;
        padding-bottom: 65px;
        &:hover {
            transform: translateY(-10px);
        }
        .select-button {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .plan-scout {
        transition: all 0.3s ease-out;
        position: relative;
        &:hover {
            transform: translateY(-10px);
        }
    }
}

.section-wrapper {
    margin-top: 80px;
    @screen lg {
        margin-top: 95px;
    }
}