// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700&display=swap');

// Variables
@import "variables";

// Bootstrap
@import 'bootstrap/scss/bootstrap';

@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

@import 'safari-support';


body { 
    overflow-x: hidden;
}

.form-control:focus {
    border-color: #000;
    box-shadow: none;
}

.row {
    margin: 0px;
}

.btn:focus, 
.btn.focus,
button:focus {
    box-shadow: none;
    outline: none;
}

// Font Awesome
@import '~font-awesome/scss/font-awesome';
// @import '~@fortawesome/fontawesome-free/scss/fontawesome';
// @import '~@fortawesome/fontawesome-free/scss/solid';
// Dropzone
@import "~dropzone/dist/basic";
@import "~dropzone/dist/dropzone";

// MULTISELECT VUE
@import '~vue-multiselect/dist/vue-multiselect.min.css';
.multiselect__tags {
    border-radius: 0px;
}


@import "mixins";
@import "helpers";
@import "buttons";
@import "bootstrap-social";
@import "home";
@import "panels";
@import "wells";
@import "modals";
@import "socials";
@import "forms";
@import "avatar";
@import "logs";
@import "password";
@import "rangeslider";
@import "tables";
@import "hideShowPassword";
@import "visibility";
@import "user-profile";
@import "welcome";

@import "animate";
// @import "~air-datepicker/src/sass/datepicker.scss";