.range-slider {
    // width: 300px;
    margin: auto;
    text-align: center;
    position: relative;
    height: 1rem;
    svg, input[type=range] {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  
  input {
    &[type=range] {
      -webkit-appearance: none;
      width: 100%;
      &:focus {
        outline: none;
        &::-webkit-slider-runnable-track, &::-ms-fill-lower, &::-ms-fill-upper {
          background: theme('colors.primary');
        }
      }
      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 2px;
        cursor: pointer;
        animate: 0.2s;
        background: theme('colors.gray.800');
        border-radius: 1px;
        box-shadow: none;
        border: 0;
      }
      &::-webkit-slider-thumb {
        z-index: 2;
        position: relative;
        box-shadow: 0px 0px 0px #000;
        // border: 1px solid theme('colors.primary');
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: theme('colors.red.500');
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -7px;
      }
      &::-moz-range-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animate: 0.2s;
        background: theme('colors.primary');
        border-radius: 1px;
        box-shadow: none;
        border: 0;
      }
      &::-moz-range-thumb {
        z-index: 2;
        position: relative;
        box-shadow: 0px 0px 0px #000;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: theme('colors.red.500');
        cursor: pointer;
      }
      &::-ms-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }
      &::-ms-fill-lower, &::-ms-fill-upper {
        background: theme('colors.primary');
        border-radius: 1px;
        box-shadow: none;
        border: 0;
      }
      &::-ms-thumb {
        z-index: 2;
        position: relative;
        box-shadow: 0px 0px 0px #000;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: theme('colors.primary');
        cursor: pointer;
      }
    }
  }