<template>
  <div class="p-4 bg-white rounded shadow-sm">
    <h4 class="mb-4">{{ $t('titles.favorites') }}</h4>
    <div v-if="loading" class="flex items-center h-24">
      <spinner class="mx-auto"></spinner>
    </div>
    <div class="text-sm w-full mb-2 border-b pb-2" v-for="(u,i) in updates" :key="i">
      <div class="flex justify-between items-center">
        <!-- <div class="flex flex-wrap items-center"> -->
            <div class="w-24 pr-2">
              <img class="h-16 w-16 object-cover rounded-full border border-gray-800" :src="u.user.avatar" :alt="u.user.fullName">
            </div>
            <div class="w-full">
                <div>
                  <a class="inline-flex capitalize" :href="'/p/profile/'+u.user.uuid" >{{ u.user.fullName }}</a>
                  <span class="" v-html="getTexto(u)"></span>
                  <a class="ml-1 cursor-pointer" v-if="u.type == 'newPost'" @click="getPost(u.body.post_id)"> post </a>
                </div>

                <div class="w-full">
                  <div class="text-gray-700" v-if="u.user.athlete && u.user.athlete.current_entity.length > 0">
                      {{ u.user.athlete.current_entity[0].entity.name }}
                  </div>
                  <div class="text-gray-700" v-if="u.user.athlete && u.user.athlete.sport">
                      {{ u.user.athlete.sport.name }}
                  </div>
                </div>
                <div class="text-right text-xs text-gray-600">
                    {{ u.timeAgo }}
                </div>
            </div>
        <!-- </div> -->
      </div>
    </div>
    <div v-if="!loading && updates.length == 0" class="w-full">{{ $t('dashboard.favorites.noResults') }}</div>
  
    <!-- Modal POST -->
    <p-modal-post :post="currentPost" v-if="currentPost" @close="currentPost = null">
    </p-modal-post>
  
  </div>
</template>

<script>
import { findAndColorWord } from "@/utils/functions.js";
import textActivityUser from '@/mixins/textActivityUser.js';
export default {
  data() {
    return {
      loading: false,
      updates: [],
      currentPost: null
    };
  },
  mixins: [textActivityUser],
  created() {
    this.getUpdates();
  },
  methods: {
    getUpdates() {
      this.loading = true;
      axios.get("/api/favoritesusers").then(res => {
        this.updates = res.data.updates;
        this.loading = false;
      });
    },
    getPost(id) {
      axios.get(`/api/post/${id}`).then(res => {
        this.currentPost = res.data.post;
      })
    }
  }
};
</script>
    
<style>
</style>
