<template>
  <div class="card-p">
    <div class="flex items-center relative pb-2 border-b">
      <h4>{{ $t('dashboard.followed-favorite.title') }}</h4>
      <div style="top: 100%" v-if="successMessage" class="z-30 w-full absolute alert alert-success alert-dismissable">
          <a href="#" @click.prevent="successMessage = ''" class="close" aria-label="close">&times;</a>
          <span id="message"> {{ successMessage }} </span>
      </div>
    </div>

    <div class="w-full h-96 overflow-y-scroll">
    
    <div class="w-full border-b py-1 pr-2" v-for="(u,i) in publications" :key="i">
      <div v-if="!u.post" class="flex w-full items-center">
            <user-photo :size="'profile-xs sm:profile-sm'" class="mr-2 sm:mr-4" :user="u.user"></user-photo>
          <div class="w-full">
                <div>
                  <a v-if="user && u.user.uuid != user.uuid" class="font-semibold inline-flex capitalize" :href="'/p/profile/'+getLinkToUser(u.user.fullName,u.user.uuid)">{{ u.user.fullName }}</a>
                  <span v-else class="font-semibold inline-flex capitalize"> {{ $t('dashboard.you') }} </span>
                  <span class="pl-1" v-html="getTexto(u)"></span>
                </div>
                <div class="text-xs text-gray-600">
                    {{ u.timeAgo }}
                </div>
          </div>
          <div class="w-1/3 sm:w-1/2">
            <div class="image-gallery relative" v-if="u.body && (u.body.url_video || u.body.url_image)">
              <button v-if="user && u.user.uuid != user.uuid && u.body.url_video && !u.body.url" @click.prevent="modalReport(u.body.id_video,'video')" class="btn-report">{{ $t('reports.buttons.report') }}</button>
              <button v-if="user && u.user.uuid != user.uuid && u.body.url_video && u.body.url" @click.prevent="modalReport(u.body.id_video,'videoUrl')" class="btn-report">{{ $t('reports.buttons.report') }}</button>
              <button v-if="user && u.user.uuid != user.uuid && u.body.url_image" @click.prevent="modalReport(u.body.id_image,'image')" class="btn-report">{{ $t('reports.buttons.report') }}</button>
              <mediamini-p :size="'h-16 sm:h-24 w-auto'" @select="selectMedia" :media="u.body"></mediamini-p>
            </div>
              <!-- Video -->
              <!-- <video v-if="u.body" @click.prevent="video = img" class="cursor-pointer w-full h-full object-cover rounded-lg">
                  <source :src="img.fullUrl" :type="img.mime_type">
              </video>
              <div v-else @click.prevent="video = img" class="cursor-pointer w-full h-full object-cover rounded-lg">
                <iframe style="pointer-events:none;" @click.prevent="video = img" class="w-full h-full object-cover rounded-lg" :src="img.url" frameborder="0"></iframe>
              </div> -->
          </div>
      </div>
      <!-- Si es un post lo mostramos -->
      <div v-else class="flex justify-between items-center">
            <div class="flex items-center w-full relative">
                <user-photo :size="'profile-xs sm:profile-sm'" class="mr-2 sm:mr-4" :user="u.post.user"></user-photo>
                <div class="w-2/3 md:w-3/5">
                    <!-- <div class="flex flex-wrap">  -->
                      <span>
                        <a v-if="user && u.post.user.uuid != user.uuid" class="font-semibold inline-flex capitalize" :href="'/p/profile/'+getLinkToUser(u.post.user.fullName,u.post.user.uuid)">{{ u.post.user.fullName }}</a>
                        <span v-else class="font-semibold inline-flex capitalize"> {{ $t('dashboard.you') }} </span>
                        <span> 
                            <span class="font-semibold"> {{$t("dashboard.favorites.newPostShowing")}}</span>
                            <span class="hidden sm:inline-flex">:</span> 
                            <span @click="getPost(u.post.id)" class="hidden sm:inline-flex text-xs sm:text-sm text-gray-800 cursor-pointer" v-html="cutText(u.post.body, 35)"></span> 
                        </span>
                        <!-- <span @click="getPost(u.id)" class="cursor-pointer text-prev text-gray-800"> {{ u.body }} </span> -->
                      </span>
                    <!-- </div> -->
                    <!-- <a class="ml-1 cursor-pointer" @click="getPost(u.id)"> post </a> -->
                    <div class="text-xs text-gray-600">
                        {{ u.post.timeAgo }}
                    </div>  

                    <!-- Likes --- Comments -->
                    <div @click="getPost(u.post.id)" class="cursor-pointer w-full mt-2 flex">
                        
                          <div class="flex items-center text-sm">
                              <img class="icon-like" src="/img/icons/like.png" alt="Like">
                              <!-- <i class="text-primary fa fa-thumbs-up" aria-hidden="true"></i> -->
                              <span class="pl-2 text-like text-xs text-gray-900"> {{ u.post.likes.length }} {{ $tc('dashboard.posts.likes',u.post.likes.length) }} </span>    
                        </div>

                        <div class="ml-2 sm:ml-4 flex items-center text-sm">
                              <img class="icon-comment" src="/img/icons/comentario.png" alt="Comment">
                              <!-- <i class="text-primary fa fa-comment-o" aria-hidden="true"></i> -->
                              <span class="pl-2 text-comment text-xs text-gray-900"> {{ u.post.comments.length }} {{ $tc('dashboard.posts.comments',u.post.comments.length) }} </span>    
                        </div>   

                    </div>
                </div>
              
              
              <!-- EDIT - SHOW - DELETE -->
              <div class="ml-auto w-auto text-center">
                  <button v-if="user && u.post.user.uuid != user.uuid" @click.prevent="modalReport(u.post,'post')" class="text-xs text-gray-800"> {{ $t('reports.buttons.report') }} </button>
                  <a v-if="user && u.post.user.uuid == user.uuid" class="btn btn-sm btn-outline-info rounded-full" title="Edit" :href="'posts/' + u.post.id + '/edit'" v-html="$t('posts.buttons.edit')"></a>
                  <button class="my-1 btn btn-sm btn-outline-success rounded-full" title="Show" @click="getPost(u.post.id)" v-html="$t('posts.buttons.show')"></button>
                  <button v-if="user && u.post.user.uuid == user.uuid" class="btn btn-sm btn-outline-danger rounded-full" title="Delete" @click="deletePost = u.post" v-html="$t('posts.buttons.delete')"></button>
              </div>

            </div>
            
            

        
      </div>
    </div>
    <div v-if="loading" class="flex items-center h-24">
      <spinner class="mx-auto"></spinner>
    </div>

    <div class="flex py-2 justify-center" v-if="!loading && nextPageFollowedUsers">
      <button class="hover:underline" @click="loadMoreInfo"> {{ $t('dashboard.followed.loadMore') }} </button>
    </div>

    <div v-if="!loading && publications.length == 0" class="w-full">{{ $t('dashboard.followed.noResults') }}</div>
   </div>
    
    <!-- Modal POST -->
    <p-modal-post :post="currentPost" v-if="currentPost" @close="currentPost = null">
    </p-modal-post>

    <!-- Modal IMAGES AND VIDEOS -->
    <modal-media :type="currentMedia.id_video ? 'video' : 'image'" :media="currentMedia" v-if="currentMedia" @close="currentMedia = null"></modal-media>

    <!-- Modal To Report Post-->
    <modal v-if="postToReport" @close="postToReport = null">
      <div slot="body">
          <div v-if="typeFileReport == 'videoUrl'" class="col-12 py-2">{{ $t('reports.reportMessage',{'type': 'video'}) }}</div>
          <div v-else class="col-12 py-2">{{ $t('reports.reportMessage',{'type': typeFileReport}) }}</div>
      </div> 
      <div slot="footer">
          <div class="pull-right">
            <button class="btn" @click.prevent="postToReport = null"> 
              <i class="fa fa-fw fa-close" aria-hidden="true"></i>
              {{ $t('forms.cancel') }}
            </button>
            <button class="btn btn-danger" @click.prevent="reportPost"> 
              <i class="fa fa-fw fa-trash-o" aria-hidden="true"></i>
              {{ $t('reports.buttons.report') }} 
            </button>
          </div>
      </div> 
    </modal> 

  </div>
</template>

<script>
import textActivityUser from '@/mixins/textActivityUser.js';
import linkToShowUserMixin from '@/mixins/linkToShowUserMixin.js';
import { mapState, mapActions } from 'vuex';
import { cutText, cutHtmlString } from '@/utils/functions.js';
export default {
  data() {
    return {
      loading: false,
      updates: [],
      currentPost: null,
      currentMedia: null,
      currentPage: 1,
      postToReport: null,
      typeFileReport: null,
      successMessage: ''
    };
  },
  mixins: [textActivityUser,linkToShowUserMixin],
  created() {
    if(this.user == null) this.set_user();
    this.getData();
  },
  computed: {
    ...mapState(['user','posts','updatesFollowedUsers','nextPageFollowedUsers']),
    publications() {
        return _.orderBy(this.updatesFollowedUsers,'created_at','desc');
      }
  },
  methods: {
    ...mapActions(['set_user','updates_from_followed_users']),
    getData() {
      this.loading = true;
      this.updates_from_followed_users().then(res => {
        this.loading = false;
        this.currentPage += 1;
        this.$forceUpdate();
      });
    },
    loadMoreInfo() {
        this.loading = true;
        this.updates_from_followed_users(this.currentPage).then(res => {
          this.currentPage += 1;
          this.loading = false;
        });
    },
    getPost(id) {
      axios.get(`/api/post/${id}`).then(res => {
        this.currentPost = res.data.post;
      })
    },
    selectMedia(e) {
      this.currentMedia = e;
    },
    cutText(text,cant) {
      return cutHtmlString(text,cant);
    },
    modalReport(file, type) {
      this.postToReport = file;
      this.typeFileReport = type;
    },
    reportPost() {
      let id = null;
      switch (this.typeFileReport) {
        case "image":
          id = this.postToReport;
          break;
        case "video":
          id = this.postToReport;
          break;
        case "videoUrl":
          id = this.postToReport;
          break;
        case "post":
          id = this.postToReport.id;
          break;
        default:
          break;
      }
      axios.post("/api/report", { id: id, type: this.typeFileReport}).then(res => {
          this.successMessage = res.data.msg;
          this.postToReport = null;
      });
    }
  }
};
</script>
    
<style lang="scss" scoped>
.icon-like,
.icon-comment {
  width: 15px;
  height: 15px;
}

button.btn-report {
  position: absolute;
  background-color: white;
  color: black;
  border-radius: 4px;
  font-size: 0.75rem;
  padding: 2px 3px;
  top: 5px;
  right: 5px;
  display: none;
  transition: 0.5s all ease-out;
  z-index: 40;
}
.image-gallery:hover {
  button.btn-report {
    display: block;
  }
}
</style>