<template>
    <div class="card-p">
        <div class="relative flex items-center pb-2 border-b">
            <h5> {{ $t('titles.recruitments') }} </h5>
            <div v-if="!loading" class="ml-2 sm:ml-4 text-sm badge badge-primary py-1 px-4 rounded-full flex items-center">
                <strong class="pr-1">{{ invitations.length }} </strong> {{ $tc('dashboard.recruitments.actives',invitations.length) }}
            </div>
            <div style="top: 100%" v-if="successMessage" class="w-full absolute alert alert-success alert-dismissable">
                <a href="#" @click.prevent="successMessage = ''" class="close" aria-label="close">&times;</a>
                <span id="message"> {{ successMessage }} </span>
            </div>
        </div>

        <div class="w-full h-96 overflow-y-scroll">

        
        <div v-if="allRecruitments.length > 0" class="w-full">
            <div class="w-full mb-1 border-b pb-1 pr-2" v-for="(u,i) in allRecruitments" :key="i">
                <!-- RECRUITMENTS SCOUTS FAVORITES -->
                <div v-if="!u.invitation" class="text-sm flex flex-wrap justify-between w-full items-center">
                    <div class="leading-snug w-auto flex-1">
                        <div>
                            <span class="text-sm text-gray-900">   {{ $t('recruitments.invitation.scout') }}: </span>
                            <a :href="u.user.publicLink" class="text-gray-700"> {{ u.user.fullName }} </a>
                        </div>
                        <div> 
                            <span class="text-sm text-gray-900">   {{ $t('recruitments.invitation.place') }}: </span>
                            <span class="text-gray-700">  {{ u.place }} </span>
                        </div>
                        <div v-if="u.addressComplete"> 
                            <span class="text-sm text-gray-900">   {{ $t('recruitments.invitation.address') }}: </span>
                            <a :href="'http://maps.google.com/maps?q='+u.addressComplete" class="text-gray-700"> {{ u.addressComplete }} </a>
                        </div>
                        <div> 
                            <span class="text-sm text-gray-900"> {{ $t('recruitments.invitation.date') }}: </span>
                            <span class="text-gray-700">  {{ u.day_start }} {{ u.day_end ? ' - '+ u.day_end : '' }} </span> 
                        </div>
                        <div> 
                            <span class="text-sm text-gray-900"> {{ $t('recruitments.invitation.hour') }}: </span>
                            <span class="text-gray-700">  {{ u.hour }} </span> 
                        </div>
                        <div>
                            <button class="underline" @click.prevent="currentRecruitment = u" > {{ $t('recruitments.detail') }} </button>
                        </div>
                     
                    </div>
                    <div class="pt-2 w-auto">
                        <div class="badge badge-success rounded-full py-1 px-2" v-if="u.is_public"> {{ $t('recruitments.forms.public') }} </div>
                        <div class="badge badge-primary rounded-full py-1 px-2" v-else> {{ $t('recruitments.forms.private') }} </div>
                    </div>
                    <div class="w-full pt-2" v-if="isDateGreatherThanToday(u.day_end) && u.is_public">
                        <button class="px-2 btnResponseRecruitment responseYes rounded-full" @click="responseRecruitment(u.id,'yes')"> {{ $t('recruitments.invitation.yes') }} </button>
                        <button class="px-2 btnResponseRecruitment responseNo rounded-full" @click="responseRecruitment(u.id,'no')"> {{ $t('recruitments.invitation.no') }} </button>
                    </div>
                    <div class="w-full pt-2" v-if="isDateGreatherThanToday(u.day_end) && !u.is_public">
                        <button v-if="!recruitmentsRequestedIds.includes(u.id)" class="px-2 btnRequestRecruitment rounded-full" @click="requestInvitationRecruitment(u.id)"> {{ $t('recruitments.request.sendRequest') }} </button>
                        <button v-else class="px-2 btnRequestRecruitment active rounded-full">     <i class="fa fa-check"></i>  {{ $t('recruitments.request.responseSuccess') }} </button>
                    </div>

                </div>
                <!-- INVITATIONS -->
                <div v-if="u.invitation" class="text-sm flex flex-wrap justify-between w-full items-center">
                    <div class="leading-snug w-auto flex-1">
                        <div>
                            <span class="text-sm text-gray-900">   {{ $t('recruitments.invitation.invitation') }} {{ $t('recruitments.invitation.sentBy') }}: </span>
                            <a :href="u.recruitment.user.publicLink" class="text-gray-700"> {{ u.recruitment.user.fullName }} </a>
                        </div>
                        <div> 
                            <span class="text-sm text-gray-900">   {{ $t('recruitments.invitation.place') }}: </span>
                            <span class="text-gray-700">  {{ u.recruitment.place }} </span>
                        </div>
                        <div v-if="u.recruitment.addressComplete"> 
                            <span class="text-sm text-gray-900">   {{ $t('recruitments.invitation.address') }}: </span>
                            <a :href="'http://maps.google.com/maps?q='+u.recruitment.addressComplete" class="text-gray-700"> {{ u.recruitment.addressComplete }} </a>
                        </div>
                        <div> 
                            <span class="text-sm text-gray-900"> {{ $t('recruitments.invitation.date') }}: </span>
                            <span class="text-gray-700">  {{ u.recruitment.day_start }} {{ u.recruitment.day_end ? ' - '+ u.recruitment.day_end : '' }} </span> 
                        </div>
                        <div> 
                            <span class="text-sm text-gray-900"> {{ $t('recruitments.invitation.hour') }}: </span>
                            <span class="text-gray-700">  {{ u.recruitment.hour }} </span> 
                        </div>
                        <div>
                            <button class="underline" @click.prevent="currentRecruitment = u.recruitment" > {{ $t('recruitments.detail') }} </button>
                        </div>
                    </div>
                    <div class="pt-2 w-auto">
                        <div class="badge badge-success rounded-full py-1 px-2" v-if="u.recruitment.is_public"> {{ $t('recruitments.forms.public') }} </div>
                        <div class="badge badge-primary rounded-full py-1 px-2" v-else> {{ $t('recruitments.forms.private') }} </div>
                    </div>
                    <div class="w-full pt-2" v-if="isDateGreatherThanToday(u.recruitment.day_end)">
                        <button :class="{'active' : u.assist == 'yes'}" class="px-2 btnResponseRecruitment responseYes rounded-full" @click="responseRecruitment(u.recruitment.id,'yes')"> {{ $t('recruitments.invitation.yes') }} </button>
                        <button :class="{'active' : u.assist == 'no'}" class="px-2 btnResponseRecruitment responseNo rounded-full" @click="responseRecruitment(u.recruitment.id,'no')"> {{ $t('recruitments.invitation.no') }} </button>
                        <button :class="{'active' : u.assist == 'perhaps'}" class="px-2 btnResponseRecruitment responsePerhaps rounded-full" @click="responseRecruitment(u.recruitment.id,'perhaps')"> {{ $t('recruitments.invitation.perhaps') }} </button>
                    </div>
                </div>

            </div>
        </div>
        <div v-if="loading" class="flex items-center h-24">    
            <spinner class="mx-auto"></spinner>
        </div>
        <div v-if="!loading && allRecruitments.length == 0" class="pt-2 w-full">
            {{ $t('recruitments.noResults') }}
        </div>

        </div>


        <!-- Modal Detail Recruitment -->
        <modal v-if="currentRecruitment" @close="currentRecruitment = null">
            <div class="pb-2" slot="body">
                <div class="mb-4 flex justify-between">
                    <h4> {{ $t('recruitments.detail-recruitment') }} </h4>
                    <button class="pl-4 close-icon" @click="currentRecruitment = null">
                    </button>
                </div>
                <div class="px-2 w-full">
                    <div>
                        <span class="text-sm text-gray-900">   {{ $t('recruitments.invitation.scout') }}: </span>
                        <a :href="currentRecruitment.user.publicLink" class="text-gray-700"> {{ currentRecruitment.user.fullName }} </a>
                    </div>
                    <div> 
                        <span class="text-sm text-gray-900">   {{ $t('recruitments.invitation.place') }}: </span>
                        <span class="text-gray-700">  {{ currentRecruitment.place }} </span> 
                    </div>
                    <div v-if="currentRecruitment.addressComplete"> 
                        <span class="text-sm text-gray-900">   {{ $t('recruitments.invitation.address') }}: </span>
                        <a :href="'http://maps.google.com/maps?q='+currentRecruitment.addressComplete" class="text-gray-700"> {{ currentRecruitment.addressComplete }} </a>
                    </div>
                    <div> 
                        <span class="text-sm text-gray-900"> {{ $t('recruitments.invitation.date') }}: </span>
                        <span class="text-gray-700">  {{ currentRecruitment.day_start }} {{ currentRecruitment.day_end ? ' - '+ currentRecruitment.day_end : '' }} </span> 
                    </div>
                    <div> 
                        <span class="text-sm text-gray-900"> {{ $t('recruitments.invitation.hour') }}: </span>
                        <span class="text-gray-700">  {{ currentRecruitment.hour }} </span> 
                    </div>
                    <div class="text-gray-700 pt-2" v-if="currentRecruitment.message">
                        {{ currentRecruitment.message }}
                    </div>
                </div>
            </div>
        </modal> 



    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
export default {
    data() {
        return {
            loading:false,
            successMessage: '',
            data: [],
            invitations: [],
            currentRecruitment: null,
        }
    },
    created() {
        this.getRecruitments();
        this.getInvitationsRecruitments();
        // console.log(dayjs().format());
    },
    computed: {
        ...mapState(['user']),
        allRecruitments() {
            let array = _.unionBy(this.invitations,this.data,'idR');
            // return _.orderBy(array,'day');
            return array.sort(function compare(a, b) {
                // var dateA = new Date(a.date);
                // var dateB = new Date(b.date);
                return a.invitation ? -1 : 1;
            });
        },
        recruitmentsRequestedIds() {
            if(!this.user) return [];
            return this.user.recruitments_requested.map(r => r.recruitment_id);
        }
    },
    methods: {
        ...mapActions(['set_user']),
        getRecruitments() {
            this.loading = true;
            axios.get('/api/latestrecruitments').then(res => {
                let data = res.data.recruitments;
                this.data = data.map(i => {
                    return { ...i, idR: i.id }
                });
                this.loading = false;
            })
        },
        getInvitationsRecruitments() {
            // this.loading = true;
            axios.get('/api/recruitments/invitations').then(res => {
                let invitations = res.data.recruitments;
                this.invitations = invitations.map(i => {
                    return { ...i, invitation: true,idR: i.recruitment.id, date:i.recruitment.date }
                });
                this.loading = false;
            })
        },
        responseRecruitment(idR,assist) {
            axios.post(`/api/recruitments/${idR}/response`,{assist: assist}).then(res =>{
                this.successMessage = res.data.msg;
                this.getInvitationsRecruitments();
            });
        },
        requestInvitationRecruitment(idR) {
            axios.post(`/api/recruitments/${idR}/request`,{}).then(res =>{
                this.successMessage = res.data.msg;
                this.set_user();
                this.getRecruitments();
                this.getInvitationsRecruitments();
            });
        },
        isDateGreatherThanToday(date) {
            if(!date) return true;
            const today = dayjs();
            const day = date.substr(0,2);
            const month = date.substr(3,2);
            const year = date.substr(6,4);
            const dateEndR = dayjs(`${year}/${month}/${day}`); 
            // console.log(dateEndR);
            return dateEndR.isAfter(today);

        }
    }
}
</script>
