<template>
    <div class="card-p">
        <div class="flex items-center pb-2 border-b">
                <h4> {{ $t('titles.recruitments') }} </h4>
                <div v-if="!loading" class="ml-2 sm:ml-4 text-sm badge badge-info py-1 px-2 rounded-lg">
                    <strong>{{ countActiveRecruitments }} </strong> {{ $tc('dashboard.recruitments.actives',countActiveRecruitments) }}
                </div>
        </div>

        <div class="w-full h-96 overflow-y-scroll">
        <div v-if="loading" class="flex items-center h-24">    
            <spinner class="mx-auto"></spinner>
        </div>
        <div v-else class="w-full">
            
            <div class="flex flex-wrap items-center text-sm w-full mb-2 border-b pb-2" v-for="(u,i) in allRecruitments" :key="i">
                <div class="w-1/2 leading-snug">
                    <div> 
                        <span class="text-sm text-gray-900">   {{ $t('recruitments.invitation.place') }}: </span>
                        <span class="text-gray-700">  {{ u.place }} </span>
                    </div>
                    <div v-if="u.addressComplete"> 
                        <span class="text-sm text-gray-900">   {{ $t('recruitments.invitation.address') }}: </span>
                        <a :href="'http://maps.google.com/maps?q='+u.addressComplete" class="text-gray-700"> {{ u.addressComplete }} </a>
                    </div>
                    <div> 
                        <span class="text-sm text-gray-900"> {{ $t('recruitments.invitation.date') }}: </span>
                        <span class="text-gray-700">  {{ u.day_start }} {{ u.day_end ? ' - '+ u.day_end : '' }} </span> 
                    </div>
                    <div> 
                        <span class="text-sm text-gray-900"> {{ $t('recruitments.invitation.hour') }}: </span>
                        <span class="text-gray-700">  {{ u.hour }} </span> 
                    </div>
                    <div>
                        <button class="underline" @click.prevent="currentRecruitment = u" > {{ $t('recruitments.detail') }} </button>
                    </div>
                </div>
                <div class="w-1/2 sm:w-2/6 leading-snug">
                    <div>
                        <span class="text-green-600"> {{ u.users_invited.filter(inv => inv.assist == 'yes').length }} </span>
                        <span> {{ $t('recruitments.invitation.assist') }} </span>
                    </div>
                    <div>
                        <span class="text-gray-800"> {{ u.users_invited.filter(inv => inv.assist == 'perhaps').length }} </span>
                        <span> {{ $t('recruitments.invitation.perhapsAssist') }} </span>
                    </div>
                    <div>
                        <span class="text-red-600"> {{ u.users_invited.filter(inv => inv.assist == 'no').length }} </span>
                        <span> {{ $t('recruitments.invitation.noAssist') }} </span>
                    </div>
                </div>
                <div class="w-full sm:w-1/6">
                    <div class="badge badge-info text-base rounded-full py-1 px-2" v-if="u.is_public"> {{ $t('recruitments.forms.public') }} </div>
                    <div class="badge badge-success text-base rounded-full py-1 px-2" v-else> {{ $t('recruitments.forms.private') }} </div>
                    
                    <!-- <div class="pt-2">
                        <button :class="{'bg-green-600 text-white' : u.assist == 'yes'}" class="px-2 border border-gray-800 rounded-lg" @click="responseRecruitment(u.recruitment.id,'yes')"> {{ $t('recruitments.invitation.yes') }} </button>
                        <button :class="{'bg-danger text-white' : u.assist == 'no'}" class="px-2 border border-gray-800 rounded-lg" @click="responseRecruitment(u.recruitment.id,'no')"> {{ $t('recruitments.invitation.no') }} </button>
                        <button :class="{'bg-info text-white' : u.assist == 'perhaps'}" class="px-2 border border-gray-800 rounded-lg" @click="responseRecruitment(u.recruitment.id,'perhaps')"> {{ $t('recruitments.invitation.perhaps') }} </button>

                    </div> -->
                </div>
            </div>
            <div v-if="allRecruitments.length == 0" class="w-full">
                {{ $t('recruitments.noResults') }}
            </div>
        </div>
        </div>

        <!-- Modal Detail Recruitment -->
        <modal v-if="currentRecruitment" @close="currentRecruitment = null">
            <div class="pb-2" slot="body">
                <div class="mb-4 flex justify-between">
                    <h4> {{ $t('recruitments.detail-recruitment') }} </h4>
                    <button class="pl-4 close-icon" @click="currentRecruitment = null">
                    </button>
                </div>
                <div class="px-2 w-full">
                    <div> 
                        <span class="text-sm text-gray-900">   {{ $t('recruitments.invitation.place') }}: </span>
                        <span class="text-gray-700">  {{ currentRecruitment.place }} </span> 
                    </div>
                    <div v-if="currentRecruitment.addressComplete"> 
                        <span class="text-sm text-gray-900">   {{ $t('recruitments.invitation.address') }}: </span>
                        <a :href="'http://maps.google.com/maps?q='+currentRecruitment.addressComplete" class="text-gray-700"> {{ currentRecruitment.addressComplete }} </a>
                    </div>
                    <div> 
                        <span class="text-sm text-gray-900"> {{ $t('recruitments.invitation.date') }}: </span>
                        <span class="text-gray-700">  {{ currentRecruitment.day_start }} {{ currentRecruitment.day_end ? ' - '+ currentRecruitment.day_end : '' }} </span> 
                    </div>
                    <div> 
                        <span class="text-sm text-gray-900"> {{ $t('recruitments.invitation.hour') }}: </span>
                        <span class="text-gray-700">  {{ currentRecruitment.hour }} </span> 
                    </div>
                    <div class="text-gray-700 pt-2" v-if="currentRecruitment.message">
                        {{ currentRecruitment.message }}
                    </div>
                </div>
                <div class="mt-2 flex flex-wrap border-b">
                    <div :class="{'border-b border-black text-black font-semibold': statusVisible == 'assist'}" class="w-1/3 text-center capitalize cursor-pointer" @click="statusVisible = 'assist'">
                        {{ $t('recruitments.invitation.assist') }}
                    </div>
                    <div :class="{'border-b border-black text-black font-semibold': statusVisible == 'perhaps'}" class="w-1/3 text-center capitalize cursor-pointer" @click="statusVisible = 'perhaps'">
                        {{ $t('recruitments.invitation.perhapsAssist') }}
                    </div>
                    <div :class="{'border-b border-black text-black font-semibold': statusVisible == 'noAssist'}" class="w-1/3 text-center capitalize cursor-pointer" @click="statusVisible = 'noAssist'">
                        {{ $t('recruitments.invitation.noAssist') }}
                    </div> 
                </div>
                <!-- ASSIST -->
                <div v-if="statusVisible == 'assist'" class="py-4 w-full">
                    <div v-for="(u,j) in currentRecruitment.users_invited.filter(inv => inv.assist == 'yes')" :key="j">
                        <div class="flex items-center py-1 border-b">
                            <!-- <div class="w-auto pr-2">
                                <img class="h-16 w-16 object-cover rounded-full border border-gray-800" :src="u.user.avatar" :alt="u.user.fullName">
                            </div> -->
                            <user-photo class="mr-4" :user="u.user"></user-photo>
                            <div>
                                <user-card-information :link="true" :user="u.user"></user-card-information>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- PERHAPS ASSIST -->
                <div v-if="statusVisible == 'perhaps'" class="py-4 w-full">
                    <div v-for="(u,j) in currentRecruitment.users_invited.filter(inv => inv.assist == 'perhaps')" :key="j">
                        <div class="flex items-center py-1 border-b">
                            <!-- <div class="w-auto pr-2">
                                <img class="h-16 w-16 object-cover rounded-full border border-gray-800" :src="u.user.avatar" :alt="u.user.fullName">
                            </div> -->
                             <user-photo class="mr-4" :user="u.user"></user-photo>
                            <div>
                                <user-card-information :link="true" :user="u.user"></user-card-information>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- NO ASSIST -->
                <div v-if="statusVisible == 'noAssist'" class="py-4 w-full">
                    <div v-for="(u,j) in currentRecruitment.users_invited.filter(inv => inv.assist == 'no')" :key="j">
                        <div class="flex items-center py-1 border-b">
                            <!-- <div class="w-auto pr-2">
                                <img class="h-16 w-16 object-cover rounded-full border border-gray-800" :src="u.user.avatar" :alt="u.user.fullName">
                            </div> -->
                             <user-photo class="mr-4" :user="u.user"></user-photo>
                            <div>
                                <user-card-information :link="true" :user="u.user"></user-card-information>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </modal>   
    </div>
</template>

<script>
export default {
    data() {
        return {
            loading:false,
            data: [],
            currentRecruitment: null,
            statusVisible: 'assist'
        }
    },
    created() {
        this.getRecruitments();
    },
    computed: {
        allRecruitments() {
            return this.data.sort(function compare(a, b) {
                var dateA = new Date(a.date);
                var dateB = new Date(b.date);
                return -(dateA - dateB);
            });
        },
        countActiveRecruitments() {
            let array = this.data.filter(function(a) {
                var dateA = new Date(a.dateEnd);
                var today = new Date();
                return dateA > today;
            });
            return array.length;
        }
    },
    methods: {
        getRecruitments() {
            this.loading = true;
            axios.get('/api/recruitments').then(res => {
                this.data = res.data.recruitments;
                this.loading = false;
            })
        }
    }
}
</script>
    
<style>

</style>
