<template>
  <div class="card-p">
    <!-- <h5 class="pb-2 mb-2 border-b">{{ $t('dashboard.updates.title') }}</h5> -->

    <div v-if="loading" class="flex items-center h-24">
      <spinner class="mx-auto"></spinner>
    </div>
    <div class="carousel-updates w-full">
      <swiper-carousel
        :breakpoints="breakpointsCarousel"
        :slidesPerView="updates.length > 4 ? 4 : updates.length"
        :nameCarousel="'carousel-updates'"
        :isLoop="true"
        v-if="updates.length > 0"
      >
        <div class="text-xs swiper-slide" data-swiper-autoplay="3000" v-for="(u,i) in updates" :key="i">
          <div class="flex items-center md:border-r pb-2 px-2">
            <!-- <div class="w-4/5 flex flex-wrap items-center"> -->
            <!-- <div class="relative w-auto pr-2">
              <img class="profile-xs object-cover rounded-full" :src="u.user.avatar" :alt="u.user.fullName"/>
              <img v-if="u.user.avatarSport" class="sport-sm" :src="u.user.avatarSport" :alt="u.user.sportName">
            </div> -->
            <user-photo :size="'profile-xs sm:profile-sm'" class="mr-2" :user="u.user"></user-photo>
            <div class="w-full">
              <div v-if="u.type == 'followed'">
                <a class="capitalize font-normal" :href="'/p/profile/'+getLinkToUser(u.user.fullName,u.user.uuid)">{{ u.user.fullName }}</a>
                <span v-html="textUpdate(u,'followed','red')"></span>
                <!-- <span>{{ u.body.username_user_followed }}</span> -->
                <a class="capitalize font-normal" :href="'/p/profile/'+getLinkToUser(u.body.username_user_followed,u.body.uuid_user_followed)">{{ u.body.username_user_followed }}</a>
              </div>
              <div v-else-if="u.type == 'registered'">
                <a class="capitalize font-normal" :href="'/p/profile/'+getLinkToUser(u.user.fullName,u.user.uuid)">{{ u.user.fullName }}</a>
                <span v-html="textUpdate(u,'joined','#1f9b29')"></span>
                <span> {{ $t('titles.app') }}. </span>
              </div>
              <div v-else>
                <a class="capitalize font-normal" :href="'/p/profile/'+getLinkToUser(u.user.fullName,u.user.uuid)">{{ u.user.fullName }}</a>
                <span v-html="textUpdate(u,'','')"></span>
              </div>
              <div class="text-xs text-gray-600">{{ u.timeAgo }}</div>
            </div>
          </div>
          <!-- <div class="w-1/5"> -->
          <!-- </div> -->
          <!-- </div> -->
        </div>
      </swiper-carousel>
    </div>
    <div
      v-if="!loading && updates.length == 0"
      class="w-full"
    >{{ $t('dashboard.updates.noResults') }}</div>
  </div>
</template>

<script>
import { findAndColorWord } from "@/utils/functions.js";
import textActivityUser from "@/mixins/textActivityUser.js";
import linkToShowUserMixin from '@/mixins/linkToShowUserMixin.js';
import SwiperCarousel from "@/utils/SwiperCarousel";
export default {
  data() {
    return {
      loading: false,
      breakpointsCarousel: {
        1350: {
          slidesPerView: 3,
          spaceBetween: 0
        },
        1023: {
          slidesPerView: 2,
          spaceBetween: 0
        },
        639: {
          slidesPerView: 1,
          spaceBetween: 0
        }
      },
      updates: []
    };
  },
  components: {
    SwiperCarousel
  },
  mixins: [textActivityUser,linkToShowUserMixin],
  created() {
    this.getUpdates();
  },
  methods: {
    getUpdates() {
      this.loading = true;
      axios.get("/api/updates").then(res => {
        this.updates = res.data.updates;
        this.loading = false;
      });
    },
    textUpdate(update, word, color) {
      let html = "";
      html = this.getTexto(update);
      return findAndColorWord(html, word, color);
    }
  }
};
</script>
