<template>
<div class="w-full">
    <div v-if="successMessage" class="w-full md:w-4/5 lg:w-3/5 mx-auto alert alert-success alert-dismissable">
        <a href="#" @click.prevent="successMessage = ''" class="close" aria-label="close">&times;</a>
        <span id="message"> {{ successMessage }} </span>
    </div>
    <div class="card-p w-full md:w-4/5 lg:w-3/5 mx-auto">
        <div class="flex items-center pb-2 border-b mb-2">
            <h4> {{ $t('recruitments.detail-recruitment') }} </h4>
        </div>
        <div v-if="invitationRecruitment" class="text-sm flex flex-wrap justify-between items-center w-full">
                    <div>
                        <div>
                            <span class="text-sm text-gray-900">   {{ $t('recruitments.invitation.invitation') }} {{ $t('recruitments.invitation.sentBy') }}: </span>
                            <a :href="invitation.recruitment.user.publicLink" class="text-gray-700"> {{ invitation.recruitment.user.fullName }} </a>
                        </div>
                        <div> 
                            <span class="text-sm text-gray-900">   {{ $t('recruitments.invitation.place') }}: </span>
                            <span class="text-gray-700">  {{ invitation.recruitment.place }} </span>
                        </div>
                        <div v-if="invitation.recruitment.addressComplete"> 
                            <span class="text-sm text-gray-900">   {{ $t('recruitments.invitation.address') }}: </span>
                            <a :href="'http://maps.google.com/maps?q='+invitation.recruitment.addressComplete" class="text-gray-700"> {{ invitation.recruitment.addressComplete }} </a>
                        </div>
                        <div> 
                            <span class="text-sm text-gray-900"> {{ $t('recruitments.invitation.date') }}: </span>
                            <span class="text-gray-700">  {{ invitation.recruitment.day_start }} {{ invitation.recruitment.day_end ? ' - '+ invitation.recruitment.day_end : '' }} </span> 
                        </div>
                        <div> 
                            <span class="text-sm text-gray-900"> {{ $t('recruitments.invitation.hour') }}: </span>
                            <span class="text-gray-700">  {{ invitation.recruitment.hour }} </span> 
                        </div>
                        <div class="text-gray-700 pt-2" v-if="invitation.recruitment.message">
                            {{ invitation.recruitment.message }}
                        </div>
                    
                    </div>
                    <div class="flex flex-col items-start sm:items-end">
                        <div>
                            <div class="badge badge-success rounded-full py-1 px-2" v-if="invitation.recruitment.is_public"> {{ $t('recruitments.forms.public') }} </div>
                            <div class="badge badge-primary rounded-full py-1 px-2" v-else> {{ $t('recruitments.forms.private') }} </div>
                        </div>
                        <div class="sm:pt-2">
                            <button :class="{'active' : invitation.assist == 'yes'}" class="px-2 btnResponseRecruitment responseYes rounded-full" @click="responseRecruitment(invitation.recruitment.id,'yes')"> {{ $t('recruitments.invitation.yes') }} </button>
                            <button :class="{'active' : invitation.assist == 'no'}" class="px-2 btnResponseRecruitment responseNo rounded-full" @click="responseRecruitment(invitation.recruitment.id,'no')"> {{ $t('recruitments.invitation.no') }} </button>
                            <button :class="{'active' : invitation.assist == 'perhaps'}" class="px-2 btnResponseRecruitment responsePerhaps rounded-full" @click="responseRecruitment(invitation.recruitment.id,'perhaps')"> {{ $t('recruitments.invitation.perhaps') }} </button>

                        </div>
                    </div>
        </div>
        <!-- Si no tiene invitación -->
        <div v-else class="text-sm flex flex-wrap justify-between items-center w-full">
                    <div>
                        <div>
                            <span class="text-sm text-gray-900">   {{ $t('recruitments.invitation.scout') }}: </span>
                            <a :href="recruitment.user.publicLink" class="text-gray-700"> {{ recruitment.user.fullName }} </a>
                        </div>
                        <div> 
                            <span class="text-sm text-gray-900">   {{ $t('recruitments.invitation.place') }}: </span>
                            <span class="text-gray-700">  {{ recruitment.place }} </span>
                        </div>
                        <div v-if="recruitment.addressComplete"> 
                            <span class="text-sm text-gray-900">   {{ $t('recruitments.invitation.address') }}: </span>
                            <a :href="'http://maps.google.com/maps?q='+recruitment.addressComplete" class="text-gray-700"> {{ recruitment.addressComplete }} </a>
                        </div>
                        <div> 
                            <span class="text-sm text-gray-900"> {{ $t('recruitments.invitation.date') }}: </span>
                            <span class="text-gray-700">  {{ recruitment.day_start }} {{ recruitment.day_end ? ' - '+ recruitment.day_end : '' }} </span> 
                        </div>
                        <div> 
                            <span class="text-sm text-gray-900"> {{ $t('recruitments.invitation.hour') }}: </span>
                            <span class="text-gray-700">  {{ recruitment.hour }} </span> 
                        </div>
                        <div class="text-gray-700 pt-2" v-if="recruitment.message">
                            {{ recruitment.message }}
                        </div>
                    
                    </div>
                    <div class="flex flex-col items-start sm:items-end">
                        <div>
                            <div class="badge badge-success rounded-full py-1 px-2" v-if="recruitment.is_public"> {{ $t('recruitments.forms.public') }} </div>
                            <div class="badge badge-primary rounded-full py-1 px-2" v-else> {{ $t('recruitments.forms.private') }} </div>
                        </div>
                        <div class="w-full pt-2" v-if="isDateGreatherThanToday(recruitment.day_end) && recruitment.is_public">
                            <button :class="{'active' : assist == 'yes'}" class="px-2 btnResponseRecruitment responseYes rounded-full" @click="responseRecruitment(recruitment.id,'yes')"> {{ $t('recruitments.invitation.yes') }} </button>
                            <button :class="{'active' : assist == 'no'}" class="px-2 btnResponseRecruitment responseNo rounded-full" @click="responseRecruitment(recruitment.id,'no')"> {{ $t('recruitments.invitation.no') }} </button>
                        </div>
                    </div>
        </div>
    </div>
</div>
</template>
<script>
import { mapState, mapActions } from 'vuex';
export default {
    data() {
        return {
            assist: '',
            invitation: null,
            successMessage: '',
        }
    },
    props: {
        invitationRecruitment: {
            type: Object
        },
        recruitment: {
            type: Object
        }
    },
    // computed: {
    //     ...mapState(['user'])
    // },
    created() {
        // this.user();
        this.invitation = this.invitationRecruitment;
    },
    methods: {
        // ...mapActions(['set_user']),
        responseRecruitment(idR,assist) {
            axios.post(`/api/recruitments/${idR}/response`,{assist: assist}).then(res =>{
                this.successMessage = res.data.msg;
                this.assist = assist;
                if(this.invitation) {
                    this.invitation.assist = assist;
                }
            });
        },
        isDateGreatherThanToday(date) {
            if(!date) return true;
            const today = dayjs();
            const day = date.substr(0,2);
            const month = date.substr(3,2);
            const year = date.substr(6,4);
            const dateEndR = dayjs(`${year}/${month}/${day}`); 
            // console.log(dateEndR);
            return dateEndR.isAfter(today);

        }
    }
}
</script>
