<template>
  <div>
    <div class="container">
      <div class="w-full flex justify-center">
        <div class="w-full md:w-3/4 lg:w-2/3">
          <div class="card-p">
            <div class="w-full">
              <div class="flex justify-between items-center pb-2 border-b mb-2">
                <h4 v-if="edit" class="font-bold"> {{ $t('posts.editing-post') }} </h4>
                <h4 v-else class="font-bold"> {{ $t('posts.new-post') }} </h4>
                <div class="pull-right">
                  <a href="/posts" class="btn btn-light btn-sm float-right">
                    <i class="fa fa-fw fa-reply-all" aria-hidden="true"></i>
                    <span v-html="$t('posts.buttons.back-to-posts')"></span>
                  </a>
                </div>
              </div>
            </div>

            <div class="w-full">
              <div v-show="showField" class="w-full pt-2 px-4">
                <textarea :value="text" ref="postBody" id="postBody" class="form-control" style="resize:none" cols="30" rows="5"></textarea>
              </div>
              <div class="flex w-full justify-end mt-2 px-2">
              <button class="btn btn-success rounded-full" :disabled="text == ''" @click.prevent="updatePost">
                  <span v-if="edit"> {{ $t('posts.forms.update') }} </span>
                  <span v-else> {{ $t('posts.forms.save') }} </span>
              </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      text: "",
      success: false,
      showField: false
    };
  },
  created() {
    if(this.edit) this.text = this.post.body;
    const _this = this;
    setTimeout(() => {
      _this.showField = true;
      $('#postBody').summernote({
        height: 150,
        toolbar: false,
        callbacks: {
            onChange(content) {
                _this.text = content;
            }
        }
      });
    },500)
  },
  props: {
    post: {
      required: false,
      default: null
    },
    edit: {
      required: false,
      default: false
    }
  },
  methods: {
    updatePost() {
      if(this.edit) {
        axios.put(`/api/post/${this.post.id}`, { text: this.text }).then(
          res => {
            window.location.href = res.data.url;
          },
          error => console.log(error)
        );
      } else {
        // Si es un POST nuevo lo creamos
        axios.post(`/api/post`, { text: this.text }).then(
          res => {
            window.location.href = res.data.url;
          },
          error => console.log(error)
        );
      }
    }
  }
};
</script>
<style lang="scss" scoped>
</style>