<template>
<div>
  <transition name="modal">
    <!-- <div class="z-10 background-black"></div> -->
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-body">
            <div class="w-full border-b pb-2">
              <!-- <h4 class="w-full px-2 pb-2">{{ $t('dashboard.posts.post') }}</h4> -->
              <div class="flex justify-between items-center">
                <div class="flex items-center">
                  <div class="w-auto pr-2">
                    <img
                      class="h-12 w-12 sm:h-16 sm:w-16 object-cover rounded-full border border-gray-800"
                      :src="post.user.avatar"
                      :alt="post.user.fullName"
                    />
                  </div>
                  <a class="text-lg text-black" :href="'/p/profile/'+getLinkToUser(currentPost.user.fullName,currentPost.user.uuid)">{{ currentPost.user.fullName }}</a>
                  <!-- <div class="text-lg text-black">{{ currentPost.user.fullName }}</div> -->
                </div>
                <div @click="$emit('close')" class="close-icon"></div>
              </div>
            </div>
            <div v-if="successMessage" class="z-30 w-full alert alert-success alert-dismissable">
                  <a href="#" @click.prevent="successMessage = ''" class="close" aria-label="close">&times;</a>
                  <span id="message"> {{ successMessage }} </span>
            </div>
            <div class="py-2">
              <div class="my-3 w-full" v-html="currentPost.body"></div>

              <!-- Likes -->
              <div class="flex items-end">
                  
                   <div class="pr-2">
                       <button @animationend="animated = false" :class="[{'text-gray-400': likedCurrentUser},{'pulse animated': animated}]" @click="saveLike">  
                           <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                           {{ $t('dashboard.posts.like') }}
                       </button>
                    </div>
                    <div class="text-sm text-gray-500">
                        <span class="font-bold"> {{ currentPost.likes.length }} </span> 
                        {{ $tc('dashboard.posts.likes',currentPost.likes.length) }}   
                   </div>   
              </div>

              <!-- Comments -->
              <div class="border-t">
                <div class="w-full" v-for="(c,i) in currentPost.comments" :key="i">
                  <div class="relative flex w-auto items-center bg-gray-200 mb-1 p-1 rounded">
                    <user-photo class="mr-4" :size="'profile-xs'" :user="c.user"></user-photo>
                    <div class="w-auto flex-1 flex flex-wrap sm:flex-nowrap">
                       <a class="w-full sm:w-auto inline-flex capitalize font-semibold" :href="'/p/profile/'+getLinkToUser(c.user.fullName,c.user.uuid)" >{{ c.user.fullName }}</a>
                       <div class="pl-0 sm:pl-2 font-thin">{{ c.body }}</div>
                    </div>
                    <div v-if="c.user && user && c.user.uuid != user.uuid" class="absolute mx-2 right-0 top-0">
                        <button @click.prevent="modalReport(c)" class="text-xs text-gray-800"> {{ $t('reports.buttons.report') }} </button>
                    </div>
                  </div>
                </div>
                <div class="w-full relative mt-2">
                  <input
                    type="text"
                    class="form-control input-comment"
                    v-model="newComment"
                    :placeholder="$t('dashboard.posts.comment')"
                  />
                  <button
                    class="btn-send-message"
                    :disabled="newComment == ''"
                    @click="publishComment"
                  >
                    <img src="/img/posts/enviar.png" alt="Comment Post">
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
  </transition>

    <!-- Modal To Report Post-->
    <modal v-if="commentToReport" @close="commentToReport = null">
      <div slot="body">
          <div class="col-12 py-2">
            {{ $t('reports.reportMessage',{'type': $t('dashboard.posts.comment')}) }}
          </div>
      </div> 
      <div slot="footer">
          <div class="pull-right">
            <button class="btn" @click.prevent="commentToReport = null"> 
              <i class="fa fa-fw fa-close" aria-hidden="true"></i>
              {{ $t('forms.cancel') }}
            </button>
            <button class="btn btn-danger" @click.prevent="reportCommentPost"> 
              <i class="fa fa-fw fa-trash-o" aria-hidden="true"></i>
              {{ $t('reports.buttons.report') }} 
            </button>
          </div>
      </div> 
    </modal>

</div>
</template>
<script>
import linkToShowUserMixin from '@/mixins/linkToShowUserMixin.js';
import { mapState, mapActions } from 'vuex';
export default {
  data() {
    return {
      newComment: "",
      currentPost: null,
      animated: false,
      commentToReport: null,
      successMessage: ''
    };
  },
  props: {
    post: {
      required: true,
      default: null
    }
  },
  computed: {
      ...mapState(['user']),
      likedCurrentUser() {
          if(this.currentPost && this.user) {
              let likeCurrentUser = this.currentPost.likes.filter(l => l.user_id == this.user.id);
              return likeCurrentUser.length > 0;
          }
      }
  },
  created() {
    if(this.user == null) this.set_user();
    this.currentPost = this.post;
    // this.getFormatBody();
  },
  mixins: [linkToShowUserMixin],
  methods: {
    ...mapActions(['set_user']),
    getFormatBody() {
      // const expression = /(http|https|ftp|ftps)\:\/\/[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(\/\S*)?/;
      // const regex = new RegExp("(^|[ \t\r\n])((ftp|http|https|gopher|mailto|news|nntp|telnet|wais|file|prospero|aim|webcal):(([A-Za-z0-9$_.+!*(),;/?:@&~=-])|%[A-Fa-f0-9]{2}){2,}(#([a-zA-Z0-9][a-zA-Z0-9$_.+!*(),;/?:@&~=%-]*))?([A-Za-z0-9$_+!*();/?:~-]))","g");
      // const match = this.currentPost.body.match(regex);
      // if(match && match.length > 0) {
      //   match.forEach(url => {
      //     this.currentPost.body = this.currentPost.body.replace(url,`<a target="_blank" href="${url}">${url}</a>`);
      //   });
      // }
    },
    publishComment() {
      axios
        .post(`api/post/${this.post.id}/comment`, { body: this.newComment })
        .then(res => {
          this.getPost();
          this.newComment = "";
        });
    },
    saveLike() {
      this.animated = true;
      axios.post(`api/post/${this.post.id}/like`, { })
        .then(res => {
          this.getPost();
        });
    },
    getPost(id) {
      axios.get(`/api/post/${this.post.id}`).then(res => {
        this.currentPost = res.data.post;
      });
    },
    modalReport(comment) {
      this.commentToReport = comment;
    },
    reportCommentPost() {
      axios.post('/api/report',{id: this.commentToReport.id, type: 'commentPost'}).then(res => {
        this.successMessage = res.data.msg;
        this.commentToReport = null;
      })
    }
  }
};
</script>


<style lang="scss" scoped>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  bottom: initial;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  max-width: 600px;
  margin: 0px auto;
  padding: 5px 10px;
  background-color: #fff;
  position: relative;
  border-radius: 0.3rem;
  box-shadow: none;
  transition: all 0.3s ease;
  max-height: 550px;
  overflow-y: auto;
  font-family: Helvetica, Arial, sans-serif;
  @media (max-width: 400px) {
    width: 300px;
  }
}

.modal-header {
  padding: 0.5rem 0rem;
  border-bottom: none;
}
.modal-header h3 {
  margin-top: 0;
}

.modal-body {
  margin: 0px;
  padding: 0rem;
}

.modal-default-button {
  float: right;
}

.modal-footer {
  padding: 0.5rem 0rem;
  border-top: none;
}
/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.btn-send-message {
  position: absolute;
  right: 5px;
  top: 5px;
}
</style>