<template>
    <div>
        <button @click="openModalNewPost" class="btn rounded-lg btn-primary btn-sm"> 
            <i class="fa fa-plus"></i>  {{ $t('dashboard.posts.newPost') }} 
        </button> 


        <!-- MODAL POST -->
        <modal class="modal-newPost" v-if="modalVisible" @close="modalVisible = false">
      <!-- <div slot="header"> -->
      <!-- </div> -->
      <div slot="body">
          <h4 class="w-full px-4 pb-2">
              {{ $t('dashboard.posts.newPost') }}
          </h4>
          <div v-if="success" class="px-4 pt-2 w-full">
                <div class="alert alert-success fade show">
                  <i class="icon fa fa-check fa-fw" aria-hidden="true"></i>
                  {{ $t('posts.createSuccess') }} 
                </div>
          </div>
          <div class="w-full pt-2 px-4">
              <textarea id="postBody" class="form-control" cols="30" rows="5"></textarea>
          </div>
      </div> 
      <div slot="footer">
          <div class="pull-right">
            <button class="btn" @click.prevent="modalVisible = false"> 
              <i class="fa fa-fw fa-close" aria-hidden="true"></i>
              {{ $t('forms.cancel') }}
            </button>
            <button class="btn btn-success" :disabled="text == ''" @click.prevent="savePost"> 
              {{ $t('dashboard.posts.publish') }} 
            </button>
          </div>
      </div> 
    </modal>

    </div>
</template>
<script>
import { mapState, mapActions } from 'vuex';
export default {
    data() {
        return {
            modalVisible: false,
            text: '',
            success: false
        }
    },
    methods: {
        ...mapActions(['updates_from_followed_users']),
        openModalNewPost() {
            const _this = this;
            this.modalVisible = true;
            setTimeout(() => {
                $('#postBody').summernote({
                    height: 150,
                    toolbar: false,
                    dialogsInBody: true,
                    callbacks: {
                        onChange(content) {
                            _this.text = content;
                        }
                    }
                });
            },200);
        },
        savePost() {
            axios.post('/api/post',{text: this.text}).then(
            res => {
                this.success = true;
                setTimeout(() => {
                    this.updates_from_followed_users(1);
                    this.modalVisible = this.success = false;
                    this.text = '';
                }, 1500);
            },
            error => {
                console.log(error);
            });
        }
    }
}
</script>
<style lang="scss" scoped>
.modal-newPost {
    .modal-header {
        padding: 0;
    }
}
</style>