<template>
  <div>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="card-p">
              <div class="flex justify-between items-center border-b pb-2 mb-2">
                <h4 class="font-bold">  {{ $t('posts.showing-post') }} </h4>
                <div class="pull-right">
                  <a :href="previousUrl ? previousUrl : '/posts'" class="btn btn-light btn-sm float-right">
                    <i class="fa fa-fw fa-reply-all" aria-hidden="true"></i>
                    <span v-html="$t('posts.buttons.back-to-posts')"></span>
                  </a>
                </div>
            </div>

            <div class="w-full">
              <div v-if="successMessage" class="z-30 w-full alert alert-success alert-dismissable">
                  <a href="#" @click.prevent="successMessage = ''" class="close" aria-label="close">&times;</a>
                  <span id="message"> {{ successMessage }} </span>
              </div>

              <div class="mb-3 text-lg w-full">
                <div v-html="body"></div>
              </div>
              <!-- Likes -->
              <div class="flex items-end">
                <div class="pr-2">
                  <button :class="{'text-gray-400': likedCurrentUser}" @click="saveLike">
                    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                    {{ $t('dashboard.posts.like') }}
                  </button>
                </div>
                <div @click="modalLikesVisible = true" class="cursor-pointer text-sm text-gray-500">
                  <span class="font-bold">{{ currentPost.likes.length }}</span>
                  {{ $tc('dashboard.posts.likes',currentPost.likes.length) }}
                </div>
              </div>

              <!-- Comments -->
              <div class="border-t">
                <div class="relative w-full" v-for="(c,i) in currentPost.comments" :key="i">
                  <div class="flex w-auto items-center bg-gray-200 mb-1 p-1 rounded">
                    <user-photo class="mr-4" :size="'profile-xs'" :user="c.user"></user-photo>
                    <div class="w-auto flex-1 flex flex-wrap sm:flex-nowrap">
                       <a class="w-full sm:w-auto inline-flex capitalize font-semibold" :href="c.user.publicLink" >{{ c.user.fullName }}</a>
                       <div class="pl-0 sm:pl-2 font-thin">{{ c.body }}</div>
                    </div>
                    <div v-if="c.user && user && c.user.uuid != user.uuid" class="absolute mx-2 right-0 top-0">
                        <button @click.prevent="modalReport(c)" class="text-xs text-gray-800"> {{ $t('reports.buttons.report') }} </button>
                    </div>
                  </div>
                </div>
                <div class="w-full relative mt-2">
                  <input
                    type="text"
                    class="form-control input-comment"
                    v-model="newComment"
                    :placeholder="$t('dashboard.posts.comment')"
                  />
                  <button
                    class="btn-send-message"
                    :disabled="newComment == ''"
                    @click="publishComment"
                  >
                  <img src="/img/posts/enviar.png" alt="Comment Post">

                  </button>
                </div>
              </div>

              <!-- <div class="col-12 mt-2">
              <button class="btn btn-success mb-1 float-right" :disabled="text == ''" @click.prevent="updatePost">
                  {{ $t('posts.forms.update') }}
              </button>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- MODAL SHOW LIKES -->
    <modal @close="modalLikesVisible = false" v-if="modalLikesVisible">
      <div class="pt-2" slot="body">
        <div class="mb-4 flex justify-between">
          <h3 class="w-full"> 
             <span class="font-bold">{{ currentPost.likes.length }}</span> 
             {{ $tc('dashboard.posts.likes',currentPost.likes.length) }}
            </h3>
          <button class="pl-4 close-icon" @click="modalLikesVisible = null"></button>
        </div>
        <div class="w-full">
          <div class="py-1 flex items-center border-b" v-for="(l,j) in currentPost.likes" :key="j">
            <user-photo class="mr-4" :user="l.user"></user-photo>
            <a class="inline-flex capitalize" :href="l.user.publicLink" >{{ l.user.fullName }}</a>
          </div>
        </div>
      </div>
    </modal>
    <!-- End modal -->

    <!-- Modal To Report Post-->
    <modal v-if="commentToReport" @close="commentToReport = null">
      <div slot="body">
          <div class="col-12 py-2">
            {{ $t('reports.reportMessage',{'type': $t('dashboard.posts.comment')}) }}
          </div>
      </div> 
      <div slot="footer">
          <div class="pull-right">
            <button class="btn" @click.prevent="commentToReport = null"> 
              <i class="fa fa-fw fa-close" aria-hidden="true"></i>
              {{ $t('forms.cancel') }}
            </button>
            <button class="btn btn-danger" @click.prevent="reportCommentPost"> 
              <i class="fa fa-fw fa-trash-o" aria-hidden="true"></i>
              {{ $t('reports.buttons.report') }} 
            </button>
          </div>
      </div> 
    </modal>

  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";
export default {
  data() {
    return {
      body: '',
      newComment: "",
      success: false,
      currentPost: null,
      modalLikesVisible: false, 
      commentToReport: null,
      successMessage: ''
    };
  },
  props: {
    post: {
      required: true,
      default: null
    },
    previousUrl: {
      required: true,
      default: null
    }
  },
  computed: {
    ...mapState(["user"]),
    likedCurrentUser() {
      if (this.currentPost && this.user) {
        let likeCurrentUser = this.currentPost.likes.filter(
          l => l.user_id == this.user.id
        );
        return likeCurrentUser.length > 0;
      }
    }
  },
  created() {
    this.getFormatBody();
    if (this.user == null) this.set_user();
    this.currentPost = this.post;
  },
  methods: {
    ...mapActions(["set_user"]),
    publishComment() {
      axios
        .post(`/api/post/${this.post.id}/comment`, { body: this.newComment })
        .then(res => {
          this.getPost();
          this.newComment = "";
        });
    },
    getFormatBody() {
      this.body = this.post.body;
      // const expression = /(http|https|ftp|ftps)\:\/\/[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(\/\S*)?/;
      // const regex = new RegExp("(^|[ \t\r\n])((ftp|http|https|gopher|mailto|news|nntp|telnet|wais|file|prospero|aim|webcal):(([A-Za-z0-9$_.+!*(),;/?:@&~=-])|%[A-Fa-f0-9]{2}){2,}(#([a-zA-Z0-9][a-zA-Z0-9$_.+!*(),;/?:@&~=%-]*))?([A-Za-z0-9$_+!*();/?:~-]))","g");
      // const match = this.body.match(regex);
      // if(match && match.length > 0) {
      //   match.forEach(url => {
      //     this.body = this.body.replace(url,`<a target="_blank" href="${url}">${url}</a>`);
      //   });
      // }
    },
    saveLike() {
      axios.post(`/api/post/${this.post.id}/like`, {}).then(res => {
        this.getPost();
      });
    },
    getPost(id) {
      axios.get(`/api/post/${this.post.id}`).then(res => {
        this.currentPost = res.data.post;
      });
    },
    modalReport(comment) {
      this.commentToReport = comment;
    },
    reportCommentPost() {
      axios.post('/api/report',{id: this.commentToReport.id, type: 'commentPost'}).then(res => {
        this.successMessage = res.data.msg;
        this.commentToReport = null;
      })
    }
  }
};
</script>
<style lang="scss" scoped>
.btn-send-message {
  position: absolute;
  right: 5px;
  top: 5px;
}

</style>