<template>
    <div :class="[size ? size : 'h-24 w-auto']">
        <!-- Video -->
        <video v-if="!media.url && media.url_video" @click.prevent="$emit('select',media)" class="cursor-pointer w-full h-full object-cover rounded-lg">
            <source :src="media.url_video" :type="media.mime_type">
            <!-- <source v-else :src="img.url"> -->
        </video>

        <!-- URL VIDEO -->
        <div v-else-if="media.url_video && media.url" @click.prevent="$emit('select',media)" class="cursor-pointer w-full h-full object-cover rounded-lg">
            <iframe style="pointer-events:none;" class="w-full h-full object-cover rounded-lg" :src="media.url_video" frameborder="0"></iframe>
        </div>

        <!-- Image -->
        <img v-else-if="media.url_image" @click.prevent="$emit('select',media)" class="w-full h-full object-cover rounded-lg cursor-pointer" :src="media.url_image" :alt="'Image'"/>

    </div>
</template>
<script>
export default {
    props: {
        media: {
            required: true,
            type: Object
        },
        size: {
            required: false
        }
    }
}
</script>