<template>
<div>
    <div class="row px-0 col-12">
      <div class="w-full px-1">
        <button @click.prevent="addclub" class="btn btn-info rounded-lg">
          <i class="fa fa-plus"></i> 
          <span v-if="typeclub == 'Club'"> {{ $t('clubes.types.addClub') }} </span>
          <!-- <span v-if="typeclub == 'Institute'"> {{ $t('clubes.types.addInstitute') }} </span> -->
          <span v-if="typeclub == 'University'"> {{ $t('clubes.types.addUniversity') }} </span>
          <span v-if="typeclub == 'Sponsor'"> {{ $t('clubes.types.addSponsor') }} </span>
          
        </button>
      </div>

      <div :class="{'col-lg-6': e.id}" class="col-12 p-2" v-for="(e,i) in entitiesClubes.filter(e => !e.id || (e.entity.type && e.entity.type.name == typeclub))" :key="i">

        <!-- New Club -->
        <div v-if="!e.id" class="row col-12 border py-1 px-2">

              <div class="w-full flex border-b pb-1 justify-between items-center">
                <div>
                  <strong> {{ $t('profile.athlete.addClub') }} {{ $t('clubes.types.' + typeclub) }} </strong>
                 </div>
                 <div>
                   <button @click.prevent="entitiesClubes.splice(i,1)" class="w-auto h-4" title="Delete"> <img src="/img/profile/delete.png" alt=""> </button>
                 </div>
              </div>

              <div class="row col-12 px-0 pt-2">
              <select :disabled="e.id" class="form-control" v-model="e.entity_id">
                <option :value="null">{{ $t('clubes.types.' + typeclub) }}</option>
                <option value="other"> {{ $t('profile.athlete.otherClub') }} </option>
                <option v-for="(s,j) in clubsSelect" :key="j" :value="s.id">{{ s.name }}</option>
              </select>
              <input v-if="e.entity_id == 'other'" v-model="e.other_entity" class="mt-2 form-control" type="text" :placeholder="$t('profile.athlete.nameOtherClub')">

              <div class="row col-12 px-0 pt-2">
                  <div class="pl-0 col-6">
                      <date-picker class="form-control" :value.sync="e.start" :placeholder="$t('profile.athlete.from')"></date-picker>
                      <!-- <input ref="start" type="text" class="datepicker-custom form-control" v-model="e.start" :placeholder="$t('profile.athlete.from')"> -->
                  </div>
                  <div class="pr-0 col-6">
                      <date-picker :disabled="e.isCurrent || e.isCurrent != 0" class="form-control" :value.sync="e.end" :placeholder="$t('profile.athlete.to')"></date-picker>
                      <!-- <input :disabled="e.isCurrent || e.isCurrent != 0" type="text" class="datepicker-custom form-control" v-model="e.end" :placeholder="$t('profile.athlete.to')"> -->
                  </div>
                  <div class="px-0 col-12 col-md-6 mt-1">
                      <!-- <input type="checkbox" v-model="isCurrent"> -->
                      <label class="w-full flex items-center font-semibold">
                            <input v-model="e.isCurrent" class="mr-2 form-checkbox" type="checkbox">
                            <span class="">
                                {{ $t('profile.athlete.current',{'name': $t('clubes.types.' + typeclub)}) }}
                            </span>
                        </label>
                  </div>
              </div>  
              <!-- Aditional Info -->
              <div class="col-12 px-0 mt-2">
                  <text-editor v-model="e.info_aditional" :placeholder="$t('profile.athlete.infoAdditional')"></text-editor>
                  <!-- <textarea class="form-control" v-model="e.info_aditional" cols="30" rows="5" :placeholder="$t('profile.athlete.infoAdditional')"></textarea> -->
              </div>
              

              <!-- Achievements -->
              <div class="mt-2 px-0 col-12">
                  <clubs-achievements :value.sync="e.achievements"></clubs-achievements>
              </div>
            </div>

        </div>
        
        <!-- Clubs Added -->
        <div v-else class="row col-12 border border-primary py-1 px-2">
          <div class="mt-2 px-0 col-12">
              <div class="flex border-b pb-1 justify-between items-center">
                <div>
                  <strong> {{ getNameClub(e.entity_id) }} </strong>
                 </div>
                 <div>
                   <button class="pr-2 w-auto" title="Edit" 
                           @click="(editClub && editClub.id == e.id) ? editClub = null : editClub = e"> 
                          <img src="/img/profile/edit.png" alt="Edit"> 
                    </button>
                   <button class="w-auto h-4" title="Delete" @click.prevent="removeEntity(e.id)"> <img src="/img/profile/delete.png" alt=""> </button>
                 </div>
              </div>

          <div v-if="editClub && editClub.id == e.id" class="row col-12 px-0 pt-2">
            <div class="row col-12 px-0">
                <div class="pl-0 col-6">
                    <date-picker class="form-control" :value.sync="e.start" :placeholder="$t('profile.athlete.from')"></date-picker>
                    <!-- <input ref="start" type="text" class="datepicker-custom form-control" v-model="e.start" :placeholder="$t('profile.athlete.from')"> -->
                </div>
                <div class="pr-0 col-6">
                    <date-picker :disabled="e.isCurrent || e.isCurrent != 0" class="form-control" :value.sync="e.end" :placeholder="$t('profile.athlete.to')"></date-picker>
                    <!-- <input :disabled="e.isCurrent || e.isCurrent != 0" type="text" class="datepicker-custom form-control" v-model="e.end" :placeholder="$t('profile.athlete.to')"> -->
                </div>
                <div class="px-0 col-12 mt-1">
                    <!-- <input type="checkbox" v-model="isCurrent"> -->
                    <label class="w-full flex items-center font-semibold">
                          <input v-model="e.isCurrent" class="mr-2 form-checkbox" type="checkbox">
                          <span class="">
                              {{ $t('profile.athlete.current',{'name': $t('clubes.types.' + typeclub)}) }}
                          </span>
                      </label>
                </div>
              </div>
              <!-- Aditional Info -->
              <div class="col-12 px-0 mt-2">
                  <text-editor v-model="e.info_aditional" :placeholder="$t('profile.athlete.infoAdditional')"></text-editor>
                  <!-- <textarea class="form-control" v-model="e.info_aditional" cols="30" rows="5" :placeholder="$t('profile.athlete.infoAdditional')"></textarea> -->
              </div>
          

            <!-- Achievements -->
            <div class="mt-2 px-0 col-12">
                <clubs-achievements :value.sync="e.achievements"></clubs-achievements>
            </div>
          </div>
          <div v-else>
                  <div class="flex">
                      <span> {{ e.start }} </span>
                      <span v-if="e.end" class="pl-2"> - {{ e.end }} </span>
                  </div>
              </div>   
        </div>

      </div>
      </div>


      <div class="px-1 w-full flex justify-end items-center">
        <button @click="saveClubsAthlete" type="button" class="mr-2 btn btn-success rounded-full">
            <i aria-hidden="true" class="fa fa-fw fa-save"></i>
            {{ $t('profile.submitProfileButton') }}
        </button>
        <a class="text-primary" href="/profile"> {{ $t('forms.cancel') }} </a>
    </div>
    </div>
</div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import ClubsAchievements from './ClubsAchievements';
export default {
  data() {
    return {
      clubs: [],
      entitiesClubes: [],
      errors: [],
      editClub: null
    };
  },
  async created() {
    // this.getClubs();
    this.initFields();
  },
  computed: {
    ...mapState(["user"]),
    clubsSelect() {
        return this.clubs.filter(c => c.type && c.type.name == this.typeclub); 
    }
  },
  props: {
      typeclub: {
        required: true,
        type: String
      }
  },
  // watch: {
  //   typeclub: function() {
  //     this.getClubs();
  //   }
  // },
  components: {
      ClubsAchievements
  },
  methods: {
    ...mapActions(["set_user"]),
    getClubs() {
      axios.get(`/api/clubs`).then(res => {
        this.clubs = res.data.entities;
      });
    },
    async initFields() {
        await this.set_user();
        this.getClubs();
        this.entitiesClubes = this.user.athlete.entities;
    },
    addclub() {
      this.entitiesClubes.unshift({
        entity_id: null,
        start: null,
        end: null,
        isCurrent: false,
        other_entity: null,
        type_entity: this.typeclub, 
        info_aditional: "",
        achievements: []
      });
      this.editClub = null;
    },
    removeEntity(idEntity) {
      let idToDelete = this.entitiesClubes.findIndex(e => e.id == idEntity);
      this.entitiesClubes.splice(idToDelete,1);
    },
    saveClubsAthlete() {
        $('#edit-athlete-success').addClass('hidden');
        $('#edit-athlete-error').addClass('hidden');
        $('#edit-athlete-error ul').html('');
        let data =  { clubs: this.entitiesClubes };
        axios.post(`/api/athlete/${this.user.athlete.id}/clubs`, data)
        .then(
          res => {
            console.log(res);
            $('#edit-athlete-success').removeClass('hidden');
            $('#edit-athlete-success #message').html(res.data.msg);
            $("html, body").animate({ scrollTop: 0 }, "slow");
            $('.nav-pills a[href=".showcase-tab"]').tab('show')
            // window.location.href = res.data.url;
            this.initFields();
          },
          error => {
              let errors = error.response.data.errors.errors ? error.response.data.errors.errors[0] : error.response.data.errors;
              console.log(errors);
              let html = '';
              errors.forEach(e => {
                  html += `<li>${e}</li>`;
              });
              $('#edit-athlete-error').removeClass('hidden');
              $('#edit-athlete-error ul').html(html);
              $("html, body").animate({ scrollTop: 0 }, "slow");
          }
        );
    },
    getNameClub(clubId) {
      let club = this.clubs.find(c => c.id == clubId);
      return club ? club.name : '';
    }
  }
};
</script>

<style>
</style>
