<template>
<div class="px-4">
    <div v-if="loading" class="flex items-center h-24">
      <spinner class="mx-auto"></spinner>
    </div>
    <div v-else class="row px-0 col-12">
      <div class="flex items-center w-full px-1">
        <button :disabled="entitiesAvailables == 0" @click.prevent="addclub" class="btn btn-info mr-2 rounded-lg">
          <i class="fa fa-plus"></i> 
          <span> {{ $t('showcase.addAssociation') }} </span>
        </button>
        <div>
            {{ $t('showcase.associationsAvailables') }}:
            <span class="bg-primary rounded-lg text-white px-2 py-1 font-semibold">{{ entitiesAvailables }}</span>
        </div>
      </div>

      <div :class="{'col-lg-6': e.id}" class="col-12 p-2" v-for="(e,i) in entitiesAthlete" :key="i">

        <!-- New Club -->
        <div v-if="!e.id" class="flex justify-between w-full border py-1 px-2">

            <div class="flex flex-wrap w-11/12">
                <div class="px-0 col-12 col-sm-6 pt-2">
                <label for=""> {{ $t('showcase.association') }}  </label>
                <select class="form-control" v-model="e.type_entity">
                    <option :value="null">{{ $t('showcase.association') }}</option>
                    <option v-for="(s,j) in typesEntities" :key="j" :value="s.id">{{ $t('clubes.types.' + s.name) }}</option>
                </select>
                </div>

                <div class="px-0 sm:pl-2 col-12 col-sm-6 pt-2">
                    <label for=""> {{ $t('clubes.forms.name') }} </label>
                    <select :disabled="e.id" class="form-control" v-model="e.entity_id">
                        <!-- <option :value="null">{{ $t('clubes.types.Club') }}</option> -->
                        <option v-for="(s,j) in clubsSelect" :key="j" :value="s.id">{{ s.name }}</option>
                        <option value="other"> {{ $t('profile.athlete.otherClub') }} </option>
                    </select>
                    <input v-if="e.entity_id == 'other'" v-model="e.other_entity" class="mt-2 form-control" type="text" :placeholder="$t('profile.athlete.nameOtherClub')">
                </div>

            </div>
            <div class="w-6">
                <div>
                    <button @click.prevent="entitiesAthlete.splice(i,1)" class="w-4 h-4" title="Delete"> 
                        <img src="/img/profile/delete.png" alt=""> 
                    </button>
                </div>
            </div>
        </div>
        
        <!-- Clubs Added -->
        <div v-else class="row col-12 px-0 h-full">
          <div class="w-full px-2 border border-primary">
          <div class="mt-2 px-0 col-12">
              <div class="flex border-b pb-1 justify-between items-center">
                
                <div>
                    <strong> {{ $t('showcase.association') }}: </strong> {{ $t('clubes.types.' + e.entity.type.name) }}
                </div>
                 
                 <div>
                   <button class="w-auto h-4" title="Delete" @click.prevent="removeEntity(e.id)"> <img src="/img/profile/delete.png" alt=""> </button>
                 </div>
                </div>
                <div class="pt-1">
                    <strong>  {{ $t('clubes.forms.name') }}: </strong> {{ getNameClub(e.entity_id) }}
                </div>
                   
        </div>
          <div v-if="e.contacted" class="text-green-700 border-t pt-1 w-full text-right">
              {{ $t('showcase.associationContacted') }}
          </div>
        </div>

      </div>
      </div>


      <div class="px-1 w-full flex justify-end items-center">
        <button @click="saveClubsAthlete" type="button" class="mr-2 btn btn-success rounded-full">
            <i aria-hidden="true" class="fa fa-fw fa-save"></i>
            {{ $t('profile.submitProfileButton') }}
        </button>
        <a class="text-primary" href="/profile"> {{ $t('forms.cancel') }} </a>
    </div>
    </div>
</div>
</template>

<script>
import { mapState, mapActions } from "vuex";
import ClubsAchievements from './ClubsAchievements';
export default {
  data() {
    return {
      loading: false,
      clubs: [],
      entitiesAvailables: 0,
      typesEntities: [],
      entitiesAthlete: [],
      errors: [],
      editClub: null
    };
  },
  async created() {
    // this.getClubs();
    this.loading = true;
    this.initFields();
  },
  computed: {
    ...mapState(["user"]),
    clubsSelect() {
        // let currentEntitiesAthlete =  this.entitiesAthlete.filter((entity,i) => i != 0);
        // currentEntitiesAthlete  = this.entitiesAthlete.map(entity => entity.entity_id);
        if(!this.entitiesAthlete[0].type_entity) return [];
        return this.clubs.filter(c => {
          return c.type && c.type.id == this.entitiesAthlete[0].type_entity  
        }); 
    }
  },
  components: {
      ClubsAchievements
  },
  methods: {
    ...mapActions(["set_user"]),
    getClubs() {
      axios.get(`/api/clubs`).then(res => {
        this.clubs = res.data.entities;
      });
    },
    getEntitiesAvailables() {
      axios.get(`/api/athlete/entitiesAvailables`).then(res => {
        this.entitiesAvailables = res.data.entitiesAvailables;
      });
    },
    getTypesClubs() {
        axios.get('/api/clubs/types').then(res => {
            this.typesEntities = res.data.typesEntities;
            let entities = ['Club','University','Sponsor'];
            this.typesEntities = this.typesEntities.filter(e => entities.includes(e.name));
        });
    },
    async initFields() {
        this.getEntitiesAvailables();
        this.getClubs();
        if(this.typesEntities.length == 0) this.getTypesClubs();
        await this.set_user();
        this.entitiesAthlete = this.user.athlete.entities_prefered;
        this.loading = false;
    },
    addclub() {
      this.entitiesAthlete.unshift({
        type_entity: null,
        entity_id: null,
        other_entity: null
      });
      this.editClub = null;
    },
    removeEntity(idEntity) {
      let idToDelete = this.entitiesAthlete.findIndex(e => e.id == idEntity);
      this.entitiesAthlete.splice(idToDelete,1);
    },
    saveClubsAthlete() {
        $('#edit-athlete-success').addClass('hidden');
        $('#edit-athlete-error').addClass('hidden');
        $('#edit-athlete-error ul').html('');
        let data =  { clubs: this.entitiesAthlete };
        axios.post(`/api/athlete/${this.user.athlete.id}/showcase`, data)
        .then(
          res => {
            console.log(res);
            $('#edit-athlete-success').removeClass('hidden');
            $('#edit-athlete-success #message').html(res.data.msg);
            $("html, body").animate({ scrollTop: 0 }, "slow");
            // window.location.href = res.data.url;
            this.initFields();
          },
          error => {
              let errors = error.response.data.errors.errors ? error.response.data.errors.errors[0] : error.response.data.errors;
              console.log(errors);
              let html = '';
              errors.forEach(e => {
                  html += `<li>${e}</li>`;
              });
              $('#edit-athlete-error').removeClass('hidden');
              $('#edit-athlete-error ul').html(html);
              $("html, body").animate({ scrollTop: 0 }, "slow");

          }
        );
    },
    getNameClub(clubId) {
      let club = this.clubs.find(c => c.id == clubId);
      return club ? club.name : '';
    }
  }
};
</script>

<style>
</style>
