<template>
  <div>
    <h6 class="font-bold">{{ $t('profile.athlete.achievements') }}</h6>
    <div class="col-12 mt-2 px-0 pb-2 border-b" v-for="(a,i) in value" :key="i">
      <div class="flex w-full">
        <input type="text" v-model="a.name" @input="emitArray" class="w-6/7 form-control form-control-sm" />
        <div class="w-1/7 self-center" id="remove-field">
            <button @click.prevent="remove(i)">
            <svg width="25px" height="25px" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <line x1="8" y1="20" x2="20" y2="8" stroke="black" stroke-width="2" />
                <line x1="8" y1="8" x2="20" y2="20" stroke="black" stroke-width="2" />
            </svg>
            </button>
        </div>
      </div>
      <div class="pt-2 w-full flex">
        <select class="mr-1 form-control form-control-sm w-1/2 lg:w-1/3" v-model="a.month">
          <option :value="null">{{ $t('profile.athlete.month') }}</option>
          <option v-for="(s,j) in months" :key="j" :value="j">{{ s }}</option>
        </select>
        <select class="ml-1 form-control form-control-sm w-1/2 lg:w-1/3" v-model="a.year">
          <option :value="null">{{ $t('profile.athlete.year') }}</option>
          <option v-for="(s,j) in years" :key="j" :value="s">{{ s }}</option>
        </select>
      </div>
    </div>
    <div class="col-12 mt-2 px-0">
      <button @click.prevent="add" class="btn btn-sm btn-gray-outline rounded-full">
          <i class="fa fa-plus"></i> 
          {{ $t('profile.athlete.addAchievement') }}
        </button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: {
      required: true,
      type: Array
    }
  },
  model: {
    prop: "",
    event: "update"
  },
  computed: {
      months() {
          return JSON.parse(JSON.stringify(this.$t('forms.months')));
      },
      years() {
          let date = new Date();
          let years = [];
          let startYear = 2005;
          while (startYear <= date.getFullYear()) {
              years.push(startYear);
              startYear = startYear + 1;
          }
          return years;
      }
  },
  methods: {
    emitArray() {
      //   this.$emit('update:value',value);
    },
    add() {
      let arrayAux = this.value;
      arrayAux.push({ name: "", month: null, year: null });
      this.$emit("update:value", arrayAux);
    },
    remove(index) {
      console.log(index);
      let arrayAux = this.value;
      arrayAux.splice(index, 1);
      this.$emit("update:value", arrayAux);
    }
  }
};
</script>

<style>
</style>
