<template>
  <div class="flex flex-wrap mb-4">
    <div class="flex flex-wrap w-full mb-2 items-center">
        <h4 class="font-bold pr-2"> {{ $t('profile.images') }} </h4>
        <div v-if="!loading && user" class="w-auto">
              {{ $t('profile.imagesAvailables') }}:
              <span v-if="imagesAvailables == 'Unlimited'" class="bg-primary rounded-lg text-white px-2 py-1 font-semibold"> {{ $t('titles.'+imagesAvailables) }} </span>
              <span v-else class="bg-primary rounded-lg text-white px-2 py-1 font-semibold"> {{ imagesAvailables }} </span>
        </div>
    </div>
    <div v-if="loading" class="flex w-full items-center h-24">    
            <spinner class="mx-auto"></spinner>
    </div>
    <div v-else id="list-images" style="max-height: 20rem;overflow-y: scroll;" class="w-full flex flex-wrap my-2">
      <div v-for="(img,i) in media" :key="i" style="height: 130px;" class="relative pr-2 mb-2 overflow-hidden rounded-lg w-1/2 md:1/4 lg:w-1/5">
        <span @click.prevent="imagenDelete = img" class="z-30 delete-media close-icon">
          <img class="w-full" src="/img/profile/delete.png" alt="Delete Image">
        </span>
        <img @click="imagen = i"
          class="w-full h-full object-cover rounded-lg cursor-pointer"
          v-lazy="{ src: img.fullUrl, loading: '/img/default-img.png' }"
          :alt="img.name"
        />
      </div>
      <div v-if="baseurl && (imagesAvailables > 0 ||  imagesAvailables == 'Unlimited')" class="rounded-lg w-1/2 md:1/4 lg:w-1/5 pr-2">
        <vue-dropzone
          ref="myDropzone"
          style="height: 130px;"
          class="rounded-lg flex justify-center"
          @vdropzone-file-added="fileAdded"
          @vdropzone-success="resetDropzone"
          @vdropzone-error="errorUploadFile"
          id="dropzone"
          :options="dropzoneOptions"
          :use-custom-dropzone-options="true"
          :useCustomSlot="true"
        >
          <div class="dropzone-custom-content">
            <div class="text-xs dropzone-custom-title"> {{ $t('config.dropzoneLabel') }} </div>
          </div>
        </vue-dropzone>
        {{ error }}
    </div>
    <div v-if="user.isSubscribed && (imagesAvailables > 0 || imagesAvailables == 'Unlimited')" class="self-end mx-2 my-2 w-auto">
      <button @click="modalImageVisible = true" class="btn btn-gray-outline rounded-full"> {{ $t('profile.athlete.uploadImageFromUrl') }} </button>
    </div>
    </div>

    <div class="px-2 py-1 bg-gray-200 text-xs sm:text-sm border border-gray-500 rounded flex items-center">
      <i class="fa fa-info-circle"></i>
      <span class="pl-2">{{ $t('profile.athlete.uploadImageAdvice') }} </span>
    </div>
    <div v-if="user && user.athlete &&  imagesAvailables <= 0" class="mt-2s w-full">
       <div v-html="$t('profile.updatePlanLimitImages')"></div>
    </div>

    <!-- Modal Videos -->
    <modal-media :type="'image'" 
      :media="media[imagen]" 
      :countMedia="media.length" 
      :indexMedia="imagen" 
      @previous="imagen = imagen-1" 
      @next="imagen = imagen+1" 
      v-if="imagen != null"
      @close="imagen = null">
      </modal-media>
    
    <!-- Modal To Delete -->
    <modal v-if="imagenDelete" @close="imagenDelete = null">
      <div slot="body">
          <div class="col-12 py-2">
            {{ $t('profile.athlete.deleteImage') }}
          </div>
      </div> 
      <div slot="footer">
          <div class="pull-right">
            <button class="btn" @click.prevent="imagenDelete = null"> 
              <i class="fa fa-fw fa-close" aria-hidden="true"></i>
              {{ $t('forms.cancel') }}
            </button>
            <button class="btn btn-danger" @click.prevent="deleteMedia"> 
              <i class="fa fa-fw fa-trash-o" aria-hidden="true"></i>
              {{ $t('profile.athlete.delete') }} 
            </button>
          </div>
      </div> 
    </modal> 

    <!-- Modal to add image from URL -->
    <modal v-if="modalImageVisible" @close="modalImageVisible = false">
      <div slot="body">
          <div class="col-12 py-2">
            <label for=""> {{ $t('profile.athlete.url') }} </label>
            <input type="text" v-model="urlImage" class="form-control">
            <div class="text-danger pt-2" v-if="error"> {{ error }} </div>
          </div>
      </div> 
      <div slot="footer">
          <div class="pull-right">
            <button class="btn" @click.prevent="modalImageVisible = false"> 
              <i class="fa fa-fw fa-close" aria-hidden="true"></i>
              {{ $t('forms.cancel') }}
            </button>
            <button class="btn btn-success" @click.prevent="addMediaFromUrl"> 
              <i class="fa fa-fw fa-upload" aria-hidden="true"></i>
              {{ $t('profile.athlete.upload') }} 
            </button>
          </div>
      </div> 
    </modal> 


  </div>
</template>

<script>
import vue2Dropzone from "vue2-dropzone";
import "vue2-dropzone/dist/vue2Dropzone.min.css";
import { mapState, mapActions } from "vuex";
export default {
  data: function() {
    return {
      loading: false,
      media: [],
      indexGallery: 0,
      visibleGallery: false,
      types: ['png','jpeg','jpg'],
      baseurl: window.document.head.querySelector('meta[name="api-base-url"]').content,
      error: null,
      imagen: null,
      imagenDelete: null,
      urlImage: '',
      modalImageVisible: false
    };
  },
  computed: {
    dropzoneOptions() {
      if (!this.baseurl) return {};
      return {
        dictDefaultMessage: "Drop files here",
        dictRemoveFile: "Remove file",
        url: `${this.baseurl}/api/user/media/upload`,
        headers: { "X-CSRF-TOKEN": document.head.querySelector('meta[name="csrf-token"]').content },
        thumbnailWidth: 150,
        maxFilesize: 300,
        maxFiles: 1,
        addRemoveLinks: true,
        acceptedFiles: ".png,.jpeg,.jpg",
      };
    },
    imgsUrls() {
      return this.media.map(img => img.fullUrl);
    },
    imagesAvailables() {
      if(this.user.imagesToUpload == 'Unlimited') return 'Unlimited';
      return this.user.imagesToUpload - this.media.length >= 0 ? (this.user.imagesToUpload - this.media.length) : 0;

    }
  },
  components: {
    vueDropzone: vue2Dropzone
  },
  created() {
    let _this = this;
    setTimeout(function() {
      _this.getMedia();
    }, 1000);
  },
  props: {
    user: {
      required: true,
      default: null
    }
  },
  methods: {
    ...mapActions(["set_user"]),
    getMedia() {
      this.loading = this.media.length > 0 ? false : true;
      axios.get("api/user/media?type=images").then(res => {
        this.media = res.data.images;
        this.loading = false;
        if(this.$refs.myDropzone) this.$refs.myDropzone.removeAllFiles();
      });
    },
    fileAdded(file) {
      // console.log(file);
      // let type = file.type.split('/')[1];
      // if(type && !this.types.includes(type)) {
      //   this.$refs.myDropzone.removeAllFiles();  
      // }
    },
    resetDropzone(file, response) {
      console.log("Archivo Subido");
      this.getMedia();
    },
    deleteMedia() {
      axios.delete(`api/user/media/delete/${this.imagenDelete.id}`).then(res => {
        this.getMedia();
        this.imagenDelete = null;
      });
    },
    addMediaFromUrl() {
      this.error = null;
      if(this.urlImage != '') {
        axios.post(`${this.baseurl}/api/user/media/upload`,{url: this.urlImage}).then(res => {
            this.getMedia();
            this.modalImageVisible = false;
            this.urlImage = '';
        },
        err => {
          // console.log(err.response);
          if(err.response.status == 401) {
            
          } else {
            this.error = err.response.data.msg ? err.response.data.msg : err.response.data.errors.url[0];
          }
        });
      }
    },
    errorUploadFile(file, message, xhr) {
      if(xhr.status == 401) {
        this.$refs.myDropzone.removeAllFiles();
        this.error = '';
      } else {
        this.error = message;
      }
    }
  }
};
</script>

<style>
</style>
