<template>
  <div>
    <div class="pb-12">
      <div class="col-12 px-0">
        <h5 v-if="secondary" class="font-bold">{{ $t('titles.sport-secondary') }}</h5>  
        <h5 v-else class="font-bold">{{ $t('titles.sport') }}</h5>
      </div>
      <div class="mt-2 col-12 px-0 col-sm-8">
        <select @change="changeSport" class="form-control" v-model="sportSelected">
          <option v-if="!secondary" :value="null">{{ $t('titles.sport') }}</option>
          <option v-else :value="null">{{ $t('profile.label-doesnotApply') }} </option>  
          <option v-for="(s,i) in sports" :key="i" :value="s">{{ $t('sportfields.titles.' + s.name) }}</option>
        </select>
      </div>
      <div v-if="sportFields.length > 0" class="mt-4 px-0 col-12">
        <h6 class="font-bold">{{ $t('titles.fields') }}</h6>
        <div class="px-0 col-12 mt-2">
          <div v-for="(f,j) in sportFields" :key="j" class="px-0 pb-2 col-12 col-md-8 col-lg-7">
            <sport-input :sport.sync="sportSelected.name" :value.sync="f.value" :field="f"></sport-input>
          </div>
        </div>
      </div>
    </div>

    <div class="px-0 col-12 pt-6">
      <button @click="saveSportsAthlete" type="button" class="btn btn-success rounded-full">
        <i aria-hidden="true" class="fa fa-fw fa-save"></i>
        {{ $t('profile.submitProfileButton') }}
      </button>
    </div>
  </div>
</template>

<script>
import SportInput from "./SportInput";
export default {
  data() {
    return {
      athlete: null,  
      sports: [],
      sportSelected: null,
      sportFields: []
    };
  },
  props: {
    user: {
      required: true,
      default: null
    },
    secondary: {
        default:false
    }
  },
  components: {
    "sport-input": SportInput
  },
  created() {
    this.getSports(); 
  },
  methods: {
    getSports() {
      axios.get("/api/sports").then(res => {
        this.sports = res.data.sports;
        this.getAthlete();
      });
    },
    getAthlete() {
      axios.get(`/api/athlete/${this.user.athlete.id}`).then(res => {
        this.athlete = res.data.athlete;
        this.checkStatus();
      });
    },
    checkStatus() {
        if(!this.secondary){
            if(this.athlete.sport_id) {
                this.sportSelected = this.sports.find(s => s.id == this.athlete.sport.id);

                this.athlete.fields_sports.forEach(f => {
                    if(f.sport_id == this.athlete.sport_id && !f.is_secondary) {
                        let data = Object.assign(f.sportfield, { value: f.value });
                        this.sportFields.push(data);
                    }
                });

                this.sportSelected.fields.forEach(f => {
                    let exist = this.sportFields.find(sf =>  sf.id == f.id);
                    if(!exist) {
                      let data = Object.assign(f, { value: "" });
                      this.sportFields.push(data);
                    }
                });
            }

        } else {
            // Si es secundario
            if(this.athlete.secondary_sport_id) {
                this.sportSelected = this.sports.find(s => s.id == this.athlete.sport_secondary.id);

                this.athlete.fields_sports.forEach(f => {
                    if(f.sport_id == this.athlete.secondary_sport_id && f.is_secondary) {
                        let data = Object.assign(f.sportfield, { value: f.value });
                        this.sportFields.push(data);
                    }
                });
            }
        }
    },
    changeSport() {
      this.sportFields = [];
      if(this.sportSelected) {
        this.sportSelected.fields.forEach(f => {
          let data = Object.assign(f, { value: "" });
          this.sportFields.push(data);
        });
      }
    },
    saveSportsAthlete() {
      let data =  {
          sport: this.sportSelected,
          fields: this.sportFields,
          secondary: this.secondary
      }
      axios.post(`/api/athlete/${this.user.athlete.id}/sports`, data)
        .then(
          res => {
            console.log(res);
            $('#edit-athlete-success').removeClass('hidden');
            $('#edit-athlete-success #message').html(res.data.msg);
            $("html, body").animate({ scrollTop: 0 }, "slow");
            $('.nav-pills a[href=".clubs-tab"]').tab('show')
            // window.location.href = res.data.url;
          },
          error => {
            console.log(error);
          }
        );
    }
  }
};
</script>

<style>
</style>
