<template>
  <div>
      <div v-if="field" class="w-100">
        <div class="w-100">
           <label for=""> {{ getNameField(field.name) }} </label>
          <div v-if="field.fieldtype == 'select'">
            <select class="form-control" @focus="$emit('focus')" :value="value" @input="$emit('update:value', $event.target.value)">
              <option value=""></option>
              <option v-for="(v,i) in field.options_select" :key="i" :value="returnStringFromJson(v.name)">{{ getNameField(v.name) }}</option>
            </select>
          </div>
          <div v-else-if="field.fieldtype == 'text'">
            <input class="form-control" @focus="$emit('focus')" :value="value" @input="$emit('update:value', $event.target.value)" type="text"/>
          </div>
          <div v-else-if="field.fieldtype == 'number'">
            <input class="form-control" @focus="$emit('focus')" v-model="value" @change="$emit('input', $event.target.value)" type="number"/>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
    //   value: null
    };
  },
  props: {
    field: {
      required: true
    },
    value: {
      required: true  
    },
    sport: {
      required: true  
    }
  },
  model: {
    prop: '',
    event: 'update'
  },
  methods: {
    getNameField(name) {
      if(document.documentElement.lang == 'es') return name.es;
      return name.en;
    },
    returnStringFromJson(field) {
      return JSON.stringify(field);
    }
  }
  // computed: {
  //    options() {
  //        if(this.field.fieldtype != 'select') return [];
  //        return this.field.options_select.split(',');
  //    }  
  // }
};
</script>

<style>
</style>
