<template>
  <div class="relative card-p w-full flex flex-wrap">
    <div class="w-full relative pb-1 border-b">
        <h5 class="font-bold mb-2">{{ $t('profile.images') }}</h5>
        <div style="top: 100%" v-if="successMessage" class="z-30 w-full absolute alert alert-success alert-dismissable">
              <a href="#" @click.prevent="successMessage = ''" class="close" aria-label="close">&times;</a>
              <span id="message"> {{ successMessage }} </span>
        </div>
    </div>
    <div v-if="loading" class="flex items-center h-24">
      <spinner class="mx-auto"></spinner>
    </div>
    <div id="list-images" style="max-height: 20rem;overflow-y: scroll;" class="relative w-full flex flex-wrap my-2">
      <div v-if="images.length == 0">{{ $t('profile.athlete.noImages') }}</div>
      <div
        v-for="(img,i) in images"
        :key="i"
        style="height: 130px;"
        class="image-gallery relative pr-2 mb-2 overflow-hidden rounded-lg w-1/2 md:1/3 lg:w-1/4"
      >
        <button @click.prevent="modalReport(img)" class="btn-report"> {{ $t('reports.buttons.report') }} </button>
        <img
          @click="imagen = i"
          class="w-full h-full object-cover rounded-lg cursor-pointer"
          :src="img.fullUrl"
          :alt="img.name"
        />
      </div>
    </div>

    <!-- Modal Videos -->
    <modal-media
      :type="'image'"
      :media="images[imagen]"
      :countMedia="images.length"
      :indexMedia="imagen"
      @previous="imagen = imagen-1"
      @next="imagen = imagen+1"
      v-if="imagen != null"
      @close="imagen = null"
    ></modal-media>

    <!-- Modal To Report Image-->
    <modal v-if="imageToReport" @close="imageToReport = null">
      <div slot="body">
          <div class="col-12 py-2">
            {{ $t('reports.reportMessage',{'type': $t('profile.image')}) }}
          </div>
      </div> 
      <div slot="footer">
          <div class="pull-right">
            <button class="btn" @click.prevent="imageToReport = null"> 
              <i class="fa fa-fw fa-close" aria-hidden="true"></i>
              {{ $t('forms.cancel') }}
            </button>
            <button class="btn btn-danger" @click.prevent="reportImage"> 
              <i class="fa fa-fw fa-trash-o" aria-hidden="true"></i>
              {{ $t('reports.buttons.report') }} 
            </button>
          </div>
      </div> 
    </modal>

  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  data: function() {
    return {
      media: [],
      loading: true,
      types: ["png", "jpeg", "jpg"],
      baseurl: window.document.head.querySelector('meta[name="api-base-url"]')
        .content,
      error: null,
      imagen: null,
      imagenDelete: null,
      urlImage: "",
      modalImageVisible: false,
      imageToReport: null,
      successMessage: ''
    };
  },
  mounted() {
    this.loading = false;
  },
  computed: {
    images() {
      return this.user.media.filter(m => m.collection_name == "images");
    }
  },
  props: {
    user: {
      required: true,
      default: null
    }
  },
  methods: {
    modalReport(image) {
      this.imageToReport = image;
    },
    reportImage() {
      axios.post('/api/report',{id: this.imageToReport.id, type: 'image'}).then(res => {
        this.successMessage = res.data.msg;
        this.imageToReport = null;
      })
    }
  }
};
</script>

<style lang="scss" scoped>
button.btn-report {
  position: absolute;
  background-color: white;
  color: black;
  border-radius: 4px;
  font-size: .75rem;
  padding: 2px 3px;
  top: 5px;
  right: 10px;
  display: none;
  transition: .5s all ease-out;
}
.image-gallery:hover {
  button.btn-report {
    display: block;
  }
}
</style>
