<template>
  <div class="card-p w-full flex flex-wrap">
      <!-- <gallery :images="videos" :index="index" @close="index = null"></gallery> -->
    <div class="w-full relative pb-1 border-b">
        <h5 class="font-bold mb-2"> {{ $t('profile.videos') }} </h5>
        <div style="top: 100%" v-if="successMessage" class="z-30 w-full absolute alert alert-success alert-dismissable">
              <a href="#" @click.prevent="successMessage = ''" class="close" aria-label="close">&times;</a>
              <span id="message"> {{ successMessage }} </span>
        </div>
    </div>
    <div id="list-images" style="max-height: 20rem;overflow-y: scroll;" class="w-full flex flex-wrap my-2">
      <div v-if="videosOrdered.length == 0">  {{ $t('profile.athlete.noVideos') }} </div>
      <div
        v-for="(img,i) in videosOrdered"
        :key="i"
        style="height: 130px;"
        class="image-gallery relative pr-2 mb-2 overflow-hidden rounded-lg w-1/2 md:1/3 lg:w-1/4"
      >
      <button @click.prevent="modalReport(img)" class="z-50 btn-report"> {{ $t('reports.buttons.report') }} </button>
        <!-- Video -->
        <video v-if="img.fullUrl" @click.prevent="video = i" class="cursor-pointer w-full h-full object-cover rounded-lg">
            <source :src="img.fullUrl" :type="img.mime_type">
        </video>
        <div v-else @click.prevent="video = i" class="cursor-pointer w-full h-full object-cover rounded-lg">
          <iframe style="pointer-events:none;" @click.prevent="video = i" class="w-full h-full object-cover rounded-lg" :src="img.url" frameborder="0"></iframe>
        </div>
      </div>
    
    </div>
    

    <!-- Modal Videos -->
    <modal-media :type="'video'" 
      :media="videosOrdered[video]" 
      :countMedia="videosOrdered.length" 
      :indexMedia="video" 
      @previous="video = video-1" 
      @next="video = video+1" 
      v-if="video != null" 
      @close="video = null">
    </modal-media> 

    <!-- Modal To Report Image-->
    <modal v-if="videoToReport" @close="videoToReport = null">
      <div slot="body">
          <div class="col-12 py-2">
            {{ $t('reports.reportMessage',{'type': $t('profile.video')}) }}
          </div>
      </div> 
      <div slot="footer">
          <div class="pull-right">
            <button class="btn" @click.prevent="videoToReport = null"> 
              <i class="fa fa-fw fa-close" aria-hidden="true"></i>
              {{ $t('forms.cancel') }}
            </button>
            <button class="btn btn-danger" @click.prevent="reportVideo"> 
              <i class="fa fa-fw fa-trash-o" aria-hidden="true"></i>
              {{ $t('reports.buttons.report') }} 
            </button>
          </div>
      </div> 
    </modal>

  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  data: function() {
    return {
      media: [],
      urls: [],
      baseurl: window.document.head.querySelector('meta[name="api-base-url"]').content,
      error: null,
      video: null,
      videoDelete: null,
      urlVideo: '',
      modalImageVisible: false,
      videoToReport: null,
      successMessage: ''
    };
  },
  computed: {
    videosOrdered() {
      let videos = this.user.media.filter(m => m.collection_name == 'videos');
      let result = [...videos, ...this.user.mediaurls];
      result = result.sort(function(a,b){
        // Turn your strings into dates, and then subtract them
        // to get a value that is either negative, positive, or zero.
        return -(new Date(b.updated_at) - new Date(a.updated_at));
      });
      return result;
    }
  },
  props: {
    user: {
      required: true,
      default: null
    }
  },
  methods: {
    modalReport(video) {
      this.videoToReport = video;
    },
    reportVideo() {
      let type = this.videoToReport.fullUrl ? 'video' : 'videoUrl';
      axios.post('/api/report',{id: this.videoToReport.id, type: type}).then(res => {
        this.successMessage = res.data.msg;
        this.videoToReport = null;
      })
    }
  }
};
</script>

<style lang="scss" scoped>
button.btn-report {
  position: absolute;
  background-color: white;
  color: black;
  border-radius: 4px;
  font-size: .75rem;
  padding: 2px 3px;
  top: 5px;
  right: 10px;
  display: none;
  transition: .5s all ease-out;
}
.image-gallery:hover {
  button.btn-report {
    display: block;
  }
}
</style>