// Colors
$white: #ffffff;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #be1f2e;

// Transitions
$transitionSpeed: 0.15s;

// Radius'
$standardRadius: 5px;

// Breakpoints
$breakpoint-xs: 500px;
$breakpoint-sm: 650px;
