<template>
<div class="w-full sm:w-11/12 md:w-4/5 lg:w-3/4 mx-auto">
  <div class="w-full card-p">
    <div class="w-full">
      <div v-if="user" class="flex flex-col justify-between h-96 w-full px-2">
        <div class="text-lg mb-4 border-b pb-1 w-full">
          <span>{{ $t('messages.conversationWithAdmin') }}</span>
        </div>
        <div class="w-full h-64 sm:h-96 overflow-y-scroll flex flex-col">
          <div class="fix" style="margin-top: auto; width: 100%;">
            <div class="w-full" v-for="(m,i) in threadLocal.messages" :key="i">
              <div class="flex justify-end mx-2 mb-2" v-if="m.user.id == user.id">
                <div class="rounded-xl px-4 py-2 bg-primary">
                  <span class="d-block leading-tight text-white">{{ m.body }}</span>
                  <span
                    class="d-block leading-tight text-white text-xs"
                  >{{ getTextDay(m.created_at) }}</span>
                </div>
              </div>
              <div class="flex justify-start mx-2 mb-2" v-else>
                <div class="rounded-xl px-4 py-2 bg-white border border-primary">
                  <span class="d-block leading-tight text-black">{{ m.body }}</span>
                  <span
                    class="d-block leading-tight text-gray-600 text-xs"
                  >{{ getTextDay(m.created_at) }}</span>
                </div>
              </div>
              <!-- {{ m. }} -->
            </div>
          </div>
        </div>
        <!-- New message -->
        <div class="w-full relative mt-2">
          <!-- <input type="text" class="form-control" v-model="text" :placeholder="$t('messages.inputPlaceholder')"/> -->
          <div class="flex px-2 py-1">
            <input class="w-auto flex-grow form-control" v-model="text" type="text" />
            <div class="w-auto pl-2">
              <button
                :disabled="text == ''"
                @click.prevent="sendMessage"
                class="btn btn-success rounded-full mb-1"
              >{{ $t('messages.send') }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";
import { isToday } from "@/utils/functions.js";
export default {
  data() {
    return {
      text: "",
      threadLocal: null
    };
  },
  created() {
    this.set_user();
    this.threadLocal = this.thread;
    this.listenSocket();
  },
  computed: {
    ...mapState(["user"])
  },
  props: {
    thread: {
      required: true,
      type: Object
    }
  },
  methods: {
    ...mapActions(["set_user"]),
    sendMessage() {
      // Message to existing thread
      if (this.text) {
        axios.post(`/api/threads/${this.threadLocal.id}/messages`, {text: this.text})
          .then(res => {
            this.threadLocal = res.data.thread;
            this.text = '';
          });
      }
    },
    listenSocket() {
      Echo.private(`thread.${this.thread.id}`).listen("MessagePushed", e => {
        console.log(e);
        e.thread['cant'] = this.threadLocal['cant'] + 1;
        this.threadLocal = e.thread;  
        this.$forceUpdate();
      });
    },
    getTextDay(date) {
      // let diffInHours = diffHours(new Date(date),new Date());
      // console.log(diffInHours);
      if (isToday(new Date(date))) return dayjs(date).format("HH:mm");
      else return dayjs(date).format("DD/MM/YYYY HH:mm");
    }
  }
};
</script>
<style lang="scss" scoped>
.btn-send-message {
  position: absolute;
  right: 5px;
  top: 5px;
}
</style>