<template>
  <div class="w-full card-p">
    <div class="w-full">
      <div class="border-b pb-2 flex items-center">
        <h4 class="font-bold">{{ $t('messages.title') }}</h4>
        <div class="pl-4">
          <button @click="showNewThread" class="btn btn-info rounded-full">
            <i class="fa fa-plus"></i>
            {{ $t('messages.newMessage') }}
          </button>
        </div>
      </div>
      <div class="w-full pt-2 border-b pb-2 px-2">
        <div class="w-full sm:w-2/5 lg:w-2/5">
          <div class="w-full flex flex-wrap justify-between items-center">
            <h5 class="font-semibold">{{ $t('messages.conversations') }}</h5>
            <div class="w-full lg:w-3/5 lg:pl-2 relative">
              <input class="z-20 rounded-lg form-control" :placeholder="$t('profile.filters.search')" type="text" v-model="textFilterThreads">
              <div class="absolute inset-y-0 right-0 flex justify-end items-center">
                <i class="mr-1 fa fa-2x fa-search fa-fw text-gray-300"></i>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap w-full pt-4 mx-0 sm:mx-2">
        <!-- Conversations -->
        <div class="w-full sm:w-2/5 lg:w-2/5">
          
          <div v-if="loading" class="flex items-center h-24">
            <spinner class="mx-auto"></spinner>
          </div>
          <div class="border-0 sm:border-r h-48 sm:h-128 overflow-y-scroll" v-else-if="user">
            <div class="thread hover:bg-gray-200 w-full border-b py-1 relative"
                 v-for="(t,i) in threadsFiltered" :key="i">
            <div @click.prevent="deleteThread = t" class="icon-close">
              <img class="w-full" src="/img/close-icon.png" :alt="$t('messages.archive')">
            </div>
            <div class="w-full relative">
              <!-- Chequeamos si es una conversación con un Admin -->
              <div @click="showThread(t,null)" v-if="user.profileText != 'administrator' && t.subject.includes('Conversation between ADMIN and user')" class="h-16">
                  {{ $t('messages.conversationWithAdmin') }}
              </div>
              <div class="w-full" v-else>
                <div @click="showThread(t,u)" class="flex items-center" v-for="(u,j) in getParticipants(t.participants)" :key="j">
                  <user-photo class="mr-4 w-16" :user="u"></user-photo>
                  <div>
                    <a @click.stop="goToProfile($event)" class="z-40" :href="'/p/profile/'+getLinkToUser(u.fullName,u.uuid)" :class="{'font-semibold': (t.cant && t.cant > 0)}">{{ u.fullName }}</a>
                    <div class="capitalize text-gray-600">{{ u.profileText }}</div>
                  </div>
                  <div v-if="t.cant && t.cant > 0" class="rounded-full flex items-center justify-center h-6 w-6 bg-gray-900 text-white ml-auto mr-2 mt-2"> {{ t.cant }} </div>
                </div>
              </div>
              <div class="absolute right-0 bottom-0 px-2">
                <div class="text-gray-600 text-xs">{{ getTextDay(t.updated_at) }}</div>
              </div>
              </div>
            </div>
            <!-- More Info -->
            <!-- <div class="mt-2 flex justify-center">
                <button class="hover:underline" @click="getMoreThreads" v-if="!loading &&  moreData"> {{ $t('messages.moreResults') }} </button>
            </div> -->

            <div v-if="threads.length == 0">{{ $t('messages.noConversations') }}</div>
          </div>
        </div>

        <div class="border-t sm:border-0 mt-4 sm:mt-0 w-full sm:w-3/5 lg:w-3/5">
          <thread v-if="currentThread" @sendMessage="sendMessage" :value.sync="currentThread"></thread>
          <new-thread
            :value.sync="newMessage"
            @send="createThread"
            @selected="checkUserSelected"
            :users="usersTo"
            v-if="newMessage.visible"
          ></new-thread>
        </div>
      </div>
    </div>

    <!-- Modal delete conversation -->
    <modal class="modal-article" v-if="deleteThread" @close="deleteThread = null">
      <div slot="body">
          <div class="col-12 py-2">
                {{ $t('messages.archiveConversation') }}
            </div>
      </div>
      <div slot="footer">
          <div class="pull-right">
            <button class="btn" @click.prevent="deleteThread = null"> 
              <i class="fa fa-fw fa-close" aria-hidden="true"></i>
              {{ $t('forms.cancel') }}
            </button>
            <button class="btn btn-danger" @click.prevent="archiveThread"> 
              <i class="fa fa-fw fa-trash-o" aria-hidden="true"></i> {{ $t('messages.archive') }} 
            </button>
          </div>
      </div>
    </modal>

  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";
import NewThread from "./NewThread";
import Thread from "./Thread";
import { isToday } from '@/utils/functions.js';
import linkToShowUserMixin from '@/mixins/linkToShowUserMixin.js';
export default {
  data() {
    return {
      loading: false,
      threads: [],
      textFilterThreads: '',
      currentThread: null,
      deleteThread: null,
      current_page: 1,
      moreData: true,
      usersTo: [],
      newMessage: {
        visible: false,
        to: null,
        text: ""
      },
      users: []
    };
  },
  components: {
    NewThread,
    Thread
  },
  async created() {
    await this.set_user();
    await this.getUsersToMessages();
    // this.getTypeUsers("admin");
    // if (this.user.profileText == "administrator") {
      // this.getTypeUsers("scout");
      // this.getTypeUsers("athlete");
    // }
    this.getThreads();
    this.listenNewThread();
  },
  mixins: [linkToShowUserMixin],
  computed: {
    ...mapState(["user"]),
    threadsFiltered() {
      if(this.textFilterThreads == '') return this.threads;
      let _this = this;
      return _.filter(this.threads, function(t) {
        return t.participantNotCurrentUser.user.fullName.toLowerCase().includes(_this.textFilterThreads.toLowerCase());
      });
    },
    // isMoreMessages() {
    //       if(!this.current_page) return true;
    //       if(this.threads.length > 0 && this.current_page != this.last_page) return true;
    //       return false;
    //   }
  },
  methods: {
    ...mapActions(["set_user"]),
    getThreads() {
      this.loading = this.threads.length > 0 ? false : true;
      axios.get("/api/threads").then(res => {
        // this.threads = res.data.threads.data;
        // this.moreData = res.data.threads.next_page_url ? true : false;
        this.threads = res.data.threads;
        this.threads.forEach(t => this.listenSocket(t.id));
        this.loading = false;
        // Si tenemos un usuario preseleccionado abrimos un nuevo hilo para escribirle.
        var urlParams = new URLSearchParams(window.location.search);
        if(urlParams.get('id')) this.showNewThread();
      });
    },
    getUsersToMessages() {
      return new Promise((resolve,reject) => {
        axios.get('api/usersToMessages').then(res => {
          this.usersTo = res.data.users;
          resolve(true);
        });
      })
    },
    checkUserSelected(userSelectedId) {
      this.threads.forEach(t => {
        if(t.participantNotCurrentUser.user_id == userSelectedId) {
           this.currentThread = t;
           this.newMessage.visible = false;
           this.newMessage.to = null;
           this.newMessage.text = ''; 
        }
      })
      // console.log(userSelectedId);
    },
    // getMoreThreads() {
    //   this.current_page += 1;;
    //   axios.get(`api/threads?page=${this.current_page}`).then(res => { 
    //     res.data.threads.data.forEach(t => this.listenSocket(t.id));
    //     this.threads = [...this.threads,...res.data.threads.data];
    //     this.moreData = res.data.threads.next_page_url ? true : false;
    //     // this.current_page = 
    //   });
    // },
    listenNewThread() {
      Echo.private(`users.${this.user.id}`).listen("NewThread", e => {
        console.log(e);
        e.thread['cant'] = 1;
        this.threads.unshift(e.thread);
        this.listenSocket(e.thread.id);
      });
    },
    listenSocket(threadId) {
      Echo.private(`thread.${threadId}`).listen("MessagePushed", e => {
        console.log(e);
        // this.getThreads();
        this.threads.forEach((t, i) => {
          if (t.id == e.thread.id) {
            e.thread['cant'] = this.threads[i]['cant'] + 1;
            this.threads[i] = e.thread;
            // console.log();
            // this.threads[i]['cant'] = this.threads[i]['cant'] + 1;
            if(this.currentThread && t.id == this.currentThread.id) this.currentThread = this.threads[i];  
          }
          // this.$emit("update:value", e.thread);
        });
        // this.$forceUpdate();
        this.threads = _.orderBy(this.threads,'updated_at','desc');
        this.$forceUpdate();
      });
    },
    getTypeUsers(typeUser) {
      axios.get(`/api/users?typeUser=${typeUser}`).then(res => {
        this.users.push(...res.data.users);
      });
    },
    createThread() {
      if (this.newMessage.to != null && this.newMessage.text) {
        let data = {
          to: this.newMessage.to.id,
          text: this.newMessage.text
        };
        axios.post("api/threads", data).then(res => {
          this.newMessage.to = null;
          this.newMessage.text = "";
          this.newMessage.visible = false;
          // this.getThreads();
          this.threads.unshift(res.data.thread);
          this.listenSocket(res.data.thread.id);
        });
        // console.log(this.newMessage);
      }
    },
    archiveThread() {
      axios.delete(`/api/threads/${this.deleteThread.id}`).then(res => {
        const indexThread = this.threads.findIndex(t => t.id == this.deleteThread.id);
        this.threads.splice(indexThread,1);
        
        if(this.currentThread && this.deleteThread.id == this.currentThread.id) this.currentThread = null;
        this.deleteThread = null;
      });
    },
    sendMessage(text) {
      // Message to existing thread
      if (text) {
        axios
          .post(`/api/threads/${this.currentThread.id}/messages`, {
            text: text
          })
          .then(res => {
            this.currentThread = res.data.thread;
            this.threads.forEach((t, i) => {
                 if (t.id == res.data.thread.id) {
                   this.threads[i] = res.data.thread;
                 }
            });
            this.threads = _.orderBy(this.threads,'updated_at','desc');
          });
      }
    },
    getParticipants(participants) {
      let participantsExceptCurrentUser = [];
      if(this.user.profileText == 'administrator') {
        participantsExceptCurrentUser = participants.filter(p => p.user.id != this.user.id && p.user.profileText != 'administrator');
      } else {
        participantsExceptCurrentUser = participants.filter(p => p.user.id != this.user.id);
      }
      return _.map(participantsExceptCurrentUser, "user");
    },
    showNewThread() {
      this.currentThread = null;
      this.newMessage.visible = true;
    },
    showThread(thread,user) {
      const followedIds = this.user.followed.map(user => user.following_user_id);
      // console.log(followedIds);
      // Si no seguimos al usuario no se puede responder el mensaje.
      if(this.user.profileText != 'administrator' && user && !followedIds.includes(user.id)) {
        $('#adviceFollowUserToSendMessage').modal('show');
        return;
      }
      this.newMessage.visible = false;
      this.currentThread = null;
      // Mark thread as read to Current User.
      if(thread.cant > 0) this.markThreadAsRead(thread.id);
      this.threads.forEach((t, i) => {
          if (t.id == thread.id) {
            t.cant = 0;   
          }
          if($('.sidebar .count-messages').length > 0) {
            let cant = parseInt($('.sidebar .count-messages').html()) - 1;
            // console.log(cant);
            if(cant > 0) $('.sidebar .count-messages').html(cant);
            else $('.sidebar .count-messages').html(" ");
          }
        });

      this.currentThread = thread;
    },
    getTextDay(date) {
      // console.log(diffInHours);
      if (isToday(new Date(date))) return dayjs(date).format("HH:mm");
      else return dayjs(date).format("DD/MM/YYYY HH:mm");
    },
    markThreadAsRead(threadId) {
      axios.post(`api/threads/${threadId}/messages/markAsRead`).then(res => {

      });
    },
    goToProfile(event) {
      // console.log(event);
    }
  }
};
</script>
<style lang="scss" scoped>
.thread {
  transition: 0.5s all ease-out;
  cursor: pointer;
  .icon-close {
      position: absolute;
      right: 7px;
      top: 7px;
      width: 12px;
      height: 12px;
      z-index: 30;
  }
}
</style>