<template>
  <div class="pt-2 w-full">
    <div class="col-12 form-group">
      <label class="control-label" for>{{ $t('messages.to') }}</label>
      <multiselect
        ref="tofield"
        v-model="value.to"
        track-by="fullName"
        :customLabel="getLabelUsers"
        placeholder
        :options="users"
        @select="selectOption"
        open-direction="bottom"
        :searchable="true"
        :show-no-results="false"
        :show-labels="false"
      >
        <span slot="noResult">{{ $t('messages.noResults') }}</span>
        <span slot="noOptions">{{ $t('messages.noResults') }}</span>
      </multiselect>
    </div>
    <div class="col-12 flex py-1 items-end">
      <div class="w-auto flex-grow form-group mb-0">
        <label for>{{ $t('messages.message') }}</label>
        <textarea
          v-if="!onlyPredeterminedMessage"
          class="form-control"
          v-model="value.text"
          type="text"
        ></textarea>
        <div v-else class="px-2 py-2 border" v-html="value.text"></div>
      </div>
      <div class="w-auto pl-2">
        <button
          @click.prevent="createThread"
          class="btn btn-success rounded-full"
        >{{ $t('messages.send') }}</button>
      </div>
      <!-- <input class="form-control" v-model="value.text" disabeld="true"/> -->
      <!-- <div class="flex pt-2">
        <span @click="value.text = m" class="rounded-lg px-4 py-2 bg-gray-200 m-1 cursor-pointer" v-for="(m,j) in $t('messages.defaultMessages')" :key="j">
          {{ m['name'] }}
        </span>
      </div>-->
    </div>
  </div>
</template>
<script>
import Multiselect from "vue-multiselect";
import { mapState } from "vuex";
export default {
  data() {
    return {
      text: "",
      onlyPredeterminedMessage: false
    };
  },
  components: { Multiselect },
  props: {
    value: {
      required: true,
      type: Object
    },
    users: {
      required: true,
      type: Array
    }
  },
  destroyed() {
    this.value.to = null;
    this.value.text = "";
  },
  computed: {
    ...mapState(["user"])
  },
  mounted() {
    // console.log(this.$refs.tofield);
    // this.$refs.tofield.activate();
    var urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get("id")) {
      // console.log(urlParams.get("id"));
      let user = this.users.find(user => user.id == urlParams.get("id"));
      // console.log(user);
      if (user != null) {
        // this.selectOption(user)
        this.value.to = user;
        // this.$emit("selected", user.id);
        if (this.user.athlete && user.scout) {
          this.onlyPredeterminedMessage = true;
          this.value.text = this.$t("messages.defaultMessageToScout", {
            link: this.user.urlProfile
          });
        } else {
          this.onlyPredeterminedMessage = false;
          this.value.text = "";
        }
      } else {
        // this.$emit("selected", user.id);
        // this.$refs.tofield.activate();  
      }
      this.$emit("selected",urlParams.get("id"));
      history.replaceState(null,null,'/messages');
      
      // urlParams.delete('id');
    } else {
      this.$refs.tofield.activate();
    }
  },
  methods: {
    createThread() {
      this.$emit("update:value", this.value);
      this.$emit("send", true);
    },
    getLabelUsers(user) {
      return `${user.fullName} - ${user.profileText}`;
    },
    selectOption(user) {
      // console.log(user);
      this.$emit("selected", user.id);
      if (this.user.athlete && user.scout) {
        this.onlyPredeterminedMessage = true;
        this.value.text = this.$t("messages.defaultMessageToScout", {
          link: this.user.urlProfile
        });
      } else {
        this.onlyPredeterminedMessage = false;
        this.value.text = "";
      }
    }
  }
};
</script>