<template>
    <div v-if="user" class="flex flex-col justify-between h-full w-full sm:pl-4 sm:pr-2">
        <div class="text-lg mb-2 w-full">
            <div v-if="user.profileText != 'administrator' && value.subject.includes('Conversation between ADMIN and user')">
                {{ $t('messages.conversationWithAdmin') }}
            </div> 
            <div class="flex flex-wrap w-auto" v-else>
                <span class="pr-1"> {{ $t('messages.conversationWith') }}:  </span>
                <span class="flex items-center" v-for="(u,j) in participants" :key="j">  
                    <a class="font-semibold" :href="'/p/profile/'+getLinkToUser(u.fullName,u.uuid)">  {{ u.fullName }} </a>
                </span>
            </div> 
        </div>
        
        <div class="relative w-full h-64 sm:h-96 overflow-y-scroll flex flex-col justify-end">
            <div v-if="successMessage" class="absolute top-0 z-30 w-full alert alert-success alert-dismissable">
                  <a href="#" @click.prevent="successMessage = ''" class="close" aria-label="close">&times;</a>
                  <span id="message"> {{ successMessage }} </span>
            </div>
            <div class="flex flex-col items-end" style="width: 100%;">
                <div class="w-full" v-for="(m,i) in value.messages" :key="i">
                    <div class="relative flex justify-end mx-2 mb-2" v-if="m.user.id == user.id">
                        <div class="rounded-xl px-4 py-2 bg-primary">
                            <span class="d-block leading-tight text-white" v-html="m.body"> </span>
                            <span class="d-block leading-tight text-white text-xs"> {{ getTextDay(m.created_at) }} </span>
                        </div>
                    </div>
                    <div class="message-visitor flex justify-start mx-2 mb-2" v-else>
                        <div class="relative rounded-xl pl-4 pr-12 py-2 bg-white border border-primary">
                            <div v-if="m.user && user && m.user.id != user.id" class="btn-report absolute mx-2 right-0 bottom-0 pb-1">
                                <button @click.prevent="modalReport(m)" class="text-xs text-gray-800"> {{ $t('reports.buttons.report') }} </button>
                            </div>
                            <span class="d-block leading-tight text-black" v-html="m.body"> </span>
                            <span class="d-block leading-tight text-gray-600 text-xs"> {{ getTextDay(m.created_at) }} </span>
                        </div>
                    </div>
                    <!-- {{ m. }} -->
                </div>
            </div>
        </div>
        <!-- New message -->
        <div class="w-full relative mt-2">
            <!-- <input type="text" class="form-control" v-model="text" :placeholder="$t('messages.inputPlaceholder')"/> -->
            <div class="flex items-end px-2 py-1">
                <textarea :disabled="deniedWriteAthlete" class="w-auto flex-grow form-control" v-model="text" type="text"></textarea>
                <!-- <input v-else type="text" class="w-4/5 form-control"> -->
                <!-- <div v-if="onlyPredeterminedMessage" class="flex-grow h-10 border"> {{ text ? text : '' }} </div> -->
                <div class="w-auto pl-2">
                    <button :disabled="text == ''" @click.prevent="sendMessage" class="btn btn-success rounded-full mb-1"> {{ $t('messages.send') }} </button>
                </div>
            </div>
        </div>

    <!-- Modal To Report Message Chat-->
    <modal v-if="commentToReport" @close="commentToReport = null">
      <div slot="body">
          <div class="col-12 py-2">
            {{ $t('reports.reportMessage',{'type': $t('reports.types.Message')}) }}
          </div>
      </div> 
      <div slot="footer">
          <div class="pull-right">
            <button class="btn" @click.prevent="commentToReport = null"> 
              <i class="fa fa-fw fa-close" aria-hidden="true"></i>
              {{ $t('forms.cancel') }}
            </button>
            <button class="btn btn-danger" @click.prevent="reportMessage"> 
              <i class="fa fa-fw fa-trash-o" aria-hidden="true"></i>
              {{ $t('reports.buttons.report') }} 
            </button>
          </div>
      </div> 
    </modal>

    </div>
</template>
<script>
import { mapState, mapActions } from "vuex";
import { isToday } from '@/utils/functions.js';
import linkToShowUserMixin from '@/mixins/linkToShowUserMixin.js';
export default {
    data() {
        return {
            text: '',
            onlyPredeterminedMessage: false,
            textPredetermined: '',
            threadLocal: null,
            commentToReport: null,
            successMessage: ''
        }
    },
    created() {
        this.threadLocal = this.value;
    },
    mixins: [linkToShowUserMixin],
    computed: {
        ...mapState(["user"]),
        participants() {
            if(!this.user) return [];
            let participantsExceptCurrentUser = [];
            if(this.user.profileText == 'administrator') {
                participantsExceptCurrentUser = this.value.participants.filter(p => p.user.id != this.user.id && p.user.profileText != 'administrator');
            } else {
                participantsExceptCurrentUser = this.value.participants.filter(p => p.user.id != this.user.id);
            }
            // let participantsExceptCurrentUser = this.value.participants.filter(p => p.user.id != this.user.id);
            return _.map(participantsExceptCurrentUser,'user'); 
        },
        deniedWriteAthlete() {
            if(!this.user) return false;
            if(this.participants.length == 0) return false;
            // let messagesSentByScout = this.value.messages.filter(m => m.user.id =! this.user.id);
            return (this.user.athlete 
                    && this.participants[0].scout 
                    && (this.value.messages[0].user_id == this.user.id) 
                    && this.value.messages.length == 1) 
                    ? true : false;
        }
    },
    props: {
        value: {
            required: true,
            type: Object
        }
    },
    methods: {
        sendMessage() {
            this.$emit('sendMessage',this.text);
            let _this = this;
            setTimeout(() => {
                _this.text = '';
            }, 300);
        },
        getTextDay(date) {
            // let diffInHours = diffHours(new Date(date),new Date());
            // console.log(diffInHours);
            if (isToday(new Date(date))) return dayjs(date).format("HH:mm");
            else return dayjs(date).format("DD/MM/YYYY HH:mm");
        },
        modalReport(comment) {
            this.commentToReport = comment;
        },
        reportMessage() {
            this.successMessage = '';
            axios.post('/api/report',{id: this.commentToReport.id, type: 'messageChat'}).then(res => {
                this.successMessage = res.data.msg;
                this.commentToReport = null;
            })
        }
    }
}
</script>
<style lang="scss" scoped>
.btn-send-message {
  position: absolute;
  right: 5px;
  top: 5px;
}
</style>